In [1]:
%matplotlib notebook
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('resources/fdata.csv')
df.head()

,Confirmed,Country_Region,Deaths,Last_Update,Latitude,Longitude,Province_State,Recovered
0,1.0,China,0.0,1/22/2020 17:00,30.6007,117.9249,Anhui,0.0
1,14.0,China,0.0,1/22/2020 17:00,40.2374,116.2305,Beijing,0.0
2,6.0,China,0.0,1/22/2020 17:00,29.4316,106.9123,Chongqing,0.0
3,1.0,China,0.0,1/22/2020 17:00,26.4837,117.9249,Fujian,0.0
4,0.0,China,0.0,1/22/2020 17:00,35.7518,104.2861,Gansu,0.0

In [12]:
df1 = df.set_index('Country_Region')
#df2= df.set_index(['Country_Region','Last_Update'])
df1

,Confirmed,Deaths,Last_Update,Latitude,Longitude,Province_State,Recovered
Country_Region,,,,,,,
China,1.0,0.0,1/22/2020 17:00,30.600700,117.924900,Anhui,0.0
China,14.0,0.0,1/22/2020 17:00,40.237400,116.230500,Beijing,0.0
China,6.0,0.0,1/22/2020 17:00,29.431600,106.912300,Chongqing,0.0
China,1.0,0.0,1/22/2020 17:00,26.483700,117.924900,Fujian,0.0
China,0.0,0.0,1/22/2020 17:00,35.751800,104.286100,Gansu,0.0
...,...,...,...,...,...,...,...
West Bank and Gaza,374.0,2.0,2020-04-15 22:56:32,31.952200,35.233200,NaN,63.0
Western Sahara,6.0,0.0,2020-04-15 22:56:32,24.215500,-12.885800,NaN,0.0
Yemen,1.0,0.0,2020-04-15 22:56:32,15.552727,48.516388,NaN,0.0
Zambia,48.0,2.0,2020-04-15 22:56:32,-13.133897,27.849332,NaN,30.0
Zimbabwe,23.0,3.0,2020-04-15 22:56:32,-19.015438,29.154857,NaN,1.0

In [13]:
China = df1.filter(like='China', axis=0)
len(China)

2724

In [ ]:
df.describe()

In [ ]:
country = df.groupby('Country_Region')

In [ ]:
country.mean().sort_values(by=['Confirmed','Deaths'], ascending=False, na_position='first')

In [14]:
China.to_csv('resources/China_csv')