In [1]:
import os
import glob
import pandas as pd
os.chdir("resources/1")

In [13]:
df1 = pd.read_csv('02-22-2020.csv')
df1.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Hubei,Mainland China,2020-02-22T23:33:06,64084,2346,15299
1,Guangdong,Mainland China,2020-02-22T10:03:04,1339,5,728
2,Henan,Mainland China,2020-02-22T14:13:38,1270,19,830
3,Zhejiang,Mainland China,2020-02-22T11:13:13,1205,1,719
4,Hunan,Mainland China,2020-02-22T10:03:04,1013,4,692

In [14]:
df2 = pd.read_csv('../../resources/2/03-01-2020.csv')
df2.head(2)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000

In [15]:
#Use glob to match the pattern ‘csv’
#extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format('csv'))]

In [16]:
#Combine all files in the list
data1= pd.concat([pd.read_csv(f) for f in all_filenames ])

C:\Users\super\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [18]:
data = pd.merge(data1,
                df2[['Province/State', 'Latitude', 'Longitude']],
                how='left',
                on='Province/State')
data.head()

,Confirmed,Country/Region,Deaths,Last Update,Province/State,Recovered,Unnamed: 0,Latitude,Longitude
0,1.0,Mainland China,NaN,1/22/2020 17:00,Anhui,NaN,NaN,31.8257,117.2264
1,14.0,Mainland China,NaN,1/22/2020 17:00,Beijing,NaN,NaN,40.1824,116.4142
2,6.0,Mainland China,NaN,1/22/2020 17:00,Chongqing,NaN,NaN,30.0572,107.8740
3,1.0,Mainland China,NaN,1/22/2020 17:00,Fujian,NaN,NaN,26.0789,117.9874
4,NaN,Mainland China,NaN,1/22/2020 17:00,Gansu,NaN,NaN,36.0611,103.8343

In [19]:
data1.rename(columns={'Last Update':'Last_Update','Province/State':'Province_State','Country/Region':'Country_Region'}, inplace=True) 
data1.head(2)

,Confirmed,Country_Region,Deaths,Last_Update,Province_State,Recovered,Unnamed: 0
0,1.0,Mainland China,NaN,1/22/2020 17:00,Anhui,NaN,NaN
1,14.0,Mainland China,NaN,1/22/2020 17:00,Beijing,NaN,NaN

In [20]:
data = data1.drop(['Unnamed: 0'], axis = 1)
data.head(2)

,Confirmed,Country_Region,Deaths,Last_Update,Province_State,Recovered
0,1.0,Mainland China,NaN,1/22/2020 17:00,Anhui,NaN
1,14.0,Mainland China,NaN,1/22/2020 17:00,Beijing,NaN

In [21]:
values = {'Recovered': 0, 'Confirmed': 0, 'Deaths':0}
D=data.fillna(value=values)
D

,Confirmed,Country_Region,Deaths,Last_Update,Province_State,Recovered
0,1.0,Mainland China,0.0,1/22/2020 17:00,Anhui,0.0
1,14.0,Mainland China,0.0,1/22/2020 17:00,Beijing,0.0
2,6.0,Mainland China,0.0,1/22/2020 17:00,Chongqing,0.0
3,1.0,Mainland China,0.0,1/22/2020 17:00,Fujian,0.0
4,0.0,Mainland China,0.0,1/22/2020 17:00,Gansu,0.0
...,...,...,...,...,...,...
17,1.0,Japan,0.0,1/17/2020 22:00:00 PM,NaN,1.0
18,2.0,Thanland,0.0,1/21/2020 22:00:00 PM,NaN,0.0
19,1.0,Japan,0.0,1/21/2020 22:00:00 PM,NaN,1.0
20,1.0,korean,0.0,1/21/2020 22:00:00 PM,NaN,1.0
21,291.0,China,3.0,1/21/2020 22:00:00 PM,NaN,27.0

In [22]:
#export to csv
D.to_csv( "../combined1.csv", index=False, encoding='utf-8-sig')