In [1]:
import os
import glob
import pandas as pd
os.chdir("resources/1")

In [10]:
df1 = pd.read_csv('02-01-2020.csv')
df2 = pd.read_csv('02-02-2020.csv')
df3 = pd.read_csv('02-03-2020.csv')
df4 = pd.read_csv('02-04-2020.csv')
df5 = pd.read_csv('02-05-2020.csv')
df6 = pd.read_csv('02-06-2020.csv')
df7 = pd.read_csv('02-07-2020.csv')
df8 = pd.read_csv('02-08-2020.csv')
df9 = pd.read_csv('02-09-2020.csv')
df10 = pd.read_csv('02-10-2020.csv')
df11 = pd.read_csv('02-11-2020.csv')
df12 = pd.read_csv('02-12-2020.csv')
df13 = pd.read_csv('02-13-2020.csv')
df14 = pd.read_csv('02-14-2020.csv')
df15 = pd.read_csv('02-15-2020.csv')
df16 = pd.read_csv('02-16-2020.csv')
df17 = pd.read_csv('02-17-2020.csv')
df18 = pd.read_csv('02-18-2020.csv')
df19 = pd.read_csv('02-19-2020.csv')
df20 = pd.read_csv('02-20-2020.csv')
df21 = pd.read_csv('02-21-2020.csv')
df22 = pd.read_csv('02-22-2020.csv')
df23 = pd.read_csv('02-23-2020.csv')
df24 = pd.read_csv('02-24-2020.csv')
df25 = pd.read_csv('02-25-2020.csv')
df26 = pd.read_csv('02-26-2020.csv')
df27 = pd.read_csv('02-27-2020.csv')
df28 = pd.read_csv('02-28-2020.csv')
df29 = pd.read_csv('02-29-2020.csv')
df30 = pd.read_csv('01-22-2020.csv')
df31 = pd.read_csv('01-23-2020.csv')
df32 = pd.read_csv('01-24-2020.csv')
df33 = pd.read_csv('01-25-2020.csv')
df34 = pd.read_csv('01-26-2020.csv')
df35 = pd.read_csv('01-27-2020.csv')
df36 = pd.read_csv('01-28-2020.csv')
df37 = pd.read_csv('01-29-2020.csv')
df38 = pd.read_csv('01-30-2020.csv')
df39 = pd.read_csv('01-31-2020.csv')
df40 = pd.read_csv('2019-01-10 to 01-20.csv')

df1.head(5)

  Province/State  Country/Region     Last Update  Confirmed  Deaths  Recovered
0          Hubei  Mainland China  2/1/2020 11:53       7153     249        168
1       Zhejiang  Mainland China  2/1/2020 10:53        599       0         21
2      Guangdong  Mainland China  2/1/2020 14:23        535       0         14
3          Henan  Mainland China   2/1/2020 1:52        422       2          3
4          Hunan  Mainland China  2/1/2020 11:03        389       0          8

In [18]:
df40

,Unnamed: 0,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,0,Hubei,China,1/11/2020 22:00:00 AM,41.0,1.0,2.0
1,1,Hubei,China,1/12/2020 22:00:00 AM,41.0,1.0,6.0
2,2,Hubei,China,1/13/2020 22:00:00 AM,41.0,1.0,7.0
3,3,Hubei,China,1/14/2020 22:00:00 AM,41.0,1.0,7.0
4,4,Hubei,China,1/15/2020 22:00:00 AM,41.0,1.0,7.0
5,5,Hubei,China,1/16/2020 22:00:00 PM,41.0,2.0,12.0
6,6,Hubei,China,1/17/2020 22:00:00 PM,45.0,2.0,15.0
7,7,Hubei,China,1/18/2020 22:00:00 PM,62.0,2.0,19.0
8,8,Hubei,China,1/198/2020 22:00:00 PM,121.0,3.0,24.0
9,9,Hubei,China,1/20/2020 22:00:00 PM,198.0,3.0,25.0
10,10,Hubei,China,1/21/2020 22:00:00 PM,270.0,3.0,27.0
11,11,Shanghai,China,1/21/2020 22:00:00 PM,2.0,0.0,0.0
12,12,Beijing,China,1/21/2020 22:00:00 PM,5.0,0.0,0.0
13,13,guangdong,NaN,1/21/2020 22:00:00 PM,14.0,0.0,0.0
14,14,NaN,NaN,NaN,NaN,NaN,NaN
15,15,NaN,NaN,NaN,NaN,NaN,NaN
16,16,NaN,Thanland,1/17/2020 22:00:00 PM,1.0,0.0,0.0
17,17,NaN,Japan,1/17/2020 22:00:00 PM,1.0,0.0,1.0
18,18,NaN,Thanland,1/21/2020 22:00:00 PM,2.0,0.0,0.0
19,19,NaN,Japan,1/21/2020 22:00:00 PM,1.0,0.0,1.0
20,20,NaN,korean,1/21/2020 22:00:00 PM,1.0,0.0,1.0
21,21,NaN,China,1/21/2020 22:00:00 PM,291.0,3.0,27.0

In [25]:
df41= df40.drop(['Unnamed: 0'], axis = 1)
df41

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Hubei,China,1/11/2020 22:00:00 AM,41.0,1.0,2.0
1,Hubei,China,1/12/2020 22:00:00 AM,41.0,1.0,6.0
2,Hubei,China,1/13/2020 22:00:00 AM,41.0,1.0,7.0
3,Hubei,China,1/14/2020 22:00:00 AM,41.0,1.0,7.0
4,Hubei,China,1/15/2020 22:00:00 AM,41.0,1.0,7.0
5,Hubei,China,1/16/2020 22:00:00 PM,41.0,2.0,12.0
6,Hubei,China,1/17/2020 22:00:00 PM,45.0,2.0,15.0
7,Hubei,China,1/18/2020 22:00:00 PM,62.0,2.0,19.0
8,Hubei,China,1/198/2020 22:00:00 PM,121.0,3.0,24.0
9,Hubei,China,1/20/2020 22:00:00 PM,198.0,3.0,25.0
10,Hubei,China,1/21/2020 22:00:00 PM,270.0,3.0,27.0
11,Shanghai,China,1/21/2020 22:00:00 PM,2.0,0.0,0.0
12,Beijing,China,1/21/2020 22:00:00 PM,5.0,0.0,0.0
13,guangdong,NaN,1/21/2020 22:00:00 PM,14.0,0.0,0.0
14,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,Thanland,1/17/2020 22:00:00 PM,1.0,0.0,0.0
17,NaN,Japan,1/17/2020 22:00:00 PM,1.0,0.0,1.0
18,NaN,Thanland,1/21/2020 22:00:00 PM,2.0,0.0,0.0
19,NaN,Japan,1/21/2020 22:00:00 PM,1.0,0.0,1.0
20,NaN,korean,1/21/2020 22:00:00 PM,1.0,0.0,1.0
21,NaN,China,1/21/2020 22:00:00 PM,291.0,3.0,27.0

In [20]:
#update date of each file
df1['Last Update']= '2020-02-01'
df2['Last Update'] = '2020-02-02'
df3['Last Update'] = '2020-02-03'
df4['Last Update'] = '2020-02-04'
df5['Last Update'] = '2020-02-05'
df6['Last Update'] = '2020-02-06'
df7['Last Update'] = '2020-02-07'
df8['Last Update'] = '2020-02-08'
df9['Last Update'] = '2020-02-09'
df10['Last Update'] = '2020-02-10'
df11['Last Update'] = '2020-02-11'
df12['Last Update'] = '2020-02-12'
df13['Last Update'] = '2020-02-13'
df14['Last Update'] = '2020-02-14'
df15['Last Update'] = '2020-02-15'
df16['Last Update'] = '2020-02-16'
df17['Last Update'] = '2020-02-17'
df18['Last Update'] = '2020-02-18'
df19['Last Update'] = '2020-02-19'
df20['Last Update'] = '2020-02-20'
df21['Last Update'] = '2020-02-21'
df22['Last Update'] = '2020-02-22'
df23['Last Update'] = '2020-02-23'
df24['Last Update'] = '2020-02-24'
df25['Last Update'] = '2020-02-25'
df26['Last Update'] = '2020-02-26'
df27['Last Update'] = '2020-02-27'
df28['Last Update'] = '2020-02-28'
df29['Last Update'] = '2020-02-29'
df30['Last Update'] = '2020-01-22'
df31['Last Update'] = '2020-01-23'
df32['Last Update'] = '2020-01-24'
df33['Last Update'] = '2020-01-25'
df34['Last Update'] = '2020-01-26'
df35['Last Update'] = '2020-01-27'
df36['Last Update'] = '2020-01-28'
df37['Last Update'] = '2020-01-29'
df38['Last Update'] = '2020-01-30'
df39['Last Update'] = '2020-01-31'
df39.head(3)

  Province/State  Country/Region Last Update  Confirmed  Deaths  Recovered
0          Hubei  Mainland China  2020-01-31       5806   204.0      141.0
1       Zhejiang  Mainland China  2020-01-31        538     NaN       14.0
2      Guangdong  Mainland China  2020-01-31        436     NaN       11.0

In [21]:
DF = pd.read_csv('../../resources/2/03-01-2020.csv')
DF.head(2)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000

In [22]:
#Use glob to match the pattern ‘csv’
#extension = 'csv'
#all_filenames = [i for i in glob.glob('*.{}'.format('csv'))]
#Combine all files in the list
#data1= pd.concat([pd.read_csv(f) for f in all_filenames ])

In [26]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26, df27, df28, df29, df30, df31, df32, df33, df34, df35, df36, df37, df38, df39, df41,])
df.head(3)

  Province/State  Country/Region Last Update  Confirmed  Deaths  Recovered
0          Hubei  Mainland China  2020-02-01     7153.0   249.0      168.0
1       Zhejiang  Mainland China  2020-02-01      599.0     0.0       21.0
2      Guangdong  Mainland China  2020-02-01      535.0     0.0       14.0

In [27]:
len(df)

2840

In [28]:
data = pd.merge(df,
                DF[['Province/State', 'Latitude', 'Longitude']],
                how='left',
                on='Province/State')
data.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-02-01,7153.0,249.0,168.0,30.9756,112.2707
1,Zhejiang,Mainland China,2020-02-01,599.0,0.0,21.0,29.1832,120.0934
2,Guangdong,Mainland China,2020-02-01,535.0,0.0,14.0,23.3417,113.4244
3,Henan,Mainland China,2020-02-01,422.0,2.0,3.0,33.8820,113.6140
4,Hunan,Mainland China,2020-02-01,389.0,0.0,8.0,27.6104,111.7088

In [29]:
len(data)

53757

In [ ]:
data1.rename(columns={'Last Update':'Last_Update','Province/State':'Province_State','Country/Region':'Country_Region'}, inplace=True) 
data1.head(2)

In [ ]:
data = data1.drop(['Unnamed: 0'], axis = 1)
data.head(2)

In [ ]:
values = {'Recovered': 0, 'Confirmed': 0, 'Deaths':0}
D=data.fillna(value=values)
D

In [ ]:
#export to csv
D.to_csv( "../combined1.csv", index=False, encoding='utf-8-sig')