In [1]:
import os
import glob
import pandas as pd
import numpy as np
os.chdir("resources/2")

In [2]:
#have to read all files to update the date of each form.
#due to some certain rows were note updated when there is no change.

df1 = pd.read_csv('03-01-2020.csv')
df2 = pd.read_csv('03-02-2020.csv')
df3 = pd.read_csv('03-03-2020.csv')
df4 = pd.read_csv('03-04-2020.csv')
df5 = pd.read_csv('03-05-2020.csv')
df6 = pd.read_csv('03-06-2020.csv')
df7 = pd.read_csv('03-07-2020.csv')
df8 = pd.read_csv('03-08-2020.csv')
df9 = pd.read_csv('03-09-2020.csv')
df10 = pd.read_csv('03-10-2020.csv')
df11 = pd.read_csv('03-11-2020.csv')
df12 = pd.read_csv('03-12-2020.csv')
df13 = pd.read_csv('03-13-2020.csv')
df14 = pd.read_csv('03-14-2020.csv')
df15 = pd.read_csv('03-15-2020.csv')
df16 = pd.read_csv('03-16-2020.csv')
df17 = pd.read_csv('03-17-2020.csv')
df18 = pd.read_csv('03-18-2020.csv')
df19 = pd.read_csv('03-19-2020.csv')
df20 = pd.read_csv('03-20-2020.csv')
df21 = pd.read_csv('03-21-2020.csv')
df1.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140

In [3]:
#update date of each file
df1['Last Update']= '2020-03-01'
df2['Last Update'] = '2020-03-02'
df3['Last Update'] = '2020-03-03'
df4['Last Update'] = '2020-03-04'
df5['Last Update'] = '2020-03-05'
df6['Last Update'] = '2020-03-06'
df7['Last Update'] = '2020-03-07'
df8['Last Update'] = '2020-03-08'
df9['Last Update'] = '2020-03-09'
df10['Last Update'] = '2020-03-10'
df11['Last Update'] = '2020-03-11'
df12['Last Update'] = '2020-03-12'
df13['Last Update'] = '2020-03-13'
df14['Last Update'] = '2020-03-14'
df15['Last Update'] = '2020-03-15'
df16['Last Update'] = '2020-03-16'
df17['Last Update'] = '2020-03-17'
df18['Last Update'] = '2020-03-18'
df19['Last Update'] = '2020-03-19'
df20['Last Update'] = '2020-03-20'
df21['Last Update'] = '2020-03-21'

df2.head(2)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-02,67103,2803,33934,30.9756,112.2707
1,NaN,South Korea,2020-03-02,4335,28,30,36.0000,128.0000

In [4]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21])
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
299,NaN,Jersey,2020-03-21,0,0,0,49.1900,-2.1100
300,NaN,Puerto Rico,2020-03-21,0,0,0,18.2000,-66.5000
301,NaN,Republic of the Congo,2020-03-21,0,0,0,-1.4400,15.5560
302,NaN,The Bahamas,2020-03-21,0,0,0,24.2500,-76.0000
303,NaN,The Gambia,2020-03-21,0,0,0,13.4667,-16.6000

In [5]:
#Use glob to match the pattern ‘csv’
#extension = 'csv'
#all_filenames = [i for i in glob.glob('*.{}'.format('csv'))]
#Combine all files in the list
#mar = pd.concat([pd.read_csv(f) for f in all_filenames ])

In [6]:
df.rename(columns={'Last Update':'Last_Update','Province/State':'Province_State','Country/Region':'Country_Region'}, inplace=True) 
df.head(2)

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01,3736,17,30,36.0000,128.0000

In [7]:
#mar['Row_Num'] = np.arange(len(mar))

In [8]:
df[df['Province_State']=='Gansu']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
34,Gansu,Mainland China,2020-03-01,91,2,84,36.0611,103.8343
35,Gansu,Mainland China,2020-03-02,91,2,85,36.0611,103.8343
35,Gansu,Mainland China,2020-03-03,91,2,86,36.0611,103.8343
35,Gansu,Mainland China,2020-03-04,91,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-05,102,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-06,119,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-07,120,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-08,124,2,87,36.0611,103.8343
40,Gansu,Mainland China,2020-03-09,124,2,88,36.0611,103.8343
44,Gansu,Mainland China,2020-03-10,125,2,88,36.0611,103.8343
46,Gansu,China,2020-03-11,127,2,88,37.8099,101.0583
206,Gansu,Mainland China,2020-03-11,0,0,0,36.0611,103.8343
48,Gansu,China,2020-03-12,127,2,88,37.8099,101.0583
211,Gansu,Mainland China,2020-03-12,0,0,0,36.0611,103.8343
24,Gansu,China,2020-03-13,127,2,88,36.0611,103.8343
56,Gansu,China,2020-03-14,129,2,89,36.0611,103.8343
58,Gansu,China,2020-03-15,133,2,91,36.0611,103.8343
71,Gansu,China,2020-03-16,133,2,91,36.0611,103.8343
77,Gansu,China,2020-03-17,133,2,91,36.0611,103.8343
83,Gansu,China,2020-03-18,133,2,91,36.0611,103.8343
93,Gansu,China,2020-03-19,134,2,91,36.0611,103.8343
105,Gansu,China,2020-03-20,134,2,98,36.0611,103.8343
117,Gansu,China,2020-03-21,134,2,113,36.0611,103.8343

In [13]:
df.loc[df.Province_State == 'Gansu', "Latitude"] = 36.0611
df.loc[df.Province_State == 'Gansu', "Longitude"] = 103.8343
df.loc[df.Province_State == 'Gansu', "Country_Region"] = 'Mainland China'
df[df['Province_State']=='Gansu']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
34,Gansu,Mainland China,2020-03-01,91,2,84,36.0611,103.8343
35,Gansu,Mainland China,2020-03-02,91,2,85,36.0611,103.8343
35,Gansu,Mainland China,2020-03-03,91,2,86,36.0611,103.8343
35,Gansu,Mainland China,2020-03-04,91,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-05,102,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-06,119,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-07,120,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-08,124,2,87,36.0611,103.8343
40,Gansu,Mainland China,2020-03-09,124,2,88,36.0611,103.8343
44,Gansu,Mainland China,2020-03-10,125,2,88,36.0611,103.8343
46,Gansu,Mainland China,2020-03-11,127,2,88,36.0611,103.8343
48,Gansu,Mainland China,2020-03-12,127,2,88,36.0611,103.8343
24,Gansu,Mainland China,2020-03-13,127,2,88,36.0611,103.8343
56,Gansu,Mainland China,2020-03-14,129,2,89,36.0611,103.8343
58,Gansu,Mainland China,2020-03-15,133,2,91,36.0611,103.8343
71,Gansu,Mainland China,2020-03-16,133,2,91,36.0611,103.8343
77,Gansu,Mainland China,2020-03-17,133,2,91,36.0611,103.8343
83,Gansu,Mainland China,2020-03-18,133,2,91,36.0611,103.8343
93,Gansu,Mainland China,2020-03-19,134,2,91,36.0611,103.8343
105,Gansu,Mainland China,2020-03-20,134,2,98,36.0611,103.8343
117,Gansu,Mainland China,2020-03-21,134,2,113,36.0611,103.8343

In [14]:

df[df['Province_State']=='Gansu'].dropna()
df[df['Province_State']=='Gansu']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
34,Gansu,Mainland China,2020-03-01,91,2,84,36.0611,103.8343
35,Gansu,Mainland China,2020-03-02,91,2,85,36.0611,103.8343
35,Gansu,Mainland China,2020-03-03,91,2,86,36.0611,103.8343
35,Gansu,Mainland China,2020-03-04,91,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-05,102,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-06,119,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-07,120,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-08,124,2,87,36.0611,103.8343
40,Gansu,Mainland China,2020-03-09,124,2,88,36.0611,103.8343
44,Gansu,Mainland China,2020-03-10,125,2,88,36.0611,103.8343
46,Gansu,Mainland China,2020-03-11,127,2,88,36.0611,103.8343
48,Gansu,Mainland China,2020-03-12,127,2,88,36.0611,103.8343
24,Gansu,Mainland China,2020-03-13,127,2,88,36.0611,103.8343
56,Gansu,Mainland China,2020-03-14,129,2,89,36.0611,103.8343
58,Gansu,Mainland China,2020-03-15,133,2,91,36.0611,103.8343
71,Gansu,Mainland China,2020-03-16,133,2,91,36.0611,103.8343
77,Gansu,Mainland China,2020-03-17,133,2,91,36.0611,103.8343
83,Gansu,Mainland China,2020-03-18,133,2,91,36.0611,103.8343
93,Gansu,Mainland China,2020-03-19,134,2,91,36.0611,103.8343
105,Gansu,Mainland China,2020-03-20,134,2,98,36.0611,103.8343
117,Gansu,Mainland China,2020-03-21,134,2,113,36.0611,103.8343

In [15]:
df.drop([206,211], axis = 0, inplace = True)
df[df['Province_State']=='Gansu']

KeyError: '[206 211] not found in axis'

In [16]:
df.loc[df.Province_State == 'Hebei', "Latitude"] = 38.0428
df.loc[df.Province_State == 'Hebei', "Longitude"] = 114.5149
df.loc[df.Province_State == 'Hebei', "Country_Region"] = 'Mainland China'
df[df['Province_State']=='Hebei']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
18,Hebei,Mainland China,2020-03-01,318,6,294,38.0428,114.5149
18,Hebei,Mainland China,2020-03-02,318,6,296,38.0428,114.5149
18,Hebei,Mainland China,2020-03-03,318,6,300,38.0428,114.5149
19,Hebei,Mainland China,2020-03-04,318,6,301,38.0428,114.5149
21,Hebei,Mainland China,2020-03-05,318,6,304,38.0428,114.5149
22,Hebei,Mainland China,2020-03-06,318,6,305,38.0428,114.5149
22,Hebei,Mainland China,2020-03-07,318,6,307,38.0428,114.5149
23,Hebei,Mainland China,2020-03-08,318,6,307,38.0428,114.5149
25,Hebei,Mainland China,2020-03-09,318,6,307,38.0428,114.5149
27,Hebei,Mainland China,2020-03-10,318,6,307,38.0428,114.5149
29,Hebei,Mainland China,2020-03-11,318,6,307,38.0428,114.5149
207,Hebei,Mainland China,2020-03-11,0,0,0,38.0428,114.5149
30,Hebei,Mainland China,2020-03-12,318,6,308,38.0428,114.5149
212,Hebei,Mainland China,2020-03-12,0,0,0,38.0428,114.5149
14,Hebei,Mainland China,2020-03-13,318,6,310,38.0428,114.5149
34,Hebei,Mainland China,2020-03-14,318,6,310,38.0428,114.5149
35,Hebei,Mainland China,2020-03-15,318,6,310,38.0428,114.5149
37,Hebei,Mainland China,2020-03-16,318,6,310,38.0428,114.5149
41,Hebei,Mainland China,2020-03-17,318,6,310,38.0428,114.5149
41,Hebei,Mainland China,2020-03-18,318,6,310,38.0428,114.5149
53,Hebei,Mainland China,2020-03-19,318,6,310,38.0428,114.5149
64,Hebei,Mainland China,2020-03-20,318,6,310,38.0428,114.5149
70,Hebei,Mainland China,2020-03-21,318,6,310,38.0428,114.5149

In [17]:
df.drop([207,212], axis = 0, inplace = True)
df[df['Province_State']=='Hebei']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
18,Hebei,Mainland China,2020-03-01,318,6,294,38.0428,114.5149
18,Hebei,Mainland China,2020-03-02,318,6,296,38.0428,114.5149
18,Hebei,Mainland China,2020-03-03,318,6,300,38.0428,114.5149
19,Hebei,Mainland China,2020-03-04,318,6,301,38.0428,114.5149
21,Hebei,Mainland China,2020-03-05,318,6,304,38.0428,114.5149
22,Hebei,Mainland China,2020-03-06,318,6,305,38.0428,114.5149
22,Hebei,Mainland China,2020-03-07,318,6,307,38.0428,114.5149
23,Hebei,Mainland China,2020-03-08,318,6,307,38.0428,114.5149
25,Hebei,Mainland China,2020-03-09,318,6,307,38.0428,114.5149
27,Hebei,Mainland China,2020-03-10,318,6,307,38.0428,114.5149
29,Hebei,Mainland China,2020-03-11,318,6,307,38.0428,114.5149
30,Hebei,Mainland China,2020-03-12,318,6,308,38.0428,114.5149
14,Hebei,Mainland China,2020-03-13,318,6,310,38.0428,114.5149
34,Hebei,Mainland China,2020-03-14,318,6,310,38.0428,114.5149
35,Hebei,Mainland China,2020-03-15,318,6,310,38.0428,114.5149
37,Hebei,Mainland China,2020-03-16,318,6,310,38.0428,114.5149
41,Hebei,Mainland China,2020-03-17,318,6,310,38.0428,114.5149
41,Hebei,Mainland China,2020-03-18,318,6,310,38.0428,114.5149
53,Hebei,Mainland China,2020-03-19,318,6,310,38.0428,114.5149
64,Hebei,Mainland China,2020-03-20,318,6,310,38.0428,114.5149
70,Hebei,Mainland China,2020-03-21,318,6,310,38.0428,114.5149

In [18]:
df[df['Country_Region']=='Japan']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
20,NaN,Japan,2020-03-01,256,6,32,36.0000,138.0000
20,NaN,Japan,2020-03-02,274,6,32,36.0000,138.0000
20,NaN,Japan,2020-03-03,293,6,43,36.0000,138.0000
18,NaN,Japan,2020-03-04,331,6,43,36.0000,138.0000
19,NaN,Japan,2020-03-05,360,6,43,36.0000,138.0000
19,NaN,Japan,2020-03-06,420,6,46,36.0000,138.0000
19,NaN,Japan,2020-03-07,461,6,76,36.0000,138.0000
18,NaN,Japan,2020-03-08,502,6,76,36.0000,138.0000
18,NaN,Japan,2020-03-09,511,17,76,36.0000,138.0000
16,NaN,Japan,2020-03-10,581,10,101,36.0000,138.0000
16,NaN,Japan,2020-03-11,639,15,118,36.0000,138.0000
17,NaN,Japan,2020-03-12,639,16,118,36.0000,138.0000
102,NaN,Japan,2020-03-13,701,19,118,36.2048,138.2529
19,NaN,Japan,2020-03-14,773,22,118,36.2048,138.2529
21,NaN,Japan,2020-03-15,839,22,118,36.2048,138.2529
23,NaN,Japan,2020-03-16,825,27,144,36.2048,138.2529
23,NaN,Japan,2020-03-17,878,29,144,36.2048,138.2529
23,NaN,Japan,2020-03-18,889,29,144,36.2048,138.2529
24,NaN,Japan,2020-03-19,924,29,150,36.2048,138.2529
25,NaN,Japan,2020-03-20,963,33,191,36.2048,138.2529
26,NaN,Japan,2020-03-21,1007,35,232,36.2048,138.2529

In [19]:
df.loc[df.Country_Region == 'Japan', "Latitude"] = 36.2048
df.loc[df.Country_Region == 'Japan', "Longitude"] = 138.2529
df.loc[df.Country_Region == 'Japan', "Province_State"] ='Japan'
df[df['Country_Region']=='Japan']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
20,Japan,Japan,2020-03-01,256,6,32,36.2048,138.2529
20,Japan,Japan,2020-03-02,274,6,32,36.2048,138.2529
20,Japan,Japan,2020-03-03,293,6,43,36.2048,138.2529
18,Japan,Japan,2020-03-04,331,6,43,36.2048,138.2529
19,Japan,Japan,2020-03-05,360,6,43,36.2048,138.2529
19,Japan,Japan,2020-03-06,420,6,46,36.2048,138.2529
19,Japan,Japan,2020-03-07,461,6,76,36.2048,138.2529
18,Japan,Japan,2020-03-08,502,6,76,36.2048,138.2529
18,Japan,Japan,2020-03-09,511,17,76,36.2048,138.2529
16,Japan,Japan,2020-03-10,581,10,101,36.2048,138.2529
16,Japan,Japan,2020-03-11,639,15,118,36.2048,138.2529
17,Japan,Japan,2020-03-12,639,16,118,36.2048,138.2529
102,Japan,Japan,2020-03-13,701,19,118,36.2048,138.2529
19,Japan,Japan,2020-03-14,773,22,118,36.2048,138.2529
21,Japan,Japan,2020-03-15,839,22,118,36.2048,138.2529
23,Japan,Japan,2020-03-16,825,27,144,36.2048,138.2529
23,Japan,Japan,2020-03-17,878,29,144,36.2048,138.2529
23,Japan,Japan,2020-03-18,889,29,144,36.2048,138.2529
24,Japan,Japan,2020-03-19,924,29,150,36.2048,138.2529
25,Japan,Japan,2020-03-20,963,33,191,36.2048,138.2529
26,Japan,Japan,2020-03-21,1007,35,232,36.2048,138.2529

In [20]:
df[df['Country_Region']=='South Korea']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
1,NaN,South Korea,2020-03-01,3736,17,30,36.0,128.0
1,NaN,South Korea,2020-03-02,4335,28,30,36.0,128.0
1,NaN,South Korea,2020-03-03,5186,28,30,36.0,128.0
1,NaN,South Korea,2020-03-04,5621,35,41,36.0,128.0
1,NaN,South Korea,2020-03-05,6088,35,41,36.0,128.0
1,NaN,South Korea,2020-03-06,6593,42,135,36.0,128.0
1,NaN,South Korea,2020-03-07,7041,44,135,36.0,128.0
2,NaN,South Korea,2020-03-08,7314,50,118,36.0,128.0
2,NaN,South Korea,2020-03-09,7478,53,118,36.0,128.0

In [21]:
df.loc[df.Country_Region == 'South Korea', "Latitude"] = 35.9078
df.loc[df.Country_Region == 'South Korea', "Longitude"] = 127.7669
df.loc[df.Country_Region == 'South Korea', "Province_State"] = 'South Korea'
df[df['Country_Region']=='South Korea']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
1,South Korea,South Korea,2020-03-01,3736,17,30,35.9078,127.7669
1,South Korea,South Korea,2020-03-02,4335,28,30,35.9078,127.7669
1,South Korea,South Korea,2020-03-03,5186,28,30,35.9078,127.7669
1,South Korea,South Korea,2020-03-04,5621,35,41,35.9078,127.7669
1,South Korea,South Korea,2020-03-05,6088,35,41,35.9078,127.7669
1,South Korea,South Korea,2020-03-06,6593,42,135,35.9078,127.7669
1,South Korea,South Korea,2020-03-07,7041,44,135,35.9078,127.7669
2,South Korea,South Korea,2020-03-08,7314,50,118,35.9078,127.7669
2,South Korea,South Korea,2020-03-09,7478,53,118,35.9078,127.7669

In [22]:
df[df['Country_Region']=='Thailand']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
42,NaN,Thailand,2020-03-01,42,1,28,15.00,101.0000
42,NaN,Thailand,2020-03-02,43,1,31,15.00,101.0000
44,NaN,Thailand,2020-03-03,43,1,31,15.00,101.0000
46,NaN,Thailand,2020-03-04,43,1,31,15.00,101.0000
49,NaN,Thailand,2020-03-05,47,1,31,15.00,101.0000
50,NaN,Thailand,2020-03-06,48,1,31,15.00,101.0000
53,NaN,Thailand,2020-03-07,50,1,31,15.00,101.0000
54,NaN,Thailand,2020-03-08,50,1,31,15.00,101.0000
56,NaN,Thailand,2020-03-09,50,1,31,15.00,101.0000
62,NaN,Thailand,2020-03-10,53,1,33,15.87,100.9925
68,NaN,Thailand,2020-03-11,59,1,34,15.87,100.9925
63,NaN,Thailand,2020-03-12,70,1,34,15.87,100.9925
48,NaN,Thailand,2020-03-13,75,1,35,15.87,100.9925
74,NaN,Thailand,2020-03-14,82,1,35,15.87,100.9925
66,NaN,Thailand,2020-03-15,114,1,35,15.87,100.9925
64,NaN,Thailand,2020-03-16,147,1,35,15.87,100.9925
63,NaN,Thailand,2020-03-17,177,1,41,15.87,100.9925
62,NaN,Thailand,2020-03-18,212,1,42,15.87,100.9925
63,NaN,Thailand,2020-03-19,272,1,42,15.87,100.9925
63,NaN,Thailand,2020-03-20,322,1,42,15.87,100.9925
60,NaN,Thailand,2020-03-21,411,1,42,15.87,100.9925

In [23]:
df.loc[df.Country_Region == 'Thailand', "Latitude"] = 15.87
df.loc[df.Country_Region == 'Thailand', "Longitude"] = 100.9925
df.loc[df.Country_Region == 'Thailand', "Province_State"] = 'Thailand'
df[df['Country_Region']=='Thailand']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
42,Thailand,Thailand,2020-03-01,42,1,28,15.87,100.9925
42,Thailand,Thailand,2020-03-02,43,1,31,15.87,100.9925
44,Thailand,Thailand,2020-03-03,43,1,31,15.87,100.9925
46,Thailand,Thailand,2020-03-04,43,1,31,15.87,100.9925
49,Thailand,Thailand,2020-03-05,47,1,31,15.87,100.9925
50,Thailand,Thailand,2020-03-06,48,1,31,15.87,100.9925
53,Thailand,Thailand,2020-03-07,50,1,31,15.87,100.9925
54,Thailand,Thailand,2020-03-08,50,1,31,15.87,100.9925
56,Thailand,Thailand,2020-03-09,50,1,31,15.87,100.9925
62,Thailand,Thailand,2020-03-10,53,1,33,15.87,100.9925
68,Thailand,Thailand,2020-03-11,59,1,34,15.87,100.9925
63,Thailand,Thailand,2020-03-12,70,1,34,15.87,100.9925
48,Thailand,Thailand,2020-03-13,75,1,35,15.87,100.9925
74,Thailand,Thailand,2020-03-14,82,1,35,15.87,100.9925
66,Thailand,Thailand,2020-03-15,114,1,35,15.87,100.9925
64,Thailand,Thailand,2020-03-16,147,1,35,15.87,100.9925
63,Thailand,Thailand,2020-03-17,177,1,41,15.87,100.9925
62,Thailand,Thailand,2020-03-18,212,1,42,15.87,100.9925
63,Thailand,Thailand,2020-03-19,272,1,42,15.87,100.9925
63,Thailand,Thailand,2020-03-20,322,1,42,15.87,100.9925
60,Thailand,Thailand,2020-03-21,411,1,42,15.87,100.9925

In [24]:
df[df['Country_Region']=='Malaysia']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
45,NaN,Malaysia,2020-03-01,29,0,18,2.5000,112.5000
46,NaN,Malaysia,2020-03-02,29,0,18,2.5000,112.5000
46,NaN,Malaysia,2020-03-03,36,0,22,2.5000,112.5000
44,NaN,Malaysia,2020-03-04,50,0,22,2.5000,112.5000
48,NaN,Malaysia,2020-03-05,50,0,22,2.5000,112.5000
42,NaN,Malaysia,2020-03-06,83,0,22,2.5000,112.5000
42,NaN,Malaysia,2020-03-07,93,0,23,2.5000,112.5000
42,NaN,Malaysia,2020-03-08,99,0,24,2.5000,112.5000
41,NaN,Malaysia,2020-03-09,117,0,24,2.5000,112.5000
43,NaN,Malaysia,2020-03-10,129,0,24,2.5000,112.5000
42,NaN,Malaysia,2020-03-11,149,0,26,2.5000,112.5000
42,NaN,Malaysia,2020-03-12,149,0,26,2.5000,112.5000
151,NaN,Malaysia,2020-03-13,197,0,26,4.2105,101.9758
38,NaN,Malaysia,2020-03-14,238,0,35,4.2105,101.9758
31,NaN,Malaysia,2020-03-15,428,0,42,4.2105,101.9758
28,NaN,Malaysia,2020-03-16,566,0,42,4.2105,101.9758
27,NaN,Malaysia,2020-03-17,673,2,49,4.2105,101.9758
24,NaN,Malaysia,2020-03-18,790,2,60,4.2105,101.9758
25,NaN,Malaysia,2020-03-19,900,2,75,4.2105,101.9758
21,NaN,Malaysia,2020-03-20,1030,3,87,4.2105,101.9758
23,NaN,Malaysia,2020-03-21,1183,4,114,4.2105,101.9758

In [25]:
df.loc[df.Country_Region == 'Malaysia', "Latitude"] = 4.2105
df.loc[df.Country_Region == 'Malaysia', "Longitude"] = 101.9758
df.loc[df.Country_Region == 'Malaysia', "Province_State"] = 'Malaysia'
df[df['Country_Region']=='Malaysia']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
45,Malaysia,Malaysia,2020-03-01,29,0,18,4.2105,101.9758
46,Malaysia,Malaysia,2020-03-02,29,0,18,4.2105,101.9758
46,Malaysia,Malaysia,2020-03-03,36,0,22,4.2105,101.9758
44,Malaysia,Malaysia,2020-03-04,50,0,22,4.2105,101.9758
48,Malaysia,Malaysia,2020-03-05,50,0,22,4.2105,101.9758
42,Malaysia,Malaysia,2020-03-06,83,0,22,4.2105,101.9758
42,Malaysia,Malaysia,2020-03-07,93,0,23,4.2105,101.9758
42,Malaysia,Malaysia,2020-03-08,99,0,24,4.2105,101.9758
41,Malaysia,Malaysia,2020-03-09,117,0,24,4.2105,101.9758
43,Malaysia,Malaysia,2020-03-10,129,0,24,4.2105,101.9758
42,Malaysia,Malaysia,2020-03-11,149,0,26,4.2105,101.9758
42,Malaysia,Malaysia,2020-03-12,149,0,26,4.2105,101.9758
151,Malaysia,Malaysia,2020-03-13,197,0,26,4.2105,101.9758
38,Malaysia,Malaysia,2020-03-14,238,0,35,4.2105,101.9758
31,Malaysia,Malaysia,2020-03-15,428,0,42,4.2105,101.9758
28,Malaysia,Malaysia,2020-03-16,566,0,42,4.2105,101.9758
27,Malaysia,Malaysia,2020-03-17,673,2,49,4.2105,101.9758
24,Malaysia,Malaysia,2020-03-18,790,2,60,4.2105,101.9758
25,Malaysia,Malaysia,2020-03-19,900,2,75,4.2105,101.9758
21,Malaysia,Malaysia,2020-03-20,1030,3,87,4.2105,101.9758
23,Malaysia,Malaysia,2020-03-21,1183,4,114,4.2105,101.9758

In [26]:
df[df['Country_Region']=='Singapore']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
31,NaN,Singapore,2020-03-01,106,0,72,1.2833,103.8333
32,NaN,Singapore,2020-03-02,108,0,78,1.2833,103.8333
32,NaN,Singapore,2020-03-03,110,0,78,1.2833,103.8333
32,NaN,Singapore,2020-03-04,110,0,78,1.2833,103.8333
32,NaN,Singapore,2020-03-05,117,0,78,1.2833,103.8333
33,NaN,Singapore,2020-03-06,130,0,78,1.2833,103.8333
35,NaN,Singapore,2020-03-07,138,0,78,1.2833,103.8333
34,NaN,Singapore,2020-03-08,150,0,78,1.2833,103.8333
34,NaN,Singapore,2020-03-09,150,0,78,1.2833,103.8333
38,NaN,Singapore,2020-03-10,160,0,78,1.2833,103.8333
38,NaN,Singapore,2020-03-11,178,0,96,1.2833,103.8333
39,NaN,Singapore,2020-03-12,178,0,96,1.2833,103.8333
105,NaN,Singapore,2020-03-13,200,0,97,1.3521,103.8198
41,NaN,Singapore,2020-03-14,212,0,105,1.3521,103.8198
43,NaN,Singapore,2020-03-15,226,0,105,1.3521,103.8198
45,NaN,Singapore,2020-03-16,243,0,109,1.3521,103.8198
45,NaN,Singapore,2020-03-17,266,0,114,1.3521,103.8198
43,NaN,Singapore,2020-03-18,313,0,114,1.3521,103.8198
48,NaN,Singapore,2020-03-19,345,0,114,1.3521,103.8198
54,NaN,Singapore,2020-03-20,385,0,124,1.3521,103.8198
58,NaN,Singapore,2020-03-21,432,2,140,1.3521,103.8198

In [27]:
df.loc[df.Country_Region == 'Singapore', "Latitude"] = 1.3521
df.loc[df.Country_Region == 'Singapore', "Longitude"] = 103.8198
df.loc[df.Country_Region == 'Singapore', "Province_State"] = 'Singapore'
df[df['Country_Region']=='Singapore']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
31,Singapore,Singapore,2020-03-01,106,0,72,1.3521,103.8198
32,Singapore,Singapore,2020-03-02,108,0,78,1.3521,103.8198
32,Singapore,Singapore,2020-03-03,110,0,78,1.3521,103.8198
32,Singapore,Singapore,2020-03-04,110,0,78,1.3521,103.8198
32,Singapore,Singapore,2020-03-05,117,0,78,1.3521,103.8198
33,Singapore,Singapore,2020-03-06,130,0,78,1.3521,103.8198
35,Singapore,Singapore,2020-03-07,138,0,78,1.3521,103.8198
34,Singapore,Singapore,2020-03-08,150,0,78,1.3521,103.8198
34,Singapore,Singapore,2020-03-09,150,0,78,1.3521,103.8198
38,Singapore,Singapore,2020-03-10,160,0,78,1.3521,103.8198
38,Singapore,Singapore,2020-03-11,178,0,96,1.3521,103.8198
39,Singapore,Singapore,2020-03-12,178,0,96,1.3521,103.8198
105,Singapore,Singapore,2020-03-13,200,0,97,1.3521,103.8198
41,Singapore,Singapore,2020-03-14,212,0,105,1.3521,103.8198
43,Singapore,Singapore,2020-03-15,226,0,105,1.3521,103.8198
45,Singapore,Singapore,2020-03-16,243,0,109,1.3521,103.8198
45,Singapore,Singapore,2020-03-17,266,0,114,1.3521,103.8198
43,Singapore,Singapore,2020-03-18,313,0,114,1.3521,103.8198
48,Singapore,Singapore,2020-03-19,345,0,114,1.3521,103.8198
54,Singapore,Singapore,2020-03-20,385,0,124,1.3521,103.8198
58,Singapore,Singapore,2020-03-21,432,2,140,1.3521,103.8198

In [28]:
df[df['Country_Region']=='Philippines']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
78,NaN,Philippines,2020-03-01,3,1,1,13.0000,122.000
84,NaN,Philippines,2020-03-02,3,1,1,13.0000,122.000
85,NaN,Philippines,2020-03-03,3,1,1,13.0000,122.000
94,NaN,Philippines,2020-03-04,3,1,1,13.0000,122.000
102,NaN,Philippines,2020-03-05,3,1,1,13.0000,122.000
96,NaN,Philippines,2020-03-06,5,1,1,13.0000,122.000
99,NaN,Philippines,2020-03-07,6,1,1,13.0000,122.000
98,NaN,Philippines,2020-03-08,10,1,1,13.0000,122.000
78,NaN,Philippines,2020-03-09,20,1,1,13.0000,122.000
72,NaN,Philippines,2020-03-10,33,1,2,12.8797,121.774
70,NaN,Philippines,2020-03-11,49,1,2,12.8797,121.774
71,NaN,Philippines,2020-03-12,52,2,2,12.8797,121.774
44,NaN,Philippines,2020-03-13,64,5,2,12.8797,121.774
62,NaN,Philippines,2020-03-14,111,8,2,12.8797,121.774
53,NaN,Philippines,2020-03-15,140,11,2,12.8797,121.774
66,NaN,Philippines,2020-03-16,142,12,2,12.8797,121.774
60,NaN,Philippines,2020-03-17,187,12,5,12.8797,121.774
64,NaN,Philippines,2020-03-18,202,19,5,12.8797,121.774
73,NaN,Philippines,2020-03-19,217,17,8,12.8797,121.774
80,NaN,Philippines,2020-03-20,230,18,8,12.8797,121.774
72,NaN,Philippines,2020-03-21,307,19,13,12.8797,121.774

In [29]:
df.loc[df.Country_Region == 'Philippines', "Latitude"] = 12.8797
df.loc[df.Country_Region == 'Philippines', "Longitude"] = 121.774
df.loc[df.Country_Region == 'Philippines', "Province_State"] = 'Philippines'
df[df['Country_Region']=='Philippines']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
78,Philippines,Philippines,2020-03-01,3,1,1,12.8797,121.774
84,Philippines,Philippines,2020-03-02,3,1,1,12.8797,121.774
85,Philippines,Philippines,2020-03-03,3,1,1,12.8797,121.774
94,Philippines,Philippines,2020-03-04,3,1,1,12.8797,121.774
102,Philippines,Philippines,2020-03-05,3,1,1,12.8797,121.774
96,Philippines,Philippines,2020-03-06,5,1,1,12.8797,121.774
99,Philippines,Philippines,2020-03-07,6,1,1,12.8797,121.774
98,Philippines,Philippines,2020-03-08,10,1,1,12.8797,121.774
78,Philippines,Philippines,2020-03-09,20,1,1,12.8797,121.774
72,Philippines,Philippines,2020-03-10,33,1,2,12.8797,121.774
70,Philippines,Philippines,2020-03-11,49,1,2,12.8797,121.774
71,Philippines,Philippines,2020-03-12,52,2,2,12.8797,121.774
44,Philippines,Philippines,2020-03-13,64,5,2,12.8797,121.774
62,Philippines,Philippines,2020-03-14,111,8,2,12.8797,121.774
53,Philippines,Philippines,2020-03-15,140,11,2,12.8797,121.774
66,Philippines,Philippines,2020-03-16,142,12,2,12.8797,121.774
60,Philippines,Philippines,2020-03-17,187,12,5,12.8797,121.774
64,Philippines,Philippines,2020-03-18,202,19,5,12.8797,121.774
73,Philippines,Philippines,2020-03-19,217,17,8,12.8797,121.774
80,Philippines,Philippines,2020-03-20,230,18,8,12.8797,121.774
72,Philippines,Philippines,2020-03-21,307,19,13,12.8797,121.774

In [30]:
df[df['Country_Region']=='Vietnam']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
51,NaN,Vietnam,2020-03-01,16,0,16,16.0000,108.0000
54,NaN,Vietnam,2020-03-02,16,0,16,16.0000,108.0000
56,NaN,Vietnam,2020-03-03,16,0,16,16.0000,108.0000
61,NaN,Vietnam,2020-03-04,16,0,16,16.0000,108.0000
68,NaN,Vietnam,2020-03-05,16,0,16,16.0000,108.0000
75,NaN,Vietnam,2020-03-06,16,0,16,16.0000,108.0000
74,NaN,Vietnam,2020-03-07,18,0,16,16.0000,108.0000
69,NaN,Vietnam,2020-03-08,30,0,16,16.0000,108.0000
72,NaN,Vietnam,2020-03-09,30,0,16,16.0000,108.0000
78,NaN,Vietnam,2020-03-11,38,0,16,16.0000,108.0000
81,NaN,Vietnam,2020-03-12,39,0,16,16.0000,108.0000
222,NaN,Vietnam,2020-03-13,47,0,16,14.0583,108.2772
90,NaN,Vietnam,2020-03-14,53,0,16,14.0583,108.2772
93,NaN,Vietnam,2020-03-15,56,0,16,14.0583,108.2772
98,NaN,Vietnam,2020-03-16,61,0,16,14.0583,108.2772
110,NaN,Vietnam,2020-03-17,66,0,16,14.0583,108.2772
117,NaN,Vietnam,2020-03-18,75,0,16,14.0583,108.2772
120,NaN,Vietnam,2020-03-19,85,0,16,14.0583,108.2772
122,NaN,Vietnam,2020-03-20,91,0,16,14.0583,108.2772
131,NaN,Vietnam,2020-03-21,94,0,17,14.0583,108.2772

In [31]:
df.loc[df.Country_Region == 'Vietnam', "Latitude"] = 14.0583
df.loc[df.Country_Region == 'Vietnam', "Longitude"] = 108.2772
df.loc[df.Country_Region == 'Vietnam', "Province_State"] = 'Vietnam'
df[df['Country_Region']=='Vietnam']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
51,Vietnam,Vietnam,2020-03-01,16,0,16,14.0583,108.2772
54,Vietnam,Vietnam,2020-03-02,16,0,16,14.0583,108.2772
56,Vietnam,Vietnam,2020-03-03,16,0,16,14.0583,108.2772
61,Vietnam,Vietnam,2020-03-04,16,0,16,14.0583,108.2772
68,Vietnam,Vietnam,2020-03-05,16,0,16,14.0583,108.2772
75,Vietnam,Vietnam,2020-03-06,16,0,16,14.0583,108.2772
74,Vietnam,Vietnam,2020-03-07,18,0,16,14.0583,108.2772
69,Vietnam,Vietnam,2020-03-08,30,0,16,14.0583,108.2772
72,Vietnam,Vietnam,2020-03-09,30,0,16,14.0583,108.2772
78,Vietnam,Vietnam,2020-03-11,38,0,16,14.0583,108.2772
81,Vietnam,Vietnam,2020-03-12,39,0,16,14.0583,108.2772
222,Vietnam,Vietnam,2020-03-13,47,0,16,14.0583,108.2772
90,Vietnam,Vietnam,2020-03-14,53,0,16,14.0583,108.2772
93,Vietnam,Vietnam,2020-03-15,56,0,16,14.0583,108.2772
98,Vietnam,Vietnam,2020-03-16,61,0,16,14.0583,108.2772
110,Vietnam,Vietnam,2020-03-17,66,0,16,14.0583,108.2772
117,Vietnam,Vietnam,2020-03-18,75,0,16,14.0583,108.2772
120,Vietnam,Vietnam,2020-03-19,85,0,16,14.0583,108.2772
122,Vietnam,Vietnam,2020-03-20,91,0,16,14.0583,108.2772
131,Vietnam,Vietnam,2020-03-21,94,0,17,14.0583,108.2772

In [32]:
df[df['Country_Region']=='France'].head(15)

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
28,NaN,France,2020-03-01,130,2,12,47.0000,2.0000
23,NaN,France,2020-03-02,191,3,12,47.0000,2.0000
23,NaN,France,2020-03-03,204,4,12,47.0000,2.0000
21,NaN,France,2020-03-04,285,4,12,47.0000,2.0000
18,NaN,France,2020-03-05,377,6,12,47.0000,2.0000
13,NaN,France,2020-03-06,653,9,12,47.0000,2.0000
9,NaN,France,2020-03-07,949,11,12,47.0000,2.0000
7,NaN,France,2020-03-08,1126,19,12,47.0000,2.0000
7,NaN,France,2020-03-09,1209,19,12,47.0000,2.0000
4,NaN,France,2020-03-10,1784,33,12,47.0000,2.0000
4,France,France,2020-03-11,2281,48,12,46.2276,2.2137
170,St Martin,France,2020-03-11,2,0,0,18.0708,-63.0501
186,Saint Barthelemy,France,2020-03-11,1,0,0,17.9000,-62.8333
4,France,France,2020-03-12,2281,48,12,46.2276,2.2137
173,St Martin,France,2020-03-12,2,0,0,18.0708,-63.0501

In [33]:
len(df)

4743

In [34]:
df.loc[df.Country_Region == 'Austria', "Province_State"] = 'Austria'
df[df['Country_Region']=='Austria']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
52,Austria,Austria,2020-03-01,14,0,0,47.5162,14.5501
50,Austria,Austria,2020-03-02,18,0,0,47.5162,14.5501
51,Austria,Austria,2020-03-03,21,0,0,47.5162,14.5501
52,Austria,Austria,2020-03-04,29,0,0,47.5162,14.5501
52,Austria,Austria,2020-03-05,41,0,0,47.5162,14.5501
49,Austria,Austria,2020-03-06,55,0,0,47.5162,14.5501
44,Austria,Austria,2020-03-07,79,0,0,47.5162,14.5501
41,Austria,Austria,2020-03-08,104,0,0,47.5162,14.5501
38,Austria,Austria,2020-03-09,131,0,2,47.5162,14.5501
34,Austria,Austria,2020-03-10,182,0,4,47.5162,14.5501
34,Austria,Austria,2020-03-11,246,0,4,47.5162,14.5501
32,Austria,Austria,2020-03-12,302,1,4,47.5162,14.5501
67,Austria,Austria,2020-03-13,504,1,6,47.5162,14.5501
23,Austria,Austria,2020-03-14,655,1,6,47.5162,14.5501
20,Austria,Austria,2020-03-15,860,1,6,47.5162,14.5501
16,Austria,Austria,2020-03-16,1018,3,6,47.5162,14.5501
13,Austria,Austria,2020-03-17,1332,3,1,47.5162,14.5501
11,Austria,Austria,2020-03-18,1646,4,9,47.5162,14.5501
11,Austria,Austria,2020-03-19,2013,6,9,47.5162,14.5501
11,Austria,Austria,2020-03-20,2388,6,9,47.5162,14.5501
12,Austria,Austria,2020-03-21,2814,8,9,47.5162,14.5501

In [35]:
df[df['Country_Region']=='Belgium']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
84,NaN,Belgium,2020-03-01,2,0,1,50.8333,4.0000
63,NaN,Belgium,2020-03-02,8,0,1,50.8333,4.0000
58,NaN,Belgium,2020-03-03,13,0,1,50.8333,4.0000
56,NaN,Belgium,2020-03-04,23,0,1,50.8333,4.0000
47,NaN,Belgium,2020-03-05,50,0,1,50.8333,4.0000
37,NaN,Belgium,2020-03-06,109,0,1,50.8333,4.0000
30,NaN,Belgium,2020-03-07,169,0,1,50.8333,4.0000
30,NaN,Belgium,2020-03-08,200,0,1,50.8333,4.0000
30,NaN,Belgium,2020-03-09,239,0,1,50.8333,4.0000
29,NaN,Belgium,2020-03-10,267,0,1,50.8333,4.0000
30,NaN,Belgium,2020-03-11,314,3,1,50.8333,4.0000
31,NaN,Belgium,2020-03-12,314,3,1,50.8333,4.0000
122,NaN,Belgium,2020-03-13,559,3,1,50.5039,4.4699
22,NaN,Belgium,2020-03-14,689,4,1,50.5039,4.4699
18,NaN,Belgium,2020-03-15,886,4,1,50.5039,4.4699
15,NaN,Belgium,2020-03-16,1058,5,1,50.5039,4.4699
15,NaN,Belgium,2020-03-17,1243,10,1,50.5039,4.4699
13,NaN,Belgium,2020-03-18,1486,14,31,50.5039,4.4699
12,NaN,Belgium,2020-03-19,1795,21,31,50.5039,4.4699
12,NaN,Belgium,2020-03-20,2257,37,1,50.5039,4.4699
11,NaN,Belgium,2020-03-21,2815,67,263,50.5039,4.4699

In [36]:
df.loc[df.Country_Region == 'Belgium', "Latitude"] = 50.5039
df.loc[df.Country_Region == 'Belgium', "Longitude"] = 4.4699
df.loc[df.Country_Region == 'Belgium', "Province_State"] = 'Belgium'
df[df['Country_Region']=='Belgium']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
84,Belgium,Belgium,2020-03-01,2,0,1,50.5039,4.4699
63,Belgium,Belgium,2020-03-02,8,0,1,50.5039,4.4699
58,Belgium,Belgium,2020-03-03,13,0,1,50.5039,4.4699
56,Belgium,Belgium,2020-03-04,23,0,1,50.5039,4.4699
47,Belgium,Belgium,2020-03-05,50,0,1,50.5039,4.4699
37,Belgium,Belgium,2020-03-06,109,0,1,50.5039,4.4699
30,Belgium,Belgium,2020-03-07,169,0,1,50.5039,4.4699
30,Belgium,Belgium,2020-03-08,200,0,1,50.5039,4.4699
30,Belgium,Belgium,2020-03-09,239,0,1,50.5039,4.4699
29,Belgium,Belgium,2020-03-10,267,0,1,50.5039,4.4699
30,Belgium,Belgium,2020-03-11,314,3,1,50.5039,4.4699
31,Belgium,Belgium,2020-03-12,314,3,1,50.5039,4.4699
122,Belgium,Belgium,2020-03-13,559,3,1,50.5039,4.4699
22,Belgium,Belgium,2020-03-14,689,4,1,50.5039,4.4699
18,Belgium,Belgium,2020-03-15,886,4,1,50.5039,4.4699
15,Belgium,Belgium,2020-03-16,1058,5,1,50.5039,4.4699
15,Belgium,Belgium,2020-03-17,1243,10,1,50.5039,4.4699
13,Belgium,Belgium,2020-03-18,1486,14,31,50.5039,4.4699
12,Belgium,Belgium,2020-03-19,1795,21,31,50.5039,4.4699
12,Belgium,Belgium,2020-03-20,2257,37,1,50.5039,4.4699
11,Belgium,Belgium,2020-03-21,2815,67,263,50.5039,4.4699

In [37]:
df[df['Country_Region']=='Qatar']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
79,NaN,Qatar,2020-03-01,3,0,0,25.3548,51.1839
85,NaN,Qatar,2020-03-02,3,0,0,25.3548,51.1839
72,NaN,Qatar,2020-03-03,7,0,0,25.3548,51.1839
77,NaN,Qatar,2020-03-04,8,0,0,25.3548,51.1839
81,NaN,Qatar,2020-03-05,8,0,0,25.3548,51.1839
89,NaN,Qatar,2020-03-06,8,0,0,25.3548,51.1839
93,NaN,Qatar,2020-03-07,8,0,0,25.3548,51.1839
84,NaN,Qatar,2020-03-08,15,0,0,25.3548,51.1839
82,NaN,Qatar,2020-03-09,18,0,0,25.3548,51.1839
80,NaN,Qatar,2020-03-10,24,0,0,25.3548,51.1839
32,NaN,Qatar,2020-03-11,262,0,0,25.3548,51.1839
34,NaN,Qatar,2020-03-12,262,0,0,25.3548,51.1839
104,NaN,Qatar,2020-03-13,320,0,0,25.3548,51.1839
33,NaN,Qatar,2020-03-14,337,0,4,25.3548,51.1839
34,NaN,Qatar,2020-03-15,401,0,4,25.3548,51.1839
33,NaN,Qatar,2020-03-16,439,0,4,25.3548,51.1839
34,NaN,Qatar,2020-03-17,439,0,4,25.3548,51.1839
34,NaN,Qatar,2020-03-18,452,0,4,25.3548,51.1839
39,NaN,Qatar,2020-03-19,460,0,4,25.3548,51.1839
46,NaN,Qatar,2020-03-20,470,0,10,25.3548,51.1839
54,NaN,Qatar,2020-03-21,481,0,27,25.3548,51.1839

In [38]:
df.loc[df.Country_Region == 'Qatar', "Province_State"] = 'Qatar'
df[df['Country_Region']=='Qatar']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
79,Qatar,Qatar,2020-03-01,3,0,0,25.3548,51.1839
85,Qatar,Qatar,2020-03-02,3,0,0,25.3548,51.1839
72,Qatar,Qatar,2020-03-03,7,0,0,25.3548,51.1839
77,Qatar,Qatar,2020-03-04,8,0,0,25.3548,51.1839
81,Qatar,Qatar,2020-03-05,8,0,0,25.3548,51.1839
89,Qatar,Qatar,2020-03-06,8,0,0,25.3548,51.1839
93,Qatar,Qatar,2020-03-07,8,0,0,25.3548,51.1839
84,Qatar,Qatar,2020-03-08,15,0,0,25.3548,51.1839
82,Qatar,Qatar,2020-03-09,18,0,0,25.3548,51.1839
80,Qatar,Qatar,2020-03-10,24,0,0,25.3548,51.1839
32,Qatar,Qatar,2020-03-11,262,0,0,25.3548,51.1839
34,Qatar,Qatar,2020-03-12,262,0,0,25.3548,51.1839
104,Qatar,Qatar,2020-03-13,320,0,0,25.3548,51.1839
33,Qatar,Qatar,2020-03-14,337,0,4,25.3548,51.1839
34,Qatar,Qatar,2020-03-15,401,0,4,25.3548,51.1839
33,Qatar,Qatar,2020-03-16,439,0,4,25.3548,51.1839
34,Qatar,Qatar,2020-03-17,439,0,4,25.3548,51.1839
34,Qatar,Qatar,2020-03-18,452,0,4,25.3548,51.1839
39,Qatar,Qatar,2020-03-19,460,0,4,25.3548,51.1839
46,Qatar,Qatar,2020-03-20,470,0,10,25.3548,51.1839
54,Qatar,Qatar,2020-03-21,481,0,27,25.3548,51.1839

In [39]:
df[df['Country_Region']=='Bahrain']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
39,NaN,Bahrain,2020-03-01,47,0,0,26.0275,50.5500
40,NaN,Bahrain,2020-03-02,49,0,0,26.0275,50.5500
42,NaN,Bahrain,2020-03-03,49,0,0,26.0275,50.5500
43,NaN,Bahrain,2020-03-04,52,0,0,26.0275,50.5500
45,NaN,Bahrain,2020-03-05,55,0,0,26.0275,50.5500
46,NaN,Bahrain,2020-03-06,60,0,4,26.0275,50.5500
43,NaN,Bahrain,2020-03-07,85,0,4,26.0275,50.5500
44,NaN,Bahrain,2020-03-08,85,0,4,26.0275,50.5500
44,NaN,Bahrain,2020-03-09,95,0,14,26.0275,50.5500
47,NaN,Bahrain,2020-03-10,110,0,22,26.0275,50.5500
37,NaN,Bahrain,2020-03-11,195,0,35,26.0275,50.5500
38,NaN,Bahrain,2020-03-12,195,0,35,26.0275,50.5500
81,NaN,Bahrain,2020-03-13,189,0,44,26.0667,50.5577
42,NaN,Bahrain,2020-03-14,210,0,44,26.0667,50.5577
45,NaN,Bahrain,2020-03-15,214,0,60,26.0667,50.5577
46,NaN,Bahrain,2020-03-16,214,1,77,26.0667,50.5577
50,NaN,Bahrain,2020-03-17,228,1,81,26.0667,50.5577
53,NaN,Bahrain,2020-03-18,256,1,88,26.0667,50.5577
59,NaN,Bahrain,2020-03-19,278,1,100,26.0667,50.5577
69,NaN,Bahrain,2020-03-20,285,1,100,26.0667,50.5577
75,NaN,Bahrain,2020-03-21,305,1,125,26.0667,50.5577

In [40]:
df.loc[df.Country_Region == 'Bahrain', "Latitude"] = 26.0667
df.loc[df.Country_Region == 'Bahrain', "Longitude"] = 50.5577
df.loc[df.Country_Region == 'Bahrain', "Province_State"] = 'Bahrain'
df[df['Country_Region']=='Bahrain']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
39,Bahrain,Bahrain,2020-03-01,47,0,0,26.0667,50.5577
40,Bahrain,Bahrain,2020-03-02,49,0,0,26.0667,50.5577
42,Bahrain,Bahrain,2020-03-03,49,0,0,26.0667,50.5577
43,Bahrain,Bahrain,2020-03-04,52,0,0,26.0667,50.5577
45,Bahrain,Bahrain,2020-03-05,55,0,0,26.0667,50.5577
46,Bahrain,Bahrain,2020-03-06,60,0,4,26.0667,50.5577
43,Bahrain,Bahrain,2020-03-07,85,0,4,26.0667,50.5577
44,Bahrain,Bahrain,2020-03-08,85,0,4,26.0667,50.5577
44,Bahrain,Bahrain,2020-03-09,95,0,14,26.0667,50.5577
47,Bahrain,Bahrain,2020-03-10,110,0,22,26.0667,50.5577
37,Bahrain,Bahrain,2020-03-11,195,0,35,26.0667,50.5577
38,Bahrain,Bahrain,2020-03-12,195,0,35,26.0667,50.5577
81,Bahrain,Bahrain,2020-03-13,189,0,44,26.0667,50.5577
42,Bahrain,Bahrain,2020-03-14,210,0,44,26.0667,50.5577
45,Bahrain,Bahrain,2020-03-15,214,0,60,26.0667,50.5577
46,Bahrain,Bahrain,2020-03-16,214,1,77,26.0667,50.5577
50,Bahrain,Bahrain,2020-03-17,228,1,81,26.0667,50.5577
53,Bahrain,Bahrain,2020-03-18,256,1,88,26.0667,50.5577
59,Bahrain,Bahrain,2020-03-19,278,1,100,26.0667,50.5577
69,Bahrain,Bahrain,2020-03-20,285,1,100,26.0667,50.5577
75,Bahrain,Bahrain,2020-03-21,305,1,125,26.0667,50.5577

In [41]:
df[df['Country_Region']=='Israel']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
55,NaN,Israel,2020-03-01,10,0,1,31.0000,35.0000
58,NaN,Israel,2020-03-02,10,0,1,31.0000,35.0000
60,NaN,Israel,2020-03-03,12,0,1,31.0000,35.0000
62,NaN,Israel,2020-03-04,15,0,1,31.0000,35.0000
65,NaN,Israel,2020-03-05,16,0,1,31.0000,35.0000
63,NaN,Israel,2020-03-06,21,0,2,31.0000,35.0000
68,NaN,Israel,2020-03-07,21,0,2,31.0000,35.0000
60,NaN,Israel,2020-03-08,39,0,2,31.0000,35.0000
62,NaN,Israel,2020-03-09,39,0,2,31.0000,35.0000
59,NaN,Israel,2020-03-10,58,0,4,31.0000,35.0000
49,NaN,Israel,2020-03-11,109,0,4,31.0000,35.0000
46,NaN,Israel,2020-03-12,131,0,4,31.0000,35.0000
98,NaN,Israel,2020-03-13,161,0,4,31.0461,34.8516
43,NaN,Israel,2020-03-14,193,0,4,31.0461,34.8516
46,NaN,Israel,2020-03-15,251,0,4,31.0461,34.8516
41,NaN,Israel,2020-03-16,255,0,4,31.0461,34.8516
38,NaN,Israel,2020-03-17,337,0,11,31.0461,34.8516
36,NaN,Israel,2020-03-18,433,0,11,31.0461,34.8516
31,NaN,Israel,2020-03-19,677,0,11,31.0461,34.8516
32,NaN,Israel,2020-03-20,705,0,14,31.0461,34.8516
30,NaN,Israel,2020-03-21,883,1,36,31.0461,34.8516

In [42]:
df.loc[df.Country_Region == 'Israel', "Latitude"] = 31.0461
df.loc[df.Country_Region == 'Israel', "Longitude"] = 34.8516
df.loc[df.Country_Region == 'Israel', "Province_State"] = 'Israel'
df[df['Country_Region']=='Israel']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
55,Israel,Israel,2020-03-01,10,0,1,31.0461,34.8516
58,Israel,Israel,2020-03-02,10,0,1,31.0461,34.8516
60,Israel,Israel,2020-03-03,12,0,1,31.0461,34.8516
62,Israel,Israel,2020-03-04,15,0,1,31.0461,34.8516
65,Israel,Israel,2020-03-05,16,0,1,31.0461,34.8516
63,Israel,Israel,2020-03-06,21,0,2,31.0461,34.8516
68,Israel,Israel,2020-03-07,21,0,2,31.0461,34.8516
60,Israel,Israel,2020-03-08,39,0,2,31.0461,34.8516
62,Israel,Israel,2020-03-09,39,0,2,31.0461,34.8516
59,Israel,Israel,2020-03-10,58,0,4,31.0461,34.8516
49,Israel,Israel,2020-03-11,109,0,4,31.0461,34.8516
46,Israel,Israel,2020-03-12,131,0,4,31.0461,34.8516
98,Israel,Israel,2020-03-13,161,0,4,31.0461,34.8516
43,Israel,Israel,2020-03-14,193,0,4,31.0461,34.8516
46,Israel,Israel,2020-03-15,251,0,4,31.0461,34.8516
41,Israel,Israel,2020-03-16,255,0,4,31.0461,34.8516
38,Israel,Israel,2020-03-17,337,0,11,31.0461,34.8516
36,Israel,Israel,2020-03-18,433,0,11,31.0461,34.8516
31,Israel,Israel,2020-03-19,677,0,11,31.0461,34.8516
32,Israel,Israel,2020-03-20,705,0,14,31.0461,34.8516
30,Israel,Israel,2020-03-21,883,1,36,31.0461,34.8516

In [43]:
df.loc[df.Country_Region == 'Iceland', "Province_State"] = 'Iceland'
df[df['Country_Region']=='Iceland']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
76,Iceland,Iceland,2020-03-01,3,0,0,64.9631,-19.0208
71,Iceland,Iceland,2020-03-02,6,0,0,64.9631,-19.0208
63,Iceland,Iceland,2020-03-03,11,0,0,64.9631,-19.0208
55,Iceland,Iceland,2020-03-04,26,0,0,64.9631,-19.0208
54,Iceland,Iceland,2020-03-05,34,0,0,64.9631,-19.0208
54,Iceland,Iceland,2020-03-06,43,0,0,64.9631,-19.0208
52,Iceland,Iceland,2020-03-07,50,0,0,64.9631,-19.0208
53,Iceland,Iceland,2020-03-08,50,0,0,64.9631,-19.0208
54,Iceland,Iceland,2020-03-09,58,0,0,64.9631,-19.0208
56,Iceland,Iceland,2020-03-10,69,0,1,64.9631,-19.0208
54,Iceland,Iceland,2020-03-11,85,0,1,64.9631,-19.0208
51,Iceland,Iceland,2020-03-12,103,0,1,64.9631,-19.0208
82,Iceland,Iceland,2020-03-13,134,0,1,64.9631,-19.0208
49,Iceland,Iceland,2020-03-14,156,0,1,64.9631,-19.0208
50,Iceland,Iceland,2020-03-15,171,5,8,64.9631,-19.0208
50,Iceland,Iceland,2020-03-16,180,0,0,64.9631,-19.0208
53,Iceland,Iceland,2020-03-17,220,1,0,64.9631,-19.0208
56,Iceland,Iceland,2020-03-18,250,1,5,64.9631,-19.0208
51,Iceland,Iceland,2020-03-19,330,1,5,64.9631,-19.0208
52,Iceland,Iceland,2020-03-20,409,0,5,64.9631,-19.0208
55,Iceland,Iceland,2020-03-21,473,1,22,64.9631,-19.0208

In [44]:
df.loc[df.Country_Region == 'Greece', "Province_State"] = 'Greece'
df[df['Country_Region']=='Greece']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
64,Greece,Greece,2020-03-01,7,0,0,39.0742,21.8243
67,Greece,Greece,2020-03-02,7,0,0,39.0742,21.8243
71,Greece,Greece,2020-03-03,7,0,0,39.0742,21.8243
75,Greece,Greece,2020-03-04,9,0,0,39.0742,21.8243
55,Greece,Greece,2020-03-05,31,0,0,39.0742,21.8243
51,Greece,Greece,2020-03-06,45,0,0,39.0742,21.8243
54,Greece,Greece,2020-03-07,46,0,0,39.0742,21.8243
50,Greece,Greece,2020-03-08,73,0,0,39.0742,21.8243
51,Greece,Greece,2020-03-09,73,0,0,39.0742,21.8243
50,Greece,Greece,2020-03-10,89,0,0,39.0742,21.8243
50,Greece,Greece,2020-03-11,99,1,0,39.0742,21.8243
52,Greece,Greece,2020-03-12,99,1,0,39.0742,21.8243
75,Greece,Greece,2020-03-13,190,1,0,39.0742,21.8243
39,Greece,Greece,2020-03-14,228,3,8,39.0742,21.8243
42,Greece,Greece,2020-03-15,331,4,8,39.0742,21.8243
35,Greece,Greece,2020-03-16,331,4,8,39.0742,21.8243
36,Greece,Greece,2020-03-17,387,5,8,39.0742,21.8243
37,Greece,Greece,2020-03-18,418,5,8,39.0742,21.8243
42,Greece,Greece,2020-03-19,418,6,8,39.0742,21.8243
42,Greece,Greece,2020-03-20,495,6,19,39.0742,21.8243
47,Greece,Greece,2020-03-21,530,13,19,39.0742,21.8243

In [45]:
df.loc[df.Country_Region == 'Czechia', "Province_State"] = 'Czechia'
df[df['Country_Region']=='Czechia']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
53,Czechia,Czechia,2020-03-11,91,0,0,49.8175,15.473
53,Czechia,Czechia,2020-03-12,94,0,0,49.8175,15.473
103,Czechia,Czechia,2020-03-13,141,0,0,49.8175,15.473
44,Czechia,Czechia,2020-03-14,189,0,0,49.8175,15.473
41,Czechia,Czechia,2020-03-15,253,0,0,49.8175,15.473
38,Czechia,Czechia,2020-03-16,298,0,3,49.8175,15.473
35,Czechia,Czechia,2020-03-17,396,0,3,49.8175,15.473
33,Czechia,Czechia,2020-03-18,464,0,3,49.8175,15.473
30,Czechia,Czechia,2020-03-19,694,0,3,49.8175,15.473
28,Czechia,Czechia,2020-03-20,833,0,4,49.8175,15.473
27,Czechia,Czechia,2020-03-21,995,0,6,49.8175,15.473

In [46]:
df.loc[df.Country_Region == 'United Arab Emirates', "Latitude"] = 23.4241
df.loc[df.Country_Region == 'United Arab Emirates', "Longitude"] = 53.8478
df.loc[df.Country_Region == 'United Arab Emirates', "Province_State"] ='United Arab Emirates'
df[df['Country_Region']=='United Arab Emirates']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
47,United Arab Emirates,United Arab Emirates,2020-03-01,21,0,5,23.4241,53.8478
49,United Arab Emirates,United Arab Emirates,2020-03-02,21,0,5,23.4241,53.8478
49,United Arab Emirates,United Arab Emirates,2020-03-03,27,0,5,23.4241,53.8478
54,United Arab Emirates,United Arab Emirates,2020-03-04,27,0,5,23.4241,53.8478
57,United Arab Emirates,United Arab Emirates,2020-03-05,29,0,5,23.4241,53.8478
57,United Arab Emirates,United Arab Emirates,2020-03-06,29,0,5,23.4241,53.8478
57,United Arab Emirates,United Arab Emirates,2020-03-07,45,0,7,23.4241,53.8478
58,United Arab Emirates,United Arab Emirates,2020-03-08,45,0,7,23.4241,53.8478
60,United Arab Emirates,United Arab Emirates,2020-03-09,45,0,7,23.4241,53.8478
54,United Arab Emirates,United Arab Emirates,2020-03-10,74,0,12,23.4241,53.8478
58,United Arab Emirates,United Arab Emirates,2020-03-11,74,0,17,23.4241,53.8478
56,United Arab Emirates,United Arab Emirates,2020-03-12,85,0,17,23.4241,53.8478
47,United Arab Emirates,United Arab Emirates,2020-03-13,85,0,17,23.4241,53.8478
73,United Arab Emirates,United Arab Emirates,2020-03-14,85,0,17,23.4241,53.8478
79,United Arab Emirates,United Arab Emirates,2020-03-15,98,0,23,23.4241,53.8478
83,United Arab Emirates,United Arab Emirates,2020-03-16,98,0,23,23.4241,53.8478
88,United Arab Emirates,United Arab Emirates,2020-03-17,98,0,23,23.4241,53.8478
90,United Arab Emirates,United Arab Emirates,2020-03-18,113,0,26,23.4241,53.8478
91,United Arab Emirates,United Arab Emirates,2020-03-19,140,0,31,23.4241,53.8478
97,United Arab Emirates,United Arab Emirates,2020-03-20,140,2,31,23.4241,53.8478
109,United Arab Emirates,United Arab Emirates,2020-03-21,153,2,38,23.4241,53.8478

In [47]:
df[df['Country_Region']=='Kuwait']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
40,NaN,Kuwait,2020-03-01,45,0,0,29.5000,47.7500
39,NaN,Kuwait,2020-03-02,56,0,0,29.5000,47.7500
39,NaN,Kuwait,2020-03-03,56,0,0,29.5000,47.7500
41,NaN,Kuwait,2020-03-04,56,0,0,29.5000,47.7500
44,NaN,Kuwait,2020-03-05,58,0,0,29.5000,47.7500
47,NaN,Kuwait,2020-03-06,58,0,0,29.5000,47.7500
49,NaN,Kuwait,2020-03-07,61,0,0,29.5000,47.7500
51,NaN,Kuwait,2020-03-08,64,0,1,29.5000,47.7500
52,NaN,Kuwait,2020-03-09,64,0,1,29.5000,47.7500
57,NaN,Kuwait,2020-03-10,69,0,1,29.5000,47.7500
59,NaN,Kuwait,2020-03-11,72,0,2,29.5000,47.7500
57,NaN,Kuwait,2020-03-12,80,0,5,29.5000,47.7500
72,NaN,Kuwait,2020-03-13,80,0,5,29.3117,47.4818
65,NaN,Kuwait,2020-03-14,104,0,5,29.3117,47.4818
68,NaN,Kuwait,2020-03-15,112,0,5,29.3117,47.4818
75,NaN,Kuwait,2020-03-16,123,0,9,29.3117,47.4818
79,NaN,Kuwait,2020-03-17,130,0,9,29.3117,47.4818
81,NaN,Kuwait,2020-03-18,142,0,15,29.3117,47.4818
88,NaN,Kuwait,2020-03-19,148,0,18,29.3117,47.4818
92,NaN,Kuwait,2020-03-20,159,0,18,29.3117,47.4818
99,NaN,Kuwait,2020-03-21,176,0,27,29.3117,47.4818

In [48]:
df.loc[df.Country_Region == 'Kuwait', "Latitude"] = 29.3117
df.loc[df.Country_Region == 'Kuwait', "Longitude"] = 47.4818
df.loc[df.Country_Region == 'Kuwait', "Province_State"] = 'Kuwait'
df[df['Country_Region']=='Kuwait']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
40,Kuwait,Kuwait,2020-03-01,45,0,0,29.3117,47.4818
39,Kuwait,Kuwait,2020-03-02,56,0,0,29.3117,47.4818
39,Kuwait,Kuwait,2020-03-03,56,0,0,29.3117,47.4818
41,Kuwait,Kuwait,2020-03-04,56,0,0,29.3117,47.4818
44,Kuwait,Kuwait,2020-03-05,58,0,0,29.3117,47.4818
47,Kuwait,Kuwait,2020-03-06,58,0,0,29.3117,47.4818
49,Kuwait,Kuwait,2020-03-07,61,0,0,29.3117,47.4818
51,Kuwait,Kuwait,2020-03-08,64,0,1,29.3117,47.4818
52,Kuwait,Kuwait,2020-03-09,64,0,1,29.3117,47.4818
57,Kuwait,Kuwait,2020-03-10,69,0,1,29.3117,47.4818
59,Kuwait,Kuwait,2020-03-11,72,0,2,29.3117,47.4818
57,Kuwait,Kuwait,2020-03-12,80,0,5,29.3117,47.4818
72,Kuwait,Kuwait,2020-03-13,80,0,5,29.3117,47.4818
65,Kuwait,Kuwait,2020-03-14,104,0,5,29.3117,47.4818
68,Kuwait,Kuwait,2020-03-15,112,0,5,29.3117,47.4818
75,Kuwait,Kuwait,2020-03-16,123,0,9,29.3117,47.4818
79,Kuwait,Kuwait,2020-03-17,130,0,9,29.3117,47.4818
81,Kuwait,Kuwait,2020-03-18,142,0,15,29.3117,47.4818
88,Kuwait,Kuwait,2020-03-19,148,0,18,29.3117,47.4818
92,Kuwait,Kuwait,2020-03-20,159,0,18,29.3117,47.4818
99,Kuwait,Kuwait,2020-03-21,176,0,27,29.3117,47.4818

In [49]:
df[df['Country_Region']=='India']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
77,NaN,India,2020-03-01,3,0,3,21.0000,78.0000
73,NaN,India,2020-03-02,5,0,3,21.0000,78.0000
78,NaN,India,2020-03-03,5,0,3,21.0000,78.0000
53,NaN,India,2020-03-04,28,0,3,21.0000,78.0000
56,NaN,India,2020-03-05,30,0,3,21.0000,78.0000
56,NaN,India,2020-03-06,31,0,3,21.0000,78.0000
58,NaN,India,2020-03-07,34,0,3,21.0000,78.0000
59,NaN,India,2020-03-08,39,0,3,21.0000,78.0000
61,NaN,India,2020-03-09,43,0,3,21.0000,78.0000
60,NaN,India,2020-03-10,56,0,4,21.0000,78.0000
62,NaN,India,2020-03-11,62,1,4,21.0000,78.0000
61,NaN,India,2020-03-12,73,1,4,21.0000,78.0000
124,NaN,India,2020-03-13,82,2,4,20.5937,78.9629
68,NaN,India,2020-03-14,102,2,4,20.5937,78.9629
67,NaN,India,2020-03-15,113,2,13,20.5937,78.9629
77,NaN,India,2020-03-16,119,2,13,20.5937,78.9629
74,NaN,India,2020-03-17,142,3,14,20.5937,78.9629
76,NaN,India,2020-03-18,156,3,14,20.5937,78.9629
78,NaN,India,2020-03-19,194,4,15,20.5937,78.9629
77,NaN,India,2020-03-20,244,5,20,20.5937,78.9629
69,NaN,India,2020-03-21,330,4,23,20.5937,78.9629

In [50]:
df.loc[df.Country_Region == 'India', "Latitude"] = 20.5937
df.loc[df.Country_Region == 'India', "Longitude"] = 78.9629
df.loc[df.Country_Region == 'India', "Province_State"] = 'India'
df[df['Country_Region']=='India']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
77,India,India,2020-03-01,3,0,3,20.5937,78.9629
73,India,India,2020-03-02,5,0,3,20.5937,78.9629
78,India,India,2020-03-03,5,0,3,20.5937,78.9629
53,India,India,2020-03-04,28,0,3,20.5937,78.9629
56,India,India,2020-03-05,30,0,3,20.5937,78.9629
56,India,India,2020-03-06,31,0,3,20.5937,78.9629
58,India,India,2020-03-07,34,0,3,20.5937,78.9629
59,India,India,2020-03-08,39,0,3,20.5937,78.9629
61,India,India,2020-03-09,43,0,3,20.5937,78.9629
60,India,India,2020-03-10,56,0,4,20.5937,78.9629
62,India,India,2020-03-11,62,1,4,20.5937,78.9629
61,India,India,2020-03-12,73,1,4,20.5937,78.9629
124,India,India,2020-03-13,82,2,4,20.5937,78.9629
68,India,India,2020-03-14,102,2,4,20.5937,78.9629
67,India,India,2020-03-15,113,2,13,20.5937,78.9629
77,India,India,2020-03-16,119,2,13,20.5937,78.9629
74,India,India,2020-03-17,142,3,14,20.5937,78.9629
76,India,India,2020-03-18,156,3,14,20.5937,78.9629
78,India,India,2020-03-19,194,4,15,20.5937,78.9629
77,India,India,2020-03-20,244,5,20,20.5937,78.9629
69,India,India,2020-03-21,330,4,23,20.5937,78.9629

In [51]:
df[df['Country_Region']=='Iraq']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
48,NaN,Iraq,2020-03-01,19,0,0,33.0000,44.0000
47,NaN,Iraq,2020-03-02,26,0,0,33.0000,44.0000
47,NaN,Iraq,2020-03-03,32,0,0,33.0000,44.0000
49,NaN,Iraq,2020-03-04,35,2,0,33.0000,44.0000
53,NaN,Iraq,2020-03-05,35,2,0,33.0000,44.0000
55,NaN,Iraq,2020-03-06,40,3,0,33.0000,44.0000
51,NaN,Iraq,2020-03-07,54,4,0,33.0000,44.0000
52,NaN,Iraq,2020-03-08,60,6,0,33.0000,44.0000
53,NaN,Iraq,2020-03-09,60,6,9,33.0000,44.0000
55,NaN,Iraq,2020-03-10,71,7,3,33.0000,44.0000
60,NaN,Iraq,2020-03-11,71,7,15,33.0000,44.0000
62,NaN,Iraq,2020-03-12,71,8,15,33.0000,44.0000
63,NaN,Iraq,2020-03-13,101,9,24,33.2232,43.6793
63,NaN,Iraq,2020-03-14,110,10,26,33.2232,43.6793
70,NaN,Iraq,2020-03-15,116,10,26,33.2232,43.6793
74,NaN,Iraq,2020-03-16,124,10,26,33.2232,43.6793
71,NaN,Iraq,2020-03-17,154,11,32,33.2232,43.6793
74,NaN,Iraq,2020-03-18,164,12,43,33.2232,43.6793
79,NaN,Iraq,2020-03-19,192,13,43,33.2232,43.6793
81,NaN,Iraq,2020-03-20,208,17,49,33.2232,43.6793
87,NaN,Iraq,2020-03-21,214,17,51,33.2232,43.6793

In [52]:
df.loc[df.Country_Region == 'Iraq', "Latitude"] = 33.2232
df.loc[df.Country_Region == 'Iraq', "Longitude"] = 43.6793
df.loc[df.Country_Region == 'Iraq', "Province_State"] = 'Iraq'
df[df['Country_Region']=='Iraq']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
48,Iraq,Iraq,2020-03-01,19,0,0,33.2232,43.6793
47,Iraq,Iraq,2020-03-02,26,0,0,33.2232,43.6793
47,Iraq,Iraq,2020-03-03,32,0,0,33.2232,43.6793
49,Iraq,Iraq,2020-03-04,35,2,0,33.2232,43.6793
53,Iraq,Iraq,2020-03-05,35,2,0,33.2232,43.6793
55,Iraq,Iraq,2020-03-06,40,3,0,33.2232,43.6793
51,Iraq,Iraq,2020-03-07,54,4,0,33.2232,43.6793
52,Iraq,Iraq,2020-03-08,60,6,0,33.2232,43.6793
53,Iraq,Iraq,2020-03-09,60,6,9,33.2232,43.6793
55,Iraq,Iraq,2020-03-10,71,7,3,33.2232,43.6793
60,Iraq,Iraq,2020-03-11,71,7,15,33.2232,43.6793
62,Iraq,Iraq,2020-03-12,71,8,15,33.2232,43.6793
63,Iraq,Iraq,2020-03-13,101,9,24,33.2232,43.6793
63,Iraq,Iraq,2020-03-14,110,10,26,33.2232,43.6793
70,Iraq,Iraq,2020-03-15,116,10,26,33.2232,43.6793
74,Iraq,Iraq,2020-03-16,124,10,26,33.2232,43.6793
71,Iraq,Iraq,2020-03-17,154,11,32,33.2232,43.6793
74,Iraq,Iraq,2020-03-18,164,12,43,33.2232,43.6793
79,Iraq,Iraq,2020-03-19,192,13,43,33.2232,43.6793
81,Iraq,Iraq,2020-03-20,208,17,49,33.2232,43.6793
87,Iraq,Iraq,2020-03-21,214,17,51,33.2232,43.6793

In [53]:
df.loc[df.Country_Region == 'San Marino', "Province_State"] = 'San Marino'
df[df['Country_Region']=='San Marino']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
110,San Marino,San Marino,2020-03-01,1,0,0,43.9424,12.4578
65,San Marino,San Marino,2020-03-02,8,0,0,43.9424,12.4578
66,San Marino,San Marino,2020-03-03,10,1,0,43.9424,12.4578
60,San Marino,San Marino,2020-03-04,16,1,0,43.9424,12.4578
60,San Marino,San Marino,2020-03-05,21,1,0,43.9424,12.4578
64,San Marino,San Marino,2020-03-06,21,1,0,43.9424,12.4578
64,San Marino,San Marino,2020-03-07,23,1,0,43.9424,12.4578
63,San Marino,San Marino,2020-03-08,36,1,0,43.9424,12.4578
64,San Marino,San Marino,2020-03-09,36,1,0,43.9424,12.4578
63,San Marino,San Marino,2020-03-10,51,2,0,43.9424,12.4578
63,San Marino,San Marino,2020-03-11,62,2,0,43.9424,12.4578
64,San Marino,San Marino,2020-03-12,69,3,0,43.9424,12.4578
50,San Marino,San Marino,2020-03-13,80,5,0,43.9424,12.4578
75,San Marino,San Marino,2020-03-14,80,5,4,43.9424,12.4578
77,San Marino,San Marino,2020-03-15,101,5,4,43.9424,12.4578
79,San Marino,San Marino,2020-03-16,109,7,4,43.9424,12.4578
86,San Marino,San Marino,2020-03-17,109,7,4,43.9424,12.4578
88,San Marino,San Marino,2020-03-18,119,11,4,43.9424,12.4578
101,San Marino,San Marino,2020-03-19,119,11,4,43.9424,12.4578
96,San Marino,San Marino,2020-03-20,144,14,4,43.9424,12.4578
111,San Marino,San Marino,2020-03-21,144,20,4,43.9424,12.4578

In [54]:
df[df['Country_Region']=='Egypt']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
86,NaN,Egypt,2020-03-01,2,0,1,26.0000,30.0000
90,NaN,Egypt,2020-03-02,2,0,1,26.0000,30.0000
90,NaN,Egypt,2020-03-03,2,0,1,26.0000,30.0000
99,NaN,Egypt,2020-03-04,2,0,1,26.0000,30.0000
99,NaN,Egypt,2020-03-05,3,0,1,26.0000,30.0000
76,NaN,Egypt,2020-03-06,15,0,1,26.0000,30.0000
77,NaN,Egypt,2020-03-07,15,0,1,26.0000,30.0000
55,NaN,Egypt,2020-03-08,49,1,1,26.0000,30.0000
55,NaN,Egypt,2020-03-09,55,1,12,26.0000,30.0000
58,NaN,Egypt,2020-03-10,59,1,1,26.0000,30.0000
65,NaN,Egypt,2020-03-11,60,1,27,26.0000,30.0000
65,NaN,Egypt,2020-03-12,67,1,27,26.0000,30.0000
108,NaN,Egypt,2020-03-13,80,2,27,26.8206,30.8025
64,NaN,Egypt,2020-03-14,109,2,27,26.8206,30.8025
69,NaN,Egypt,2020-03-15,110,2,21,26.8206,30.8025
63,NaN,Egypt,2020-03-16,150,2,27,26.8206,30.8025
58,NaN,Egypt,2020-03-17,196,4,32,26.8206,30.8025
66,NaN,Egypt,2020-03-18,196,6,32,26.8206,30.8025
67,NaN,Egypt,2020-03-19,256,6,32,26.8206,30.8025
70,NaN,Egypt,2020-03-20,285,8,39,26.8206,30.8025
77,NaN,Egypt,2020-03-21,294,10,41,26.8206,30.8025

In [55]:
df.loc[df.Country_Region == 'Egypt', "Latitude"] = 26.8206
df.loc[df.Country_Region == 'Egypt', "Longitude"] = 30.8025
df.loc[df.Country_Region == 'Egypt', "Province_State"] = 'Egypt'
df[df['Country_Region']=='Egypt']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
86,Egypt,Egypt,2020-03-01,2,0,1,26.8206,30.8025
90,Egypt,Egypt,2020-03-02,2,0,1,26.8206,30.8025
90,Egypt,Egypt,2020-03-03,2,0,1,26.8206,30.8025
99,Egypt,Egypt,2020-03-04,2,0,1,26.8206,30.8025
99,Egypt,Egypt,2020-03-05,3,0,1,26.8206,30.8025
76,Egypt,Egypt,2020-03-06,15,0,1,26.8206,30.8025
77,Egypt,Egypt,2020-03-07,15,0,1,26.8206,30.8025
55,Egypt,Egypt,2020-03-08,49,1,1,26.8206,30.8025
55,Egypt,Egypt,2020-03-09,55,1,12,26.8206,30.8025
58,Egypt,Egypt,2020-03-10,59,1,1,26.8206,30.8025
65,Egypt,Egypt,2020-03-11,60,1,27,26.8206,30.8025
65,Egypt,Egypt,2020-03-12,67,1,27,26.8206,30.8025
108,Egypt,Egypt,2020-03-13,80,2,27,26.8206,30.8025
64,Egypt,Egypt,2020-03-14,109,2,27,26.8206,30.8025
69,Egypt,Egypt,2020-03-15,110,2,21,26.8206,30.8025
63,Egypt,Egypt,2020-03-16,150,2,27,26.8206,30.8025
58,Egypt,Egypt,2020-03-17,196,4,32,26.8206,30.8025
66,Egypt,Egypt,2020-03-18,196,6,32,26.8206,30.8025
67,Egypt,Egypt,2020-03-19,256,6,32,26.8206,30.8025
70,Egypt,Egypt,2020-03-20,285,8,39,26.8206,30.8025
77,Egypt,Egypt,2020-03-21,294,10,41,26.8206,30.8025

In [56]:
df.loc[df.Country_Region == 'Iraq', "Latitude"] = 33.2232
df.loc[df.Country_Region == 'Iraq', "Longitude"] = 43.6793
df.loc[df.Country_Region == 'Iraq', "Province_State"] = 'Iraq'
df[df['Country_Region']=='Iraq']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
48,Iraq,Iraq,2020-03-01,19,0,0,33.2232,43.6793
47,Iraq,Iraq,2020-03-02,26,0,0,33.2232,43.6793
47,Iraq,Iraq,2020-03-03,32,0,0,33.2232,43.6793
49,Iraq,Iraq,2020-03-04,35,2,0,33.2232,43.6793
53,Iraq,Iraq,2020-03-05,35,2,0,33.2232,43.6793
55,Iraq,Iraq,2020-03-06,40,3,0,33.2232,43.6793
51,Iraq,Iraq,2020-03-07,54,4,0,33.2232,43.6793
52,Iraq,Iraq,2020-03-08,60,6,0,33.2232,43.6793
53,Iraq,Iraq,2020-03-09,60,6,9,33.2232,43.6793
55,Iraq,Iraq,2020-03-10,71,7,3,33.2232,43.6793
60,Iraq,Iraq,2020-03-11,71,7,15,33.2232,43.6793
62,Iraq,Iraq,2020-03-12,71,8,15,33.2232,43.6793
63,Iraq,Iraq,2020-03-13,101,9,24,33.2232,43.6793
63,Iraq,Iraq,2020-03-14,110,10,26,33.2232,43.6793
70,Iraq,Iraq,2020-03-15,116,10,26,33.2232,43.6793
74,Iraq,Iraq,2020-03-16,124,10,26,33.2232,43.6793
71,Iraq,Iraq,2020-03-17,154,11,32,33.2232,43.6793
74,Iraq,Iraq,2020-03-18,164,12,43,33.2232,43.6793
79,Iraq,Iraq,2020-03-19,192,13,43,33.2232,43.6793
81,Iraq,Iraq,2020-03-20,208,17,49,33.2232,43.6793
87,Iraq,Iraq,2020-03-21,214,17,51,33.2232,43.6793

In [57]:
df.loc[df.Country_Region == 'Iraq', "Latitude"] = 33.2232
df.loc[df.Country_Region == 'Iraq', "Longitude"] = 43.6793
df.loc[df.Country_Region == 'Iraq', "Province_State"] = 'Iraq'
df[df['Country_Region']=='Iraq']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
48,Iraq,Iraq,2020-03-01,19,0,0,33.2232,43.6793
47,Iraq,Iraq,2020-03-02,26,0,0,33.2232,43.6793
47,Iraq,Iraq,2020-03-03,32,0,0,33.2232,43.6793
49,Iraq,Iraq,2020-03-04,35,2,0,33.2232,43.6793
53,Iraq,Iraq,2020-03-05,35,2,0,33.2232,43.6793
55,Iraq,Iraq,2020-03-06,40,3,0,33.2232,43.6793
51,Iraq,Iraq,2020-03-07,54,4,0,33.2232,43.6793
52,Iraq,Iraq,2020-03-08,60,6,0,33.2232,43.6793
53,Iraq,Iraq,2020-03-09,60,6,9,33.2232,43.6793
55,Iraq,Iraq,2020-03-10,71,7,3,33.2232,43.6793
60,Iraq,Iraq,2020-03-11,71,7,15,33.2232,43.6793
62,Iraq,Iraq,2020-03-12,71,8,15,33.2232,43.6793
63,Iraq,Iraq,2020-03-13,101,9,24,33.2232,43.6793
63,Iraq,Iraq,2020-03-14,110,10,26,33.2232,43.6793
70,Iraq,Iraq,2020-03-15,116,10,26,33.2232,43.6793
74,Iraq,Iraq,2020-03-16,124,10,26,33.2232,43.6793
71,Iraq,Iraq,2020-03-17,154,11,32,33.2232,43.6793
74,Iraq,Iraq,2020-03-18,164,12,43,33.2232,43.6793
79,Iraq,Iraq,2020-03-19,192,13,43,33.2232,43.6793
81,Iraq,Iraq,2020-03-20,208,17,49,33.2232,43.6793
87,Iraq,Iraq,2020-03-21,214,17,51,33.2232,43.6793

In [58]:
df.loc[df.Country_Region == 'Iraq', "Latitude"] = 33.2232
df.loc[df.Country_Region == 'Iraq', "Longitude"] = 43.6793
df.loc[df.Country_Region == 'Iraq', "Province_State"] = 'Iraq'
df[df['Country_Region']=='Iraq']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
48,Iraq,Iraq,2020-03-01,19,0,0,33.2232,43.6793
47,Iraq,Iraq,2020-03-02,26,0,0,33.2232,43.6793
47,Iraq,Iraq,2020-03-03,32,0,0,33.2232,43.6793
49,Iraq,Iraq,2020-03-04,35,2,0,33.2232,43.6793
53,Iraq,Iraq,2020-03-05,35,2,0,33.2232,43.6793
55,Iraq,Iraq,2020-03-06,40,3,0,33.2232,43.6793
51,Iraq,Iraq,2020-03-07,54,4,0,33.2232,43.6793
52,Iraq,Iraq,2020-03-08,60,6,0,33.2232,43.6793
53,Iraq,Iraq,2020-03-09,60,6,9,33.2232,43.6793
55,Iraq,Iraq,2020-03-10,71,7,3,33.2232,43.6793
60,Iraq,Iraq,2020-03-11,71,7,15,33.2232,43.6793
62,Iraq,Iraq,2020-03-12,71,8,15,33.2232,43.6793
63,Iraq,Iraq,2020-03-13,101,9,24,33.2232,43.6793
63,Iraq,Iraq,2020-03-14,110,10,26,33.2232,43.6793
70,Iraq,Iraq,2020-03-15,116,10,26,33.2232,43.6793
74,Iraq,Iraq,2020-03-16,124,10,26,33.2232,43.6793
71,Iraq,Iraq,2020-03-17,154,11,32,33.2232,43.6793
74,Iraq,Iraq,2020-03-18,164,12,43,33.2232,43.6793
79,Iraq,Iraq,2020-03-19,192,13,43,33.2232,43.6793
81,Iraq,Iraq,2020-03-20,208,17,49,33.2232,43.6793
87,Iraq,Iraq,2020-03-21,214,17,51,33.2232,43.6793

In [62]:
#export to csv
df.to_csv( "../combined2.csv", index=False, encoding='utf-8-sig')

In [ ]:
#values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
#df.fillna(value=values)