In [1]:
import os
import glob
import pandas as pd
os.chdir("resources/1")

In [2]:
df = pd.read_csv('02-22-2020.csv')
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Hubei,Mainland China,2020-02-22T23:33:06,64084,2346,15299
1,Guangdong,Mainland China,2020-02-22T10:03:04,1339,5,728
2,Henan,Mainland China,2020-02-22T14:13:38,1270,19,830
3,Zhejiang,Mainland China,2020-02-22T11:13:13,1205,1,719
4,Hunan,Mainland China,2020-02-22T10:03:04,1013,4,692

In [4]:
#Use glob to match the pattern ‘csv’
#extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format('csv'))]

In [5]:
#Combine all files in the list
data1= pd.concat([pd.read_csv(f) for f in all_filenames ])

C:\Users\super\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [6]:
data1.rename(columns={'Last Update':'Last_Update'}, inplace=True)

In [7]:
data1.head(2)

,Confirmed,Country/Region,Deaths,Last_Update,Province/State,Recovered,Unnamed: 0
0,1.0,Mainland China,NaN,1/22/2020 17:00,Anhui,NaN,NaN
1,14.0,Mainland China,NaN,1/22/2020 17:00,Beijing,NaN,NaN

In [12]:
data = data1.drop(['Unnamed: 0'], axis = 1)
data.head(2)

,Confirmed,Country/Region,Deaths,Last_Update,Province/State,Recovered
0,1.0,Mainland China,NaN,1/22/2020 17:00,Anhui,NaN
1,14.0,Mainland China,NaN,1/22/2020 17:00,Beijing,NaN

In [13]:
#export to csv
data.to_csv( "../combined1.csv", index=False, encoding='utf-8-sig')