In [1]:
import pandas as pd
import numpy as np

In [3]:
df1 = pd.read_csv('resources/Pcoordinators1.csv')
df2 = pd.read_csv('resources/Pcoordinators2.csv')
df1.head()

  Province/State  Latitude  Longitude
0          Hubei   30.9756   112.2707
1      Guangdong   23.3417   113.4244
2          Henan   33.8820   113.6140
3       Zhejiang   29.1832   120.0934
4          Hunan   27.6104   111.7088

In [7]:
df3 = pd.concat([df1,df2])
df3

            Province/State  Latitude  Longitude
0                    Hubei   30.9756   112.2707
1                Guangdong   23.3417   113.4244
2                    Henan   33.8820   113.6140
3                 Zhejiang   29.1832   120.0934
4                    Hunan   27.6104   111.7088
..                     ...       ...        ...
130  From Diamond Princess   35.4437   139.6380
131          French Guiana    4.0000   -53.0000
132             Guadeloupe   16.2500   -61.5833
133                Mayotte  -12.8431    45.1383
134                Reunion  -21.1351    55.2471

[200 rows x 3 columns]

In [9]:
df4= df3['Province/State'].unique()

In [10]:
print(f"df1:{len(df1)}, df2: {len(df2)}, df3: {len(df3)}, df4:{len(df4)}")

df1:65, df2: 135, df3: 200, df4:158