In [1]:
import pandas as pd

In [2]:
df1 = pd.read_excel('resources/1/2019-01-10 to 01-20.xlsx')
df1.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,new_confirmed
0,Hubei,China,1/11/2020 22:00:00 AM,41,1,2,0
1,Hubei,China,1/12/2020 22:00:00 AM,41,1,6,0
2,Hubei,China,1/13/2020 22:00:00 AM,41,1,7,0
3,Hubei,China,1/14/2020 22:00:00 AM,41,1,7,0
4,Hubei,China,1/15/2020 22:00:00 AM,41,1,7,0

In [4]:
df2 = df1.drop(['new_confirmed'], axis =1)
df2

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Hubei,China,1/11/2020 22:00:00 AM,41,1,2
1,Hubei,China,1/12/2020 22:00:00 AM,41,1,6
2,Hubei,China,1/13/2020 22:00:00 AM,41,1,7
3,Hubei,China,1/14/2020 22:00:00 AM,41,1,7
4,Hubei,China,1/15/2020 22:00:00 AM,41,1,7
5,Hubei,China,1/16/2020 22:00:00 PM,41,2,12
6,Hubei,China,1/17/2020 22:00:00 PM,45,2,15
7,Hubei,China,1/18/2020 22:00:00 PM,62,2,19
8,Hubei,China,1/198/2020 22:00:00 PM,121,3,24
9,Hubei,China,1/20/2020 22:00:00 PM,198,3,25
10,Hubei,China,1/21/2020 22:00:00 PM,270,3,27
11,Shanghai,China,1/21/2020 22:00:00 PM,2,0,0
12,Beijing,China,1/21/2020 22:00:00 PM,5,0,0
13,guangdong,China,1/21/2020 22:00:00 PM,14,0,0
14,Thailand,Thailand,1/17/2020 22:00:00 PM,1,0,0
15,Japan,Japan,1/17/2020 22:00:00 PM,1,0,1
16,Thailand,Thailand,1/21/2020 22:00:00 PM,2,0,0
17,Japan,Japan,1/21/2020 22:00:00 PM,1,0,1
18,South Korea,South Korea,1/21/2020 22:00:00 PM,1,0,1
19,China,China,1/21/2020 22:00:00 PM,291,3,27

In [5]:
df2.to_csv('resources/1/2019-01-10 to 01-20.csv')