In [1]:
%matplotlib notebook
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
data1 = pd.read_csv("resources/combined1.csv")
data2 = pd.read_csv("resources/combined2.csv")
data3 = pd.read_csv("resources/combined3.csv")

In [3]:
data1.head(2)

,Confirmed,Country_Region,Deaths,Last_Update,Province_State,Recovered
0,1.0,Mainland China,NaN,1/22/2020 17:00,Anhui,NaN
1,14.0,Mainland China,NaN,1/22/2020 17:00,Beijing,NaN

In [ ]:
data2.head(2)

In [ ]:
data3.head(2)

In [ ]:
data = pd.merge(data1,
                data2[['Province_State', 'Latitude', 'Longitude']],
                how='left',
                on='Province_State')
data.head()

In [ ]:
print(f" data1: {len(data1)}, data2: {len(data2)}, data3: {len(data3)}, data: {len(data)}")

In [ ]:
d = data.drop_duplicates()
len(d)

In [ ]:
len(d)

In [ ]:
d1 = data.drop_duplicates()
len(d1)

In [ ]:
list = []
for x in len(data):

In [ ]:
d.to_csv("resources/finaldata.csv", index=False, encoding='utf-8-sig')

In [ ]:
len(data)