In [1]:
import os
import glob
import pandas as pd
import numpy as np
os.chdir("resources/2")

In [2]:
#have to read all files to update the date of each form.
#due to some certain rows were note updated when there is no change.

df1 = pd.read_csv('03-01-2020.csv')
df2 = pd.read_csv('03-02-2020.csv')
df3 = pd.read_csv('03-03-2020.csv')
df4 = pd.read_csv('03-04-2020.csv')
df5 = pd.read_csv('03-05-2020.csv')
df6 = pd.read_csv('03-06-2020.csv')
df7 = pd.read_csv('03-07-2020.csv')
df8 = pd.read_csv('03-08-2020.csv')
df9 = pd.read_csv('03-09-2020.csv')
df10 = pd.read_csv('03-10-2020.csv')
df11 = pd.read_csv('03-11-2020.csv')
df12 = pd.read_csv('03-12-2020.csv')
df13 = pd.read_csv('03-13-2020.csv')
df14 = pd.read_csv('03-14-2020.csv')
df15 = pd.read_csv('03-15-2020.csv')
df16 = pd.read_csv('03-16-2020.csv')
df17 = pd.read_csv('03-17-2020.csv')
df18 = pd.read_csv('03-18-2020.csv')
df19 = pd.read_csv('03-19-2020.csv')
df20 = pd.read_csv('03-20-2020.csv')
df21 = pd.read_csv('03-21-2020.csv')
df1.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140

In [6]:
#update date of each file
df1['Last Update']= '2020-03-01'
df2['Last Update'] = '2020-03-02'
df3['Last Update'] = '2020-03-03'
df4['Last Update'] = '2020-03-04'
df5['Last Update'] = '2020-03-05'
df6['Last Update'] = '2020-03-06'
df7['Last Update'] = '2020-03-07'
df8['Last Update'] = '2020-03-08'
df9['Last Update'] = '2020-03-09'
df10['Last Update'] = '2020-03-10'
df11['Last Update'] = '2020-03-11'
df12['Last Update'] = '2020-03-12'
df13['Last Update'] = '2020-03-13'
df14['Last Update'] = '2020-03-14'
df15['Last Update'] = '2020-03-15'
df16['Last Update'] = '2020-03-16'
df17['Last Update'] = '2020-03-17'
df18['Last Update'] = '2020-03-18'
df19['Last Update'] = '2020-03-19'
df20['Last Update'] = '2020-03-20'
df21['Last Update'] = '2020-03-21'

df2.head(2)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-02,67103,2803,33934,30.9756,112.2707
1,NaN,South Korea,2020-03-02,4335,28,30,36.0000,128.0000

In [7]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21])
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
299,NaN,Jersey,2020-03-21,0,0,0,49.1900,-2.1100
300,NaN,Puerto Rico,2020-03-21,0,0,0,18.2000,-66.5000
301,NaN,Republic of the Congo,2020-03-21,0,0,0,-1.4400,15.5560
302,NaN,The Bahamas,2020-03-21,0,0,0,24.2500,-76.0000
303,NaN,The Gambia,2020-03-21,0,0,0,13.4667,-16.6000

In [ ]:
#Use glob to match the pattern ‘csv’
#extension = 'csv'
#all_filenames = [i for i in glob.glob('*.{}'.format('csv'))]
#Combine all files in the list
#mar = pd.concat([pd.read_csv(f) for f in all_filenames ])

In [8]:
df.rename(columns={'Last Update':'Last_Update','Province/State':'Province_State','Country/Region':'Country_Region'}, inplace=True) 
df.head(2)

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01,3736,17,30,36.0000,128.0000

In [ ]:
#mar['Row_Num'] = np.arange(len(mar))

In [9]:
df[df['Province_State']=='Gansu']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
34,Gansu,Mainland China,2020-03-01,91,2,84,36.0611,103.8343
35,Gansu,Mainland China,2020-03-02,91,2,85,36.0611,103.8343
35,Gansu,Mainland China,2020-03-03,91,2,86,36.0611,103.8343
35,Gansu,Mainland China,2020-03-04,91,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-05,102,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-06,119,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-07,120,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-08,124,2,87,36.0611,103.8343
40,Gansu,Mainland China,2020-03-09,124,2,88,36.0611,103.8343
44,Gansu,Mainland China,2020-03-10,125,2,88,36.0611,103.8343
46,Gansu,China,2020-03-11,127,2,88,37.8099,101.0583
206,Gansu,Mainland China,2020-03-11,0,0,0,36.0611,103.8343
48,Gansu,China,2020-03-12,127,2,88,37.8099,101.0583
211,Gansu,Mainland China,2020-03-12,0,0,0,36.0611,103.8343
24,Gansu,China,2020-03-13,127,2,88,36.0611,103.8343
56,Gansu,China,2020-03-14,129,2,89,36.0611,103.8343
58,Gansu,China,2020-03-15,133,2,91,36.0611,103.8343
71,Gansu,China,2020-03-16,133,2,91,36.0611,103.8343
77,Gansu,China,2020-03-17,133,2,91,36.0611,103.8343
83,Gansu,China,2020-03-18,133,2,91,36.0611,103.8343
93,Gansu,China,2020-03-19,134,2,91,36.0611,103.8343
105,Gansu,China,2020-03-20,134,2,98,36.0611,103.8343
117,Gansu,China,2020-03-21,134,2,113,36.0611,103.8343

In [11]:
df.loc[df.Province_State == 'Gansu', "Latitude"] = 36.0611
df.loc[df.Province_State == 'Gansu', "Longitude"] = 103.8343
df[df['Province_State']=='Gansu']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
34,Gansu,Mainland China,2020-03-01,91,2,84,36.0611,103.8343
35,Gansu,Mainland China,2020-03-02,91,2,85,36.0611,103.8343
35,Gansu,Mainland China,2020-03-03,91,2,86,36.0611,103.8343
35,Gansu,Mainland China,2020-03-04,91,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-05,102,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-06,119,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-07,120,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-08,124,2,87,36.0611,103.8343
40,Gansu,Mainland China,2020-03-09,124,2,88,36.0611,103.8343
44,Gansu,Mainland China,2020-03-10,125,2,88,36.0611,103.8343
46,Gansu,China,2020-03-11,127,2,88,36.0611,103.8343
206,Gansu,Mainland China,2020-03-11,0,0,0,36.0611,103.8343
48,Gansu,China,2020-03-12,127,2,88,36.0611,103.8343
211,Gansu,Mainland China,2020-03-12,0,0,0,36.0611,103.8343
24,Gansu,China,2020-03-13,127,2,88,36.0611,103.8343
56,Gansu,China,2020-03-14,129,2,89,36.0611,103.8343
58,Gansu,China,2020-03-15,133,2,91,36.0611,103.8343
71,Gansu,China,2020-03-16,133,2,91,36.0611,103.8343
77,Gansu,China,2020-03-17,133,2,91,36.0611,103.8343
83,Gansu,China,2020-03-18,133,2,91,36.0611,103.8343
93,Gansu,China,2020-03-19,134,2,91,36.0611,103.8343
105,Gansu,China,2020-03-20,134,2,98,36.0611,103.8343
117,Gansu,China,2020-03-21,134,2,113,36.0611,103.8343

In [13]:

df[df['Province_State']=='Gansu'].dropna()
df[df['Province_State']=='Gansu']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
34,Gansu,Mainland China,2020-03-01,91,2,84,36.0611,103.8343
35,Gansu,Mainland China,2020-03-02,91,2,85,36.0611,103.8343
35,Gansu,Mainland China,2020-03-03,91,2,86,36.0611,103.8343
35,Gansu,Mainland China,2020-03-04,91,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-05,102,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-06,119,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-07,120,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-08,124,2,87,36.0611,103.8343
40,Gansu,Mainland China,2020-03-09,124,2,88,36.0611,103.8343
44,Gansu,Mainland China,2020-03-10,125,2,88,36.0611,103.8343
46,Gansu,China,2020-03-11,127,2,88,36.0611,103.8343
206,Gansu,Mainland China,2020-03-11,0,0,0,36.0611,103.8343
48,Gansu,China,2020-03-12,127,2,88,36.0611,103.8343
211,Gansu,Mainland China,2020-03-12,0,0,0,36.0611,103.8343
24,Gansu,China,2020-03-13,127,2,88,36.0611,103.8343
56,Gansu,China,2020-03-14,129,2,89,36.0611,103.8343
58,Gansu,China,2020-03-15,133,2,91,36.0611,103.8343
71,Gansu,China,2020-03-16,133,2,91,36.0611,103.8343
77,Gansu,China,2020-03-17,133,2,91,36.0611,103.8343
83,Gansu,China,2020-03-18,133,2,91,36.0611,103.8343
93,Gansu,China,2020-03-19,134,2,91,36.0611,103.8343
105,Gansu,China,2020-03-20,134,2,98,36.0611,103.8343
117,Gansu,China,2020-03-21,134,2,113,36.0611,103.8343

In [14]:
df.drop([206,211], axis = 0, inplace = True)
df[df['Province_State']=='Gansu']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
34,Gansu,Mainland China,2020-03-01,91,2,84,36.0611,103.8343
35,Gansu,Mainland China,2020-03-02,91,2,85,36.0611,103.8343
35,Gansu,Mainland China,2020-03-03,91,2,86,36.0611,103.8343
35,Gansu,Mainland China,2020-03-04,91,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-05,102,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-06,119,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-07,120,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-08,124,2,87,36.0611,103.8343
40,Gansu,Mainland China,2020-03-09,124,2,88,36.0611,103.8343
44,Gansu,Mainland China,2020-03-10,125,2,88,36.0611,103.8343
46,Gansu,China,2020-03-11,127,2,88,36.0611,103.8343
48,Gansu,China,2020-03-12,127,2,88,36.0611,103.8343
24,Gansu,China,2020-03-13,127,2,88,36.0611,103.8343
56,Gansu,China,2020-03-14,129,2,89,36.0611,103.8343
58,Gansu,China,2020-03-15,133,2,91,36.0611,103.8343
71,Gansu,China,2020-03-16,133,2,91,36.0611,103.8343
77,Gansu,China,2020-03-17,133,2,91,36.0611,103.8343
83,Gansu,China,2020-03-18,133,2,91,36.0611,103.8343
93,Gansu,China,2020-03-19,134,2,91,36.0611,103.8343
105,Gansu,China,2020-03-20,134,2,98,36.0611,103.8343
117,Gansu,China,2020-03-21,134,2,113,36.0611,103.8343

In [ ]:
mar[mar['Province_State']=='Hebei']

In [ ]:
mar.loc[mar.Province_State == 'Hebei', "Latitude"] = 38.0428
mar.loc[mar.Province_State == 'Hebei', "Longitude"] = 114.5149
mar.drop([206, 48, 211,71, 77,83], axis = 0, inplace = True)
mar[mar['Province_State']=='Gansu']

In [ ]:
#export to csv
mar.to_csv( "../combined2.csv", index=False, encoding='utf-8-sig')

In [ ]:
#values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
#df.fillna(value=values)