In [1]:
import os
import pandas as pd

In [2]:
# Import support data to normalize country name

In [3]:
datajan22= pd.read_csv('resources/csse_covid_19_data/csse_covid_19_daily_reports/01-22-2020.csv', encoding='utf8')
datajan23 = pd.read_csv('resources/csse_covid_19_data/csse_covid_19_daily_reports/01-23-2020.csv', encoding='utf8')
datajan24 = pd.read_csv('resources/csse_covid_19_data/csse_covid_19_daily_reports/01-24-2020.csv', encoding='utf8')
datajan25 = pd.read_csv('resources/csse_covid_19_data/csse_covid_19_daily_reports/01-25-2020.csv', encoding='utf8')
datajan26 = pd.read_csv('resources/csse_covid_19_data/csse_covid_19_daily_reports/01-26-2020.csv', encoding='utf8')
datajan27 = pd.read_csv('resources/csse_covid_19_data/csse_covid_19_daily_reports/01-27-2020.csv', encoding='utf8')
datajan28 = pd.read_csv('resources/csse_covid_19_data/csse_covid_19_daily_reports/01-28-2020.csv', encoding='utf8')
datajan29 = pd.read_csv('resources/csse_covid_19_data/csse_covid_19_daily_reports/01-29-2020.csv', encoding='utf8')
datajan30 = pd.read_csv('resources/csse_covid_19_data/csse_covid_19_daily_reports/01-30-2020.csv', encoding='utf8')
datajan24 = pd.read_csv('resources/csse_covid_19_data/csse_covid_19_daily_reports/01-24-2020.csv', encoding='utf8')

In [4]:
data22

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
5,Guangdong,Mainland China,1/22/2020 17:00,26.0,NaN,NaN
6,Guangxi,Mainland China,1/22/2020 17:00,2.0,NaN,NaN
7,Guizhou,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
8,Hainan,Mainland China,1/22/2020 17:00,4.0,NaN,NaN
9,Hebei,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
10,Heilongjiang,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
11,Henan,Mainland China,1/22/2020 17:00,5.0,NaN,NaN
12,Hong Kong,Hong Kong,1/22/2020 17:00,NaN,NaN,NaN
13,Hubei,Mainland China,1/22/2020 17:00,444.0,17.0,28.0
14,Hunan,Mainland China,1/22/2020 17:00,4.0,NaN,NaN
15,Inner Mongolia,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
16,Jiangsu,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
17,Jiangxi,Mainland China,1/22/2020 17:00,2.0,NaN,NaN
18,Jilin,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
19,Liaoning,Mainland China,1/22/2020 17:00,2.0,NaN,NaN
20,Macau,Macau,1/22/2020 17:00,1.0,NaN,NaN
21,Ningxia,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
22,Qinghai,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
23,Shaanxi,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
24,Shandong,Mainland China,1/22/2020 17:00,2.0,NaN,NaN
25,Shanghai,Mainland China,1/22/2020 17:00,9.0,NaN,NaN
26,Shanxi,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
27,Sichuan,Mainland China,1/22/2020 17:00,5.0,NaN,NaN
28,Taiwan,Taiwan,1/22/2020 17:00,1.0,NaN,NaN
29,Tianjin,Mainland China,1/22/2020 17:00,4.0,NaN,NaN
30,Tibet,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
31,Washington,US,1/22/2020 17:00,1.0,NaN,NaN
32,Xinjiang,Mainland China,1/22/2020 17:00,NaN,NaN,NaN
33,Yunnan,Mainland China,1/22/2020 17:00,1.0,NaN,NaN
34,Zhejiang,Mainland China,1/22/2020 17:00,10.0,NaN,NaN
35,NaN,Japan,1/22/2020 17:00,2.0,NaN,NaN
36,NaN,Thailand,1/22/2020 17:00,2.0,NaN,NaN
37,NaN,South Korea,1/22/2020 17:00,1.0,NaN,NaN

In [4]:
#df_province = df_province.fillna(' ')

In [5]:
# Import group of data without lat / Lon columns

In [6]:
baseFolder = 'resources/csse_covid_19_data/csse_covid_19_daily_reports/01-22-2020.csv'

In [7]:
df_list = []
for root, dirs, files in os.walk(baseFolder):
    for nm in files:
        thefile = os.path.join(root, nm)
        df = pd.read_csv(thefile)
        df['Date'] = nm.split('.')[0]

        df_list.append(df)

df_results_1 = pd.concat(df_list)

In [8]:
#df_results_1 = df_results_1.fillna(' ')

In [9]:
df_results_1.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Date
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN,01-22-2020
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN,01-22-2020
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN,01-22-2020
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN,01-22-2020
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN,01-22-2020

In [10]:
# Create a unique ID for each country
# Different files have different names for the same Country
df_data_1 = pd.merge(df_results_1, df_synonym, left_on='Country/Region', right_on='Synonym', how='left')

In [11]:
# Finding missing data
missing_1 = df_data_1[df_data_1['Country_Id'].isnull()==True]
missing_1

Empty DataFrame
Columns: [Province/State, Country/Region, Last Update, Confirmed, Deaths, Recovered, Date, Country_Id, Synonym_Id, Synonym]
Index: []

In [12]:
# After including the missing data at synonym file, joing the new data with Country DB
df_1 = pd.merge(df_data_1, df_country, left_on='Country_Id', right_on='Country_Id', how='inner')

In [13]:
df_1.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Date,Country_Id,Synonym_Id,Synonym,...,Lat,Lon,Population,ID_worldometers,Density(P/Km2),Land Area(Km2),Fert.Rate,Med.Age,UrbanPop,WorldShare
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN,01-22-2020,156,256,Mainland China,...,35.86166,104.195397,1.439324e+09,1.0,153.0,9388211.0,1.7,38.0,0.61,0.1847
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN,01-22-2020,156,256,Mainland China,...,35.86166,104.195397,1.439324e+09,1.0,153.0,9388211.0,1.7,38.0,0.61,0.1847
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN,01-22-2020,156,256,Mainland China,...,35.86166,104.195397,1.439324e+09,1.0,153.0,9388211.0,1.7,38.0,0.61,0.1847
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN,01-22-2020,156,256,Mainland China,...,35.86166,104.195397,1.439324e+09,1.0,153.0,9388211.0,1.7,38.0,0.61,0.1847
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN,01-22-2020,156,256,Mainland China,...,35.86166,104.195397,1.439324e+09,1.0,153.0,9388211.0,1.7,38.0,0.61,0.1847

In [14]:
df_1.shape

(2818, 24)

In [15]:
df_1.columns

Index(['Province/State', 'Country/Region', 'Last Update', 'Confirmed',
       'Deaths', 'Recovered', 'Date', 'Country_Id', 'Synonym_Id', 'Synonym',
       'ID', 'Name', 'ISO_2', 'ISO_3', 'Lat', 'Lon', 'Population',
       'ID_worldometers', 'Density(P/Km2)', 'Land Area(Km2)', 'Fert.Rate',
       'Med.Age', 'UrbanPop', 'WorldShare'],
      dtype='object')

In [16]:
df_province.columns

Index(['ISO_CountryID', 'ISO_CountryName', 'Province_Synonym', 'Province_Id'], dtype='object')

In [17]:
# Create a unique ID for each Province/State
# Different files have different names for the same Country
df_1_p = pd.merge(df_1, df_province, left_on=['Country_Id', 'Province/State'],
                       right_on=['ISO_CountryID','Province_Synonym'], how='left')

In [18]:
# Finding missing data
missing_1_p = df_1_p[df_1_p['Province_Id'].isnull()==True]
missing_1_p

Empty DataFrame
Columns: [Province/State, Country/Region, Last Update, Confirmed, Deaths, Recovered, Date, Country_Id, Synonym_Id, Synonym, ID, Name, ISO_2, ISO_3, Lat, Lon, Population, ID_worldometers, Density(P/Km2), Land Area(Km2), Fert.Rate, Med.Age, UrbanPop, WorldShare, ISO_CountryID, ISO_CountryName, Province_Synonym, Province_Id]
Index: []

[0 rows x 28 columns]

In [19]:
df_1_p.shape

(2818, 28)

In [20]:
df_1_p.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Date,Country_Id,Synonym_Id,Synonym,...,Density(P/Km2),Land Area(Km2),Fert.Rate,Med.Age,UrbanPop,WorldShare,ISO_CountryID,ISO_CountryName,Province_Synonym,Province_Id
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN,01-22-2020,156,256,Mainland China,...,153.0,9388211.0,1.7,38.0,0.61,0.1847,156,China,Anhui,156-8
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN,01-22-2020,156,256,Mainland China,...,153.0,9388211.0,1.7,38.0,0.61,0.1847,156,China,Beijing,156-15
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN,01-22-2020,156,256,Mainland China,...,153.0,9388211.0,1.7,38.0,0.61,0.1847,156,China,Chongqing,156-35
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN,01-22-2020,156,256,Mainland China,...,153.0,9388211.0,1.7,38.0,0.61,0.1847,156,China,Fujian,156-76
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN,01-22-2020,156,256,Mainland China,...,153.0,9388211.0,1.7,38.0,0.61,0.1847,156,China,Gansu,156-78

In [21]:
#df_COVID19_1 = df_1[['Date','Country_Id', 'Country/Region', 'Name', 'Province/State',
#                            'Last Update','Confirmed','Deaths','Recovered','ISO_2','ISO_3']]

In [22]:
df_COVID19_1 = df_1_p[['Date','Country_Id', 'Country/Region', 'Name', 'Province_Id', 'Province/State',
                            'Last Update','Confirmed','Deaths','Recovered','ISO_2','ISO_3']]

In [23]:
df_COVID19_1.shape

(2818, 12)

In [24]:
df_COVID19_1 = df_COVID19_1.rename(columns={"Name": "ISO_CountryName", "Country_Id": "ISO_CountryID"})

In [25]:
df_COVID19_1.head()

,Date,ISO_CountryID,Country/Region,ISO_CountryName,Province_Id,Province/State,Last Update,Confirmed,Deaths,Recovered,ISO_2,ISO_3
0,01-22-2020,156,Mainland China,China,156-8,Anhui,1/22/2020 17:00,1.0,NaN,NaN,CN,CHN
1,01-22-2020,156,Mainland China,China,156-15,Beijing,1/22/2020 17:00,14.0,NaN,NaN,CN,CHN
2,01-22-2020,156,Mainland China,China,156-35,Chongqing,1/22/2020 17:00,6.0,NaN,NaN,CN,CHN
3,01-22-2020,156,Mainland China,China,156-76,Fujian,1/22/2020 17:00,1.0,NaN,NaN,CN,CHN
4,01-22-2020,156,Mainland China,China,156-78,Gansu,1/22/2020 17:00,NaN,NaN,NaN,CN,CHN

In [26]:
df_COVID19_1.to_csv('./Resources/Data/COVID19_2020_Jan_Feb.csv')

In [27]:
baseFolder = './Resources/Data/2'

In [28]:
df_list = []
for root, dirs, files in os.walk(baseFolder):
    for nm in files:
        thefile = os.path.join(root, nm)
        df = pd.read_csv(thefile)
        df['Date'] = nm.split('.')[0]

        df_list.append(df)

df_results_2 = pd.concat(df_list)

In [29]:
#df_results_2 = df_results_2.fillna(' ')

In [30]:
df_results_2.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Date
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707,03-01-2020
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000,03-01-2020
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000,03-01-2020
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244,03-01-2020
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140,03-01-2020

In [31]:
df_data_2 = pd.merge(df_results_2, df_synonym, left_on='Country/Region', right_on='Synonym', how='left')

In [32]:
df_data_2.shape

(5108, 12)

In [33]:
missing_2 = df_data_2[df_data_2['Country_Id'].isnull()==True]

In [34]:
missing_2

Empty DataFrame
Columns: [Province/State, Country/Region, Last Update, Confirmed, Deaths, Recovered, Latitude, Longitude, Date, Country_Id, Synonym_Id, Synonym]
Index: []

In [35]:
df_2 = pd.merge(df_data_2, df_country, left_on='Country_Id', right_on='Country_Id', how='inner')

In [36]:
df_2.shape

(5108, 26)

In [37]:
# Create a unique ID for each Province/State
# Different files have different names for the same Country
df_2_p = pd.merge(df_2, df_province, left_on=['Country_Id', 'Province/State'],
                       right_on=['ISO_CountryID','Province_Synonym'], how='left')

In [38]:
# Finding missing data
missing_2_p = df_2_p[df_2_p['Province_Id'].isnull()==True]
missing_2_p

Empty DataFrame
Columns: [Province/State, Country/Region, Last Update, Confirmed, Deaths, Recovered, Latitude, Longitude, Date, Country_Id, Synonym_Id, Synonym, ID, Name, ISO_2, ISO_3, Lat, Lon, Population, ID_worldometers, Density(P/Km2), Land Area(Km2), Fert.Rate, Med.Age, UrbanPop, WorldShare, ISO_CountryID, ISO_CountryName, Province_Synonym, Province_Id]
Index: []

[0 rows x 30 columns]

In [39]:
df_2_p.shape

(5108, 30)

In [40]:
#df_COVID19 = df_2[['Date','Country_Id', 'Country/Region', 'Name', 'Province/State',
#                   'Last Update','Confirmed','Deaths', 'Recovered','ISO_2','ISO_3','Latitude','Longitude']]

In [41]:
df_COVID19 = df_2_p[['Date','Country_Id', 'Country/Region', 'Name', 'Province_Id', 'Province/State',
                   'Last Update','Confirmed','Deaths', 'Recovered','ISO_2','ISO_3','Latitude','Longitude']]

In [42]:
df_COVID19_2 = df_COVID19.rename(columns={"Name": "ISO_CountryName", "Country_Id": "ISO_CountryID"})

In [43]:
df_COVID19_2.head()

,Date,ISO_CountryID,Country/Region,ISO_CountryName,Province_Id,Province/State,Last Update,Confirmed,Deaths,Recovered,ISO_2,ISO_3,Latitude,Longitude
0,03-01-2020,156,Mainland China,China,156-105,Hubei,2020-03-01T10:13:19,66907,2761,31536,CN,CHN,30.9756,112.2707
1,03-01-2020,156,Mainland China,China,156-89,Guangdong,2020-03-01T14:13:18,1349,7,1016,CN,CHN,23.3417,113.4244
2,03-01-2020,156,Mainland China,China,156-99,Henan,2020-03-01T14:13:18,1272,22,1198,CN,CHN,33.8820,113.6140
3,03-01-2020,156,Mainland China,China,156-297,Zhejiang,2020-03-01T10:13:33,1205,1,1046,CN,CHN,29.1832,120.0934
4,03-01-2020,156,Mainland China,China,156-108,Hunan,2020-03-01T10:03:03,1018,4,866,CN,CHN,27.6104,111.7088

In [44]:
df_COVID19_2.to_csv('./Resources/Data/COVID19_2020_Mar.csv')

In [45]:
baseFolder = './Resources/Data/3'

In [46]:
df_list = []
for root, dirs, files in os.walk(baseFolder):
    for nm in files:
        thefile = os.path.join(root, nm)
        df = pd.read_csv(thefile)
        df['Date'] = nm.split('.')[0]

        df_list.append(df)

df_results_3 = pd.concat(df_list)

In [47]:
df_results_3 = df_results_3.fillna(' ')
df_province = df_province.fillna(' ')

In [48]:
df_results_3.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key,Date
0,45001,Abbeville,South Carolina,US,2020-03-23 23:19:34,34.223334,-82.461707,1,0,0,0,"Abbeville, South Carolina, US",03-23-2020
1,22001,Acadia,Louisiana,US,2020-03-23 23:19:34,30.295065,-92.414197,1,0,0,0,"Acadia, Louisiana, US",03-23-2020
2,51001,Accomack,Virginia,US,2020-03-23 23:19:34,37.767072,-75.632346,1,0,0,0,"Accomack, Virginia, US",03-23-2020
3,16001,Ada,Idaho,US,2020-03-23 23:19:34,43.452658,-116.241552,13,0,0,0,"Ada, Idaho, US",03-23-2020
4,19001,Adair,Iowa,US,2020-03-23 23:19:34,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US",03-23-2020

In [49]:
dfg_3 = df_results_3.groupby(['Date', 'Last_Update', 'Country_Region', 'Province_State']).agg({
    'Confirmed' : 'sum',
    'Deaths': 'sum',
    'Recovered': 'sum'
}).reset_index()

In [50]:
dfg_NY = dfg_3[dfg_3['Province_State']=='New York']

In [51]:
dfg_NY

,Date,Last_Update,Country_Region,Province_State,Confirmed,Deaths,Recovered
252,03-23-2020,2020-03-23 23:19:34,US,New York,20884,158,0
549,03-24-2020,2020-03-24 23:37:31,US,New York,25681,210,0
852,03-25-2020,2020-03-25 23:33:19,US,New York,30841,285,0

In [52]:
df_data_3 = pd.merge(dfg_3, df_synonym, left_on='Country_Region', right_on='Synonym', how='left')

In [53]:
df_data_3.shape

(896, 10)

In [54]:
missing = df_data_3[df_data_3['Country_Id'].isnull()==True]

In [55]:
missing

Empty DataFrame
Columns: [Date, Last_Update, Country_Region, Province_State, Confirmed, Deaths, Recovered, Country_Id, Synonym_Id, Synonym]
Index: []

In [56]:
df_3 = pd.merge(df_data_3, df_country, left_on='Country_Id', right_on='Country_Id', how='inner')

In [57]:
df_3.shape

(896, 24)

In [58]:
df_3.columns

Index(['Date', 'Last_Update', 'Country_Region', 'Province_State', 'Confirmed',
       'Deaths', 'Recovered', 'Country_Id', 'Synonym_Id', 'Synonym', 'ID',
       'Name', 'ISO_2', 'ISO_3', 'Lat', 'Lon', 'Population', 'ID_worldometers',
       'Density(P/Km2)', 'Land Area(Km2)', 'Fert.Rate', 'Med.Age', 'UrbanPop',
       'WorldShare'],
      dtype='object')

In [59]:
# Create a unique ID for each Province/State
# Different files have different names for the same Country
df_3_p = pd.merge(df_3, df_province, left_on=['Country_Id', 'Province_State'],
                       right_on=['ISO_CountryID','Province_Synonym'], how='left')

In [60]:
df_3_p.shape

(896, 28)

In [61]:
# Finding missing data
missing_3_p = df_3_p[df_3_p['Province_Id'].isnull()==True]
missing_3_p.head()

Empty DataFrame
Columns: [Date, Last_Update, Country_Region, Province_State, Confirmed, Deaths, Recovered, Country_Id, Synonym_Id, Synonym, ID, Name, ISO_2, ISO_3, Lat, Lon, Population, ID_worldometers, Density(P/Km2), Land Area(Km2), Fert.Rate, Med.Age, UrbanPop, WorldShare, ISO_CountryID, ISO_CountryName, Province_Synonym, Province_Id]
Index: []

[0 rows x 28 columns]

In [62]:
#df_COVID19 = df_3[['Date','Country_Id', 'Country_Region', 'Name','Province_State','Last_Update','Confirmed','Deaths',
#'Recovered','ISO_2','ISO_3']]

In [63]:
df_COVID19 = df_3_p[['Date','Country_Id', 'Country_Region', 'Name', 'Province_Id', 'Province_State',
                     'Last_Update','Confirmed','Deaths', 'Recovered','ISO_2','ISO_3']]

In [64]:
df_COVID19_3 = df_COVID19.rename(columns={"Country_Region": "Country/Region", 
                                          "Name": "ISO_CountryName", 
                                          "Province_State" : "Province/State",
                                          "Country_Id": "ISO_CountryID",
                                          "Last_Update": "Last Update"})

In [65]:
df_march = pd.concat([df_COVID19_2, df_COVID19_3], join_axes=[df_COVID19_2.columns])

c:\users\alessandra\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  """Entry point for launching an IPython kernel.

In [66]:
df_march.to_csv('./Resources/Data/COVID19_2020_Mar.csv')

In [67]:
df_COVID19_1.shape

(2818, 12)

In [68]:
df_COVID19_1.columns

Index(['Date', 'ISO_CountryID', 'Country/Region', 'ISO_CountryName',
       'Province_Id', 'Province/State', 'Last Update', 'Confirmed', 'Deaths',
       'Recovered', 'ISO_2', 'ISO_3'],
      dtype='object')

In [69]:
df_COVID19_2.shape

(5108, 14)

In [70]:
df_COVID19_2.columns

Index(['Date', 'ISO_CountryID', 'Country/Region', 'ISO_CountryName',
       'Province_Id', 'Province/State', 'Last Update', 'Confirmed', 'Deaths',
       'Recovered', 'ISO_2', 'ISO_3', 'Latitude', 'Longitude'],
      dtype='object')

In [71]:
df_COVID19_3.shape

(896, 12)

In [72]:
df_COVID19_3.columns

Index(['Date', 'ISO_CountryID', 'Country/Region', 'ISO_CountryName',
       'Province_Id', 'Province/State', 'Last Update', 'Confirmed', 'Deaths',
       'Recovered', 'ISO_2', 'ISO_3'],
      dtype='object')

In [73]:
df_combined = pd.concat([df_COVID19_1, df_COVID19_2, df_COVID19_3], join_axes=[df_COVID19_2.columns])

c:\users\alessandra\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The join_axes-keyword is deprecated. Use .reindex or .reindex_like on the result to achieve the same functionality.
  """Entry point for launching an IPython kernel.

In [74]:
df_combined.shape

(8822, 14)

In [75]:
df_combined.to_csv('./Resources/Data/COVID19.csv')