In [1]:
import os
import glob
import pandas as pd
import numpy as np
os.chdir("resources/2")

In [2]:
df = pd.read_csv('03-01-2020.csv')
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140

In [3]:
#Use glob to match the pattern ‘csv’
#extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format('csv'))]

In [4]:
#Combine all files in the list
mar = pd.concat([pd.read_csv(f) for f in all_filenames ])

In [5]:
mar.rename(columns={'Last Update':'Last_Update','Province/State':'Province_State','Country/Region':'Country_Region'}, inplace=True) 
mar.head(2)

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000

In [6]:
mar['Row_Num'] = np.arange(len(mar))
mar

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Row_Num
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707,0
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000,1
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000,2
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244,3
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140,4
...,...,...,...,...,...,...,...,...,...
299,NaN,Jersey,2020-03-17T18:33:03,0,0,0,49.1900,-2.1100,4794
300,NaN,Puerto Rico,2020-03-17T16:13:14,0,0,0,18.2000,-66.5000,4795
301,NaN,Republic of the Congo,2020-03-17T21:33:03,0,0,0,-1.4400,15.5560,4796
302,NaN,The Bahamas,2020-03-19T12:13:38,0,0,0,24.2500,-76.0000,4797
303,NaN,The Gambia,2020-03-18T14:13:56,0,0,0,13.4667,-16.6000,4798

In [7]:
mar[mar['Province_State']=='Gansu']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Row_Num
34,Gansu,Mainland China,2020-03-01T14:33:17,91,2,84,36.0611,103.8343,34
35,Gansu,Mainland China,2020-03-02T15:03:23,91,2,85,36.0611,103.8343,160
35,Gansu,Mainland China,2020-03-03T13:43:03,91,2,86,36.0611,103.8343,301
35,Gansu,Mainland China,2020-03-04T15:43:03,91,2,87,36.0611,103.8343,452
36,Gansu,Mainland China,2020-03-05T15:13:13,102,2,87,36.0611,103.8343,613
36,Gansu,Mainland China,2020-03-06T14:43:15,119,2,87,36.0611,103.8343,786
39,Gansu,Mainland China,2020-03-07T15:03:06,120,2,87,36.0611,103.8343,988
39,Gansu,Mainland China,2020-03-08T14:33:06,124,2,87,36.0611,103.8343,1213
40,Gansu,Mainland China,2020-03-09T14:33:03,124,2,88,36.0611,103.8343,1469
44,Gansu,Mainland China,2020-03-10T14:33:13,125,2,88,36.0611,103.8343,1739
46,Gansu,China,2020-03-11T14:33:03,127,2,88,37.8099,101.0583,1947
206,Gansu,Mainland China,2020-03-11T02:18:28,0,0,0,36.0611,103.8343,2107
48,Gansu,China,2020-03-11T14:33:03,127,2,88,37.8099,101.0583,2165
211,Gansu,Mainland China,2020-03-11T02:18:28,0,0,0,36.0611,103.8343,2328
24,Gansu,China,2020-03-13T11:09:03,127,2,88,36.0611,103.8343,2359
56,Gansu,China,2020-03-14T03:13:08,129,2,89,36.0611,103.8343,2621
58,Gansu,China,2020-03-15T18:20:18,133,2,91,36.0611,103.8343,2872
71,Gansu,China,2020-03-15T18:20:18,133,2,91,36.0611,103.8343,3143
77,Gansu,China,2020-03-15T18:20:18,133,2,91,36.0611,103.8343,3421
83,Gansu,China,2020-03-15T18:20:18,133,2,91,36.0611,103.8343,3703
93,Gansu,China,2020-03-19T14:33:08,134,2,91,36.0611,103.8343,3997
105,Gansu,China,2020-03-20T00:13:24,134,2,98,36.0611,103.8343,4301
117,Gansu,China,2020-03-21T03:13:13,134,2,113,36.0611,103.8343,4612

In [8]:
mar.loc[mar.Province_State == 'Gansu', "Latitude"] = 36.0611
mar[mar['Province_State']=='Gansu']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Row_Num
34,Gansu,Mainland China,2020-03-01T14:33:17,91,2,84,36.0611,103.8343,34
35,Gansu,Mainland China,2020-03-02T15:03:23,91,2,85,36.0611,103.8343,160
35,Gansu,Mainland China,2020-03-03T13:43:03,91,2,86,36.0611,103.8343,301
35,Gansu,Mainland China,2020-03-04T15:43:03,91,2,87,36.0611,103.8343,452
36,Gansu,Mainland China,2020-03-05T15:13:13,102,2,87,36.0611,103.8343,613
36,Gansu,Mainland China,2020-03-06T14:43:15,119,2,87,36.0611,103.8343,786
39,Gansu,Mainland China,2020-03-07T15:03:06,120,2,87,36.0611,103.8343,988
39,Gansu,Mainland China,2020-03-08T14:33:06,124,2,87,36.0611,103.8343,1213
40,Gansu,Mainland China,2020-03-09T14:33:03,124,2,88,36.0611,103.8343,1469
44,Gansu,Mainland China,2020-03-10T14:33:13,125,2,88,36.0611,103.8343,1739
46,Gansu,China,2020-03-11T14:33:03,127,2,88,36.0611,101.0583,1947
206,Gansu,Mainland China,2020-03-11T02:18:28,0,0,0,36.0611,103.8343,2107
48,Gansu,China,2020-03-11T14:33:03,127,2,88,36.0611,101.0583,2165
211,Gansu,Mainland China,2020-03-11T02:18:28,0,0,0,36.0611,103.8343,2328
24,Gansu,China,2020-03-13T11:09:03,127,2,88,36.0611,103.8343,2359
56,Gansu,China,2020-03-14T03:13:08,129,2,89,36.0611,103.8343,2621
58,Gansu,China,2020-03-15T18:20:18,133,2,91,36.0611,103.8343,2872
71,Gansu,China,2020-03-15T18:20:18,133,2,91,36.0611,103.8343,3143
77,Gansu,China,2020-03-15T18:20:18,133,2,91,36.0611,103.8343,3421
83,Gansu,China,2020-03-15T18:20:18,133,2,91,36.0611,103.8343,3703
93,Gansu,China,2020-03-19T14:33:08,134,2,91,36.0611,103.8343,3997
105,Gansu,China,2020-03-20T00:13:24,134,2,98,36.0611,103.8343,4301
117,Gansu,China,2020-03-21T03:13:13,134,2,113,36.0611,103.8343,4612

In [9]:
mar.loc[mar.Province_State == 'Gansu', "Longitude"] = 103.8343
mar[mar['Province_State']=='Gansu']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Row_Num
34,Gansu,Mainland China,2020-03-01T14:33:17,91,2,84,36.0611,103.8343,34
35,Gansu,Mainland China,2020-03-02T15:03:23,91,2,85,36.0611,103.8343,160
35,Gansu,Mainland China,2020-03-03T13:43:03,91,2,86,36.0611,103.8343,301
35,Gansu,Mainland China,2020-03-04T15:43:03,91,2,87,36.0611,103.8343,452
36,Gansu,Mainland China,2020-03-05T15:13:13,102,2,87,36.0611,103.8343,613
36,Gansu,Mainland China,2020-03-06T14:43:15,119,2,87,36.0611,103.8343,786
39,Gansu,Mainland China,2020-03-07T15:03:06,120,2,87,36.0611,103.8343,988
39,Gansu,Mainland China,2020-03-08T14:33:06,124,2,87,36.0611,103.8343,1213
40,Gansu,Mainland China,2020-03-09T14:33:03,124,2,88,36.0611,103.8343,1469
44,Gansu,Mainland China,2020-03-10T14:33:13,125,2,88,36.0611,103.8343,1739
46,Gansu,China,2020-03-11T14:33:03,127,2,88,36.0611,103.8343,1947
206,Gansu,Mainland China,2020-03-11T02:18:28,0,0,0,36.0611,103.8343,2107
48,Gansu,China,2020-03-11T14:33:03,127,2,88,36.0611,103.8343,2165
211,Gansu,Mainland China,2020-03-11T02:18:28,0,0,0,36.0611,103.8343,2328
24,Gansu,China,2020-03-13T11:09:03,127,2,88,36.0611,103.8343,2359
56,Gansu,China,2020-03-14T03:13:08,129,2,89,36.0611,103.8343,2621
58,Gansu,China,2020-03-15T18:20:18,133,2,91,36.0611,103.8343,2872
71,Gansu,China,2020-03-15T18:20:18,133,2,91,36.0611,103.8343,3143
77,Gansu,China,2020-03-15T18:20:18,133,2,91,36.0611,103.8343,3421
83,Gansu,China,2020-03-15T18:20:18,133,2,91,36.0611,103.8343,3703
93,Gansu,China,2020-03-19T14:33:08,134,2,91,36.0611,103.8343,3997
105,Gansu,China,2020-03-20T00:13:24,134,2,98,36.0611,103.8343,4301
117,Gansu,China,2020-03-21T03:13:13,134,2,113,36.0611,103.8343,4612

In [10]:
len(mar[mar['Province_State']=='Gansu'])

23

In [14]:
mar.drop([206, 48, 211,71, 77,83], axis = 0, inplace = True)
mar[mar['Province_State']=='Gansu']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude,Row_Num
34,Gansu,Mainland China,2020-03-01T14:33:17,91,2,84,36.0611,103.8343,34
35,Gansu,Mainland China,2020-03-02T15:03:23,91,2,85,36.0611,103.8343,160
35,Gansu,Mainland China,2020-03-03T13:43:03,91,2,86,36.0611,103.8343,301
35,Gansu,Mainland China,2020-03-04T15:43:03,91,2,87,36.0611,103.8343,452
36,Gansu,Mainland China,2020-03-05T15:13:13,102,2,87,36.0611,103.8343,613
36,Gansu,Mainland China,2020-03-06T14:43:15,119,2,87,36.0611,103.8343,786
39,Gansu,Mainland China,2020-03-07T15:03:06,120,2,87,36.0611,103.8343,988
39,Gansu,Mainland China,2020-03-08T14:33:06,124,2,87,36.0611,103.8343,1213
40,Gansu,Mainland China,2020-03-09T14:33:03,124,2,88,36.0611,103.8343,1469
44,Gansu,Mainland China,2020-03-10T14:33:13,125,2,88,36.0611,103.8343,1739
46,Gansu,China,2020-03-11T14:33:03,127,2,88,36.0611,103.8343,1947
24,Gansu,China,2020-03-13T11:09:03,127,2,88,36.0611,103.8343,2359
56,Gansu,China,2020-03-14T03:13:08,129,2,89,36.0611,103.8343,2621
58,Gansu,China,2020-03-15T18:20:18,133,2,91,36.0611,103.8343,2872
93,Gansu,China,2020-03-19T14:33:08,134,2,91,36.0611,103.8343,3997
105,Gansu,China,2020-03-20T00:13:24,134,2,98,36.0611,103.8343,4301
117,Gansu,China,2020-03-21T03:13:13,134,2,113,36.0611,103.8343,4612

In [11]:
mar.drop([2107, 2165,2328,3143,3421,3703], axis = 0)

KeyError: '[2107 2165 2328 3143 3421 3703] not found in axis'

In [ ]:
for x in len(mar):
    if mar.loc[mar['Province/State']=='Gansu']:

In [ ]:
#export to csv
mar.to_csv( "../combined2.csv", index=False, encoding='utf-8-sig')

In [ ]:
#values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
#df.fillna(value=values)