In [1]:
import os
import glob
import pandas as pd
import numpy as np
os.chdir("resources/2")

In [2]:
#have to read all files to update the date of each form.
#due to some certain rows were note updated when there is no change.

df1 = pd.read_csv('03-01-2020.csv')
df2 = pd.read_csv('03-02-2020.csv')
df3 = pd.read_csv('03-03-2020.csv')
df4 = pd.read_csv('03-04-2020.csv')
df5 = pd.read_csv('03-05-2020.csv')
df6 = pd.read_csv('03-06-2020.csv')
df7 = pd.read_csv('03-07-2020.csv')
df8 = pd.read_csv('03-08-2020.csv')
df9 = pd.read_csv('03-09-2020.csv')
df10 = pd.read_csv('03-10-2020.csv')
df11 = pd.read_csv('03-11-2020.csv')
df12 = pd.read_csv('03-12-2020.csv')
df13 = pd.read_csv('03-13-2020.csv')
df14 = pd.read_csv('03-14-2020.csv')
df15 = pd.read_csv('03-15-2020.csv')
df16 = pd.read_csv('03-16-2020.csv')
df17 = pd.read_csv('03-17-2020.csv')
df18 = pd.read_csv('03-18-2020.csv')
df19 = pd.read_csv('03-19-2020.csv')
df20 = pd.read_csv('03-20-2020.csv')
df21 = pd.read_csv('03-21-2020.csv')
df1.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140

In [6]:
#update date of each file
df1['Last Update']= '2020-03-01'
df2['Last Update'] = '2020-03-02'
df3['Last Update'] = '2020-03-03'
df4['Last Update'] = '2020-03-04'
df5['Last Update'] = '2020-03-05'
df6['Last Update'] = '2020-03-06'
df7['Last Update'] = '2020-03-07'
df8['Last Update'] = '2020-03-08'
df9['Last Update'] = '2020-03-09'
df10['Last Update'] = '2020-03-10'
df11['Last Update'] = '2020-03-11'
df12['Last Update'] = '2020-03-12'
df13['Last Update'] = '2020-03-13'
df14['Last Update'] = '2020-03-14'
df15['Last Update'] = '2020-03-15'
df16['Last Update'] = '2020-03-16'
df17['Last Update'] = '2020-03-17'
df18['Last Update'] = '2020-03-18'
df19['Last Update'] = '2020-03-19'
df20['Last Update'] = '2020-03-20'
df21['Last Update'] = '2020-03-21'

df2.head(2)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-02,67103,2803,33934,30.9756,112.2707
1,NaN,South Korea,2020-03-02,4335,28,30,36.0000,128.0000

In [7]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18, df19, df20, df21])
df

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
299,NaN,Jersey,2020-03-21,0,0,0,49.1900,-2.1100
300,NaN,Puerto Rico,2020-03-21,0,0,0,18.2000,-66.5000
301,NaN,Republic of the Congo,2020-03-21,0,0,0,-1.4400,15.5560
302,NaN,The Bahamas,2020-03-21,0,0,0,24.2500,-76.0000
303,NaN,The Gambia,2020-03-21,0,0,0,13.4667,-16.6000

In [ ]:
#Use glob to match the pattern ‘csv’
#extension = 'csv'
#all_filenames = [i for i in glob.glob('*.{}'.format('csv'))]
#Combine all files in the list
#mar = pd.concat([pd.read_csv(f) for f in all_filenames ])

In [8]:
df.rename(columns={'Last Update':'Last_Update','Province/State':'Province_State','Country/Region':'Country_Region'}, inplace=True) 
df.head(2)

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01,3736,17,30,36.0000,128.0000

In [ ]:
#mar['Row_Num'] = np.arange(len(mar))

In [9]:
df[df['Province_State']=='Gansu']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
34,Gansu,Mainland China,2020-03-01,91,2,84,36.0611,103.8343
35,Gansu,Mainland China,2020-03-02,91,2,85,36.0611,103.8343
35,Gansu,Mainland China,2020-03-03,91,2,86,36.0611,103.8343
35,Gansu,Mainland China,2020-03-04,91,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-05,102,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-06,119,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-07,120,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-08,124,2,87,36.0611,103.8343
40,Gansu,Mainland China,2020-03-09,124,2,88,36.0611,103.8343
44,Gansu,Mainland China,2020-03-10,125,2,88,36.0611,103.8343
46,Gansu,China,2020-03-11,127,2,88,37.8099,101.0583
206,Gansu,Mainland China,2020-03-11,0,0,0,36.0611,103.8343
48,Gansu,China,2020-03-12,127,2,88,37.8099,101.0583
211,Gansu,Mainland China,2020-03-12,0,0,0,36.0611,103.8343
24,Gansu,China,2020-03-13,127,2,88,36.0611,103.8343
56,Gansu,China,2020-03-14,129,2,89,36.0611,103.8343
58,Gansu,China,2020-03-15,133,2,91,36.0611,103.8343
71,Gansu,China,2020-03-16,133,2,91,36.0611,103.8343
77,Gansu,China,2020-03-17,133,2,91,36.0611,103.8343
83,Gansu,China,2020-03-18,133,2,91,36.0611,103.8343
93,Gansu,China,2020-03-19,134,2,91,36.0611,103.8343
105,Gansu,China,2020-03-20,134,2,98,36.0611,103.8343
117,Gansu,China,2020-03-21,134,2,113,36.0611,103.8343

In [11]:
df.loc[df.Province_State == 'Gansu', "Latitude"] = 36.0611
df.loc[df.Province_State == 'Gansu', "Longitude"] = 103.8343
df[df['Province_State']=='Gansu']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
34,Gansu,Mainland China,2020-03-01,91,2,84,36.0611,103.8343
35,Gansu,Mainland China,2020-03-02,91,2,85,36.0611,103.8343
35,Gansu,Mainland China,2020-03-03,91,2,86,36.0611,103.8343
35,Gansu,Mainland China,2020-03-04,91,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-05,102,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-06,119,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-07,120,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-08,124,2,87,36.0611,103.8343
40,Gansu,Mainland China,2020-03-09,124,2,88,36.0611,103.8343
44,Gansu,Mainland China,2020-03-10,125,2,88,36.0611,103.8343
46,Gansu,China,2020-03-11,127,2,88,36.0611,103.8343
206,Gansu,Mainland China,2020-03-11,0,0,0,36.0611,103.8343
48,Gansu,China,2020-03-12,127,2,88,36.0611,103.8343
211,Gansu,Mainland China,2020-03-12,0,0,0,36.0611,103.8343
24,Gansu,China,2020-03-13,127,2,88,36.0611,103.8343
56,Gansu,China,2020-03-14,129,2,89,36.0611,103.8343
58,Gansu,China,2020-03-15,133,2,91,36.0611,103.8343
71,Gansu,China,2020-03-16,133,2,91,36.0611,103.8343
77,Gansu,China,2020-03-17,133,2,91,36.0611,103.8343
83,Gansu,China,2020-03-18,133,2,91,36.0611,103.8343
93,Gansu,China,2020-03-19,134,2,91,36.0611,103.8343
105,Gansu,China,2020-03-20,134,2,98,36.0611,103.8343
117,Gansu,China,2020-03-21,134,2,113,36.0611,103.8343

In [13]:

df[df['Province_State']=='Gansu'].dropna()
df[df['Province_State']=='Gansu']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
34,Gansu,Mainland China,2020-03-01,91,2,84,36.0611,103.8343
35,Gansu,Mainland China,2020-03-02,91,2,85,36.0611,103.8343
35,Gansu,Mainland China,2020-03-03,91,2,86,36.0611,103.8343
35,Gansu,Mainland China,2020-03-04,91,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-05,102,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-06,119,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-07,120,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-08,124,2,87,36.0611,103.8343
40,Gansu,Mainland China,2020-03-09,124,2,88,36.0611,103.8343
44,Gansu,Mainland China,2020-03-10,125,2,88,36.0611,103.8343
46,Gansu,China,2020-03-11,127,2,88,36.0611,103.8343
206,Gansu,Mainland China,2020-03-11,0,0,0,36.0611,103.8343
48,Gansu,China,2020-03-12,127,2,88,36.0611,103.8343
211,Gansu,Mainland China,2020-03-12,0,0,0,36.0611,103.8343
24,Gansu,China,2020-03-13,127,2,88,36.0611,103.8343
56,Gansu,China,2020-03-14,129,2,89,36.0611,103.8343
58,Gansu,China,2020-03-15,133,2,91,36.0611,103.8343
71,Gansu,China,2020-03-16,133,2,91,36.0611,103.8343
77,Gansu,China,2020-03-17,133,2,91,36.0611,103.8343
83,Gansu,China,2020-03-18,133,2,91,36.0611,103.8343
93,Gansu,China,2020-03-19,134,2,91,36.0611,103.8343
105,Gansu,China,2020-03-20,134,2,98,36.0611,103.8343
117,Gansu,China,2020-03-21,134,2,113,36.0611,103.8343

In [14]:
df.drop([206,211], axis = 0, inplace = True)
df[df['Province_State']=='Gansu']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
34,Gansu,Mainland China,2020-03-01,91,2,84,36.0611,103.8343
35,Gansu,Mainland China,2020-03-02,91,2,85,36.0611,103.8343
35,Gansu,Mainland China,2020-03-03,91,2,86,36.0611,103.8343
35,Gansu,Mainland China,2020-03-04,91,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-05,102,2,87,36.0611,103.8343
36,Gansu,Mainland China,2020-03-06,119,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-07,120,2,87,36.0611,103.8343
39,Gansu,Mainland China,2020-03-08,124,2,87,36.0611,103.8343
40,Gansu,Mainland China,2020-03-09,124,2,88,36.0611,103.8343
44,Gansu,Mainland China,2020-03-10,125,2,88,36.0611,103.8343
46,Gansu,China,2020-03-11,127,2,88,36.0611,103.8343
48,Gansu,China,2020-03-12,127,2,88,36.0611,103.8343
24,Gansu,China,2020-03-13,127,2,88,36.0611,103.8343
56,Gansu,China,2020-03-14,129,2,89,36.0611,103.8343
58,Gansu,China,2020-03-15,133,2,91,36.0611,103.8343
71,Gansu,China,2020-03-16,133,2,91,36.0611,103.8343
77,Gansu,China,2020-03-17,133,2,91,36.0611,103.8343
83,Gansu,China,2020-03-18,133,2,91,36.0611,103.8343
93,Gansu,China,2020-03-19,134,2,91,36.0611,103.8343
105,Gansu,China,2020-03-20,134,2,98,36.0611,103.8343
117,Gansu,China,2020-03-21,134,2,113,36.0611,103.8343

In [16]:
df.loc[df.Province_State == 'Hebei', "Latitude"] = 38.0428
df.loc[df.Province_State == 'Hebei', "Longitude"] = 114.5149
df[df['Province_State']=='Hebei']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
18,Hebei,Mainland China,2020-03-01,318,6,294,38.0428,114.5149
18,Hebei,Mainland China,2020-03-02,318,6,296,38.0428,114.5149
18,Hebei,Mainland China,2020-03-03,318,6,300,38.0428,114.5149
19,Hebei,Mainland China,2020-03-04,318,6,301,38.0428,114.5149
21,Hebei,Mainland China,2020-03-05,318,6,304,38.0428,114.5149
22,Hebei,Mainland China,2020-03-06,318,6,305,38.0428,114.5149
22,Hebei,Mainland China,2020-03-07,318,6,307,38.0428,114.5149
23,Hebei,Mainland China,2020-03-08,318,6,307,38.0428,114.5149
25,Hebei,Mainland China,2020-03-09,318,6,307,38.0428,114.5149
27,Hebei,Mainland China,2020-03-10,318,6,307,38.0428,114.5149
29,Hebei,China,2020-03-11,318,6,307,38.0428,114.5149
207,Hebei,Mainland China,2020-03-11,0,0,0,38.0428,114.5149
30,Hebei,China,2020-03-12,318,6,308,38.0428,114.5149
212,Hebei,Mainland China,2020-03-12,0,0,0,38.0428,114.5149
14,Hebei,China,2020-03-13,318,6,310,38.0428,114.5149
34,Hebei,China,2020-03-14,318,6,310,38.0428,114.5149
35,Hebei,China,2020-03-15,318,6,310,38.0428,114.5149
37,Hebei,China,2020-03-16,318,6,310,38.0428,114.5149
41,Hebei,China,2020-03-17,318,6,310,38.0428,114.5149
41,Hebei,China,2020-03-18,318,6,310,38.0428,114.5149
53,Hebei,China,2020-03-19,318,6,310,38.0428,114.5149
64,Hebei,China,2020-03-20,318,6,310,38.0428,114.5149
70,Hebei,China,2020-03-21,318,6,310,38.0428,114.5149

In [17]:
df.drop([207,212], axis = 0, inplace = True)
df[df['Province_State']=='Hebei']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
18,Hebei,Mainland China,2020-03-01,318,6,294,38.0428,114.5149
18,Hebei,Mainland China,2020-03-02,318,6,296,38.0428,114.5149
18,Hebei,Mainland China,2020-03-03,318,6,300,38.0428,114.5149
19,Hebei,Mainland China,2020-03-04,318,6,301,38.0428,114.5149
21,Hebei,Mainland China,2020-03-05,318,6,304,38.0428,114.5149
22,Hebei,Mainland China,2020-03-06,318,6,305,38.0428,114.5149
22,Hebei,Mainland China,2020-03-07,318,6,307,38.0428,114.5149
23,Hebei,Mainland China,2020-03-08,318,6,307,38.0428,114.5149
25,Hebei,Mainland China,2020-03-09,318,6,307,38.0428,114.5149
27,Hebei,Mainland China,2020-03-10,318,6,307,38.0428,114.5149
29,Hebei,China,2020-03-11,318,6,307,38.0428,114.5149
30,Hebei,China,2020-03-12,318,6,308,38.0428,114.5149
14,Hebei,China,2020-03-13,318,6,310,38.0428,114.5149
34,Hebei,China,2020-03-14,318,6,310,38.0428,114.5149
35,Hebei,China,2020-03-15,318,6,310,38.0428,114.5149
37,Hebei,China,2020-03-16,318,6,310,38.0428,114.5149
41,Hebei,China,2020-03-17,318,6,310,38.0428,114.5149
41,Hebei,China,2020-03-18,318,6,310,38.0428,114.5149
53,Hebei,China,2020-03-19,318,6,310,38.0428,114.5149
64,Hebei,China,2020-03-20,318,6,310,38.0428,114.5149
70,Hebei,China,2020-03-21,318,6,310,38.0428,114.5149

In [20]:
df[df['Country_Region']=='Japan']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
20,NaN,Japan,2020-03-01,256,6,32,36.0000,138.0000
20,NaN,Japan,2020-03-02,274,6,32,36.0000,138.0000
20,NaN,Japan,2020-03-03,293,6,43,36.0000,138.0000
18,NaN,Japan,2020-03-04,331,6,43,36.0000,138.0000
19,NaN,Japan,2020-03-05,360,6,43,36.0000,138.0000
19,NaN,Japan,2020-03-06,420,6,46,36.0000,138.0000
19,NaN,Japan,2020-03-07,461,6,76,36.0000,138.0000
18,NaN,Japan,2020-03-08,502,6,76,36.0000,138.0000
18,NaN,Japan,2020-03-09,511,17,76,36.0000,138.0000
16,NaN,Japan,2020-03-10,581,10,101,36.0000,138.0000
16,NaN,Japan,2020-03-11,639,15,118,36.0000,138.0000
17,NaN,Japan,2020-03-12,639,16,118,36.0000,138.0000
102,NaN,Japan,2020-03-13,701,19,118,36.2048,138.2529
19,NaN,Japan,2020-03-14,773,22,118,36.2048,138.2529
21,NaN,Japan,2020-03-15,839,22,118,36.2048,138.2529
23,NaN,Japan,2020-03-16,825,27,144,36.2048,138.2529
23,NaN,Japan,2020-03-17,878,29,144,36.2048,138.2529
23,NaN,Japan,2020-03-18,889,29,144,36.2048,138.2529
24,NaN,Japan,2020-03-19,924,29,150,36.2048,138.2529
25,NaN,Japan,2020-03-20,963,33,191,36.2048,138.2529
26,NaN,Japan,2020-03-21,1007,35,232,36.2048,138.2529

In [48]:
df.loc[df.Country_Region == 'Japan', "Latitude"] = 36.2048
df.loc[df.Country_Region == 'Japan', "Longitude"] = 138.2529
df.loc[df.Country_Region == 'Japan', "Province_State"] ='Japan'
df[df['Country_Region']=='Japan']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
20,Japan,Japan,2020-03-01,256,6,32,36.2048,138.2529
20,Japan,Japan,2020-03-02,274,6,32,36.2048,138.2529
20,Japan,Japan,2020-03-03,293,6,43,36.2048,138.2529
18,Japan,Japan,2020-03-04,331,6,43,36.2048,138.2529
19,Japan,Japan,2020-03-05,360,6,43,36.2048,138.2529
19,Japan,Japan,2020-03-06,420,6,46,36.2048,138.2529
19,Japan,Japan,2020-03-07,461,6,76,36.2048,138.2529
18,Japan,Japan,2020-03-08,502,6,76,36.2048,138.2529
18,Japan,Japan,2020-03-09,511,17,76,36.2048,138.2529
16,Japan,Japan,2020-03-10,581,10,101,36.2048,138.2529
16,Japan,Japan,2020-03-11,639,15,118,36.2048,138.2529
17,Japan,Japan,2020-03-12,639,16,118,36.2048,138.2529
102,Japan,Japan,2020-03-13,701,19,118,36.2048,138.2529
19,Japan,Japan,2020-03-14,773,22,118,36.2048,138.2529
21,Japan,Japan,2020-03-15,839,22,118,36.2048,138.2529
23,Japan,Japan,2020-03-16,825,27,144,36.2048,138.2529
23,Japan,Japan,2020-03-17,878,29,144,36.2048,138.2529
23,Japan,Japan,2020-03-18,889,29,144,36.2048,138.2529
24,Japan,Japan,2020-03-19,924,29,150,36.2048,138.2529
25,Japan,Japan,2020-03-20,963,33,191,36.2048,138.2529
26,Japan,Japan,2020-03-21,1007,35,232,36.2048,138.2529

In [23]:
df[df['Country_Region']=='South Korea']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
1,NaN,South Korea,2020-03-01,3736,17,30,36.0,128.0
1,NaN,South Korea,2020-03-02,4335,28,30,36.0,128.0
1,NaN,South Korea,2020-03-03,5186,28,30,36.0,128.0
1,NaN,South Korea,2020-03-04,5621,35,41,36.0,128.0
1,NaN,South Korea,2020-03-05,6088,35,41,36.0,128.0
1,NaN,South Korea,2020-03-06,6593,42,135,36.0,128.0
1,NaN,South Korea,2020-03-07,7041,44,135,36.0,128.0
2,NaN,South Korea,2020-03-08,7314,50,118,36.0,128.0
2,NaN,South Korea,2020-03-09,7478,53,118,36.0,128.0

In [49]:
df.loc[df.Country_Region == 'South Korea', "Latitude"] = 35.9078
df.loc[df.Country_Region == 'South Korea', "Longitude"] = 127.7669
df.loc[df.Country_Region == 'South Korea', "Province_State"] = 'South Korea'
df[df['Country_Region']=='South Korea']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
1,South Korea,South Korea,2020-03-01,3736,17,30,35.9078,127.7669
1,South Korea,South Korea,2020-03-02,4335,28,30,35.9078,127.7669
1,South Korea,South Korea,2020-03-03,5186,28,30,35.9078,127.7669
1,South Korea,South Korea,2020-03-04,5621,35,41,35.9078,127.7669
1,South Korea,South Korea,2020-03-05,6088,35,41,35.9078,127.7669
1,South Korea,South Korea,2020-03-06,6593,42,135,35.9078,127.7669
1,South Korea,South Korea,2020-03-07,7041,44,135,35.9078,127.7669
2,South Korea,South Korea,2020-03-08,7314,50,118,35.9078,127.7669
2,South Korea,South Korea,2020-03-09,7478,53,118,35.9078,127.7669

In [26]:
df[df['Country_Region']=='Thailand']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
42,NaN,Thailand,2020-03-01,42,1,28,15.00,101.0000
42,NaN,Thailand,2020-03-02,43,1,31,15.00,101.0000
44,NaN,Thailand,2020-03-03,43,1,31,15.00,101.0000
46,NaN,Thailand,2020-03-04,43,1,31,15.00,101.0000
49,NaN,Thailand,2020-03-05,47,1,31,15.00,101.0000
50,NaN,Thailand,2020-03-06,48,1,31,15.00,101.0000
53,NaN,Thailand,2020-03-07,50,1,31,15.00,101.0000
54,NaN,Thailand,2020-03-08,50,1,31,15.00,101.0000
56,NaN,Thailand,2020-03-09,50,1,31,15.00,101.0000
62,NaN,Thailand,2020-03-10,53,1,33,15.87,100.9925
68,NaN,Thailand,2020-03-11,59,1,34,15.87,100.9925
63,NaN,Thailand,2020-03-12,70,1,34,15.87,100.9925
48,NaN,Thailand,2020-03-13,75,1,35,15.87,100.9925
74,NaN,Thailand,2020-03-14,82,1,35,15.87,100.9925
66,NaN,Thailand,2020-03-15,114,1,35,15.87,100.9925
64,NaN,Thailand,2020-03-16,147,1,35,15.87,100.9925
63,NaN,Thailand,2020-03-17,177,1,41,15.87,100.9925
62,NaN,Thailand,2020-03-18,212,1,42,15.87,100.9925
63,NaN,Thailand,2020-03-19,272,1,42,15.87,100.9925
63,NaN,Thailand,2020-03-20,322,1,42,15.87,100.9925
60,NaN,Thailand,2020-03-21,411,1,42,15.87,100.9925

In [46]:
df.loc[df.Country_Region == 'Thailand', "Latitude"] = 15.87
df.loc[df.Country_Region == 'Thailand', "Longitude"] = 100.9925
df.loc[df.Country_Region == 'Thailand', "Province_State"] = 'Thailand'
df[df['Country_Region']=='Thailand']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
42,Thailand,Thailand,2020-03-01,42,1,28,15.87,100.9925
42,Thailand,Thailand,2020-03-02,43,1,31,15.87,100.9925
44,Thailand,Thailand,2020-03-03,43,1,31,15.87,100.9925
46,Thailand,Thailand,2020-03-04,43,1,31,15.87,100.9925
49,Thailand,Thailand,2020-03-05,47,1,31,15.87,100.9925
50,Thailand,Thailand,2020-03-06,48,1,31,15.87,100.9925
53,Thailand,Thailand,2020-03-07,50,1,31,15.87,100.9925
54,Thailand,Thailand,2020-03-08,50,1,31,15.87,100.9925
56,Thailand,Thailand,2020-03-09,50,1,31,15.87,100.9925
62,Thailand,Thailand,2020-03-10,53,1,33,15.87,100.9925
68,Thailand,Thailand,2020-03-11,59,1,34,15.87,100.9925
63,Thailand,Thailand,2020-03-12,70,1,34,15.87,100.9925
48,Thailand,Thailand,2020-03-13,75,1,35,15.87,100.9925
74,Thailand,Thailand,2020-03-14,82,1,35,15.87,100.9925
66,Thailand,Thailand,2020-03-15,114,1,35,15.87,100.9925
64,Thailand,Thailand,2020-03-16,147,1,35,15.87,100.9925
63,Thailand,Thailand,2020-03-17,177,1,41,15.87,100.9925
62,Thailand,Thailand,2020-03-18,212,1,42,15.87,100.9925
63,Thailand,Thailand,2020-03-19,272,1,42,15.87,100.9925
63,Thailand,Thailand,2020-03-20,322,1,42,15.87,100.9925
60,Thailand,Thailand,2020-03-21,411,1,42,15.87,100.9925

In [28]:
df[df['Country_Region']=='Malaysia']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
45,NaN,Malaysia,2020-03-01,29,0,18,2.5000,112.5000
46,NaN,Malaysia,2020-03-02,29,0,18,2.5000,112.5000
46,NaN,Malaysia,2020-03-03,36,0,22,2.5000,112.5000
44,NaN,Malaysia,2020-03-04,50,0,22,2.5000,112.5000
48,NaN,Malaysia,2020-03-05,50,0,22,2.5000,112.5000
42,NaN,Malaysia,2020-03-06,83,0,22,2.5000,112.5000
42,NaN,Malaysia,2020-03-07,93,0,23,2.5000,112.5000
42,NaN,Malaysia,2020-03-08,99,0,24,2.5000,112.5000
41,NaN,Malaysia,2020-03-09,117,0,24,2.5000,112.5000
43,NaN,Malaysia,2020-03-10,129,0,24,2.5000,112.5000
42,NaN,Malaysia,2020-03-11,149,0,26,2.5000,112.5000
42,NaN,Malaysia,2020-03-12,149,0,26,2.5000,112.5000
151,NaN,Malaysia,2020-03-13,197,0,26,4.2105,101.9758
38,NaN,Malaysia,2020-03-14,238,0,35,4.2105,101.9758
31,NaN,Malaysia,2020-03-15,428,0,42,4.2105,101.9758
28,NaN,Malaysia,2020-03-16,566,0,42,4.2105,101.9758
27,NaN,Malaysia,2020-03-17,673,2,49,4.2105,101.9758
24,NaN,Malaysia,2020-03-18,790,2,60,4.2105,101.9758
25,NaN,Malaysia,2020-03-19,900,2,75,4.2105,101.9758
21,NaN,Malaysia,2020-03-20,1030,3,87,4.2105,101.9758
23,NaN,Malaysia,2020-03-21,1183,4,114,4.2105,101.9758

In [45]:
df.loc[df.Country_Region == 'Malaysia', "Latitude"] = 4.2105
df.loc[df.Country_Region == 'Malaysia', "Longitude"] = 101.9758
df.loc[df.Country_Region == 'Malaysia', "Province_State"] = 'Malaysia'
df[df['Country_Region']=='Malaysia']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
45,Malaysia,Malaysia,2020-03-01,29,0,18,4.2105,101.9758
46,Malaysia,Malaysia,2020-03-02,29,0,18,4.2105,101.9758
46,Malaysia,Malaysia,2020-03-03,36,0,22,4.2105,101.9758
44,Malaysia,Malaysia,2020-03-04,50,0,22,4.2105,101.9758
48,Malaysia,Malaysia,2020-03-05,50,0,22,4.2105,101.9758
42,Malaysia,Malaysia,2020-03-06,83,0,22,4.2105,101.9758
42,Malaysia,Malaysia,2020-03-07,93,0,23,4.2105,101.9758
42,Malaysia,Malaysia,2020-03-08,99,0,24,4.2105,101.9758
41,Malaysia,Malaysia,2020-03-09,117,0,24,4.2105,101.9758
43,Malaysia,Malaysia,2020-03-10,129,0,24,4.2105,101.9758
42,Malaysia,Malaysia,2020-03-11,149,0,26,4.2105,101.9758
42,Malaysia,Malaysia,2020-03-12,149,0,26,4.2105,101.9758
151,Malaysia,Malaysia,2020-03-13,197,0,26,4.2105,101.9758
38,Malaysia,Malaysia,2020-03-14,238,0,35,4.2105,101.9758
31,Malaysia,Malaysia,2020-03-15,428,0,42,4.2105,101.9758
28,Malaysia,Malaysia,2020-03-16,566,0,42,4.2105,101.9758
27,Malaysia,Malaysia,2020-03-17,673,2,49,4.2105,101.9758
24,Malaysia,Malaysia,2020-03-18,790,2,60,4.2105,101.9758
25,Malaysia,Malaysia,2020-03-19,900,2,75,4.2105,101.9758
21,Malaysia,Malaysia,2020-03-20,1030,3,87,4.2105,101.9758
23,Malaysia,Malaysia,2020-03-21,1183,4,114,4.2105,101.9758

In [30]:
df[df['Country_Region']=='Singapore']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
31,NaN,Singapore,2020-03-01,106,0,72,1.2833,103.8333
32,NaN,Singapore,2020-03-02,108,0,78,1.2833,103.8333
32,NaN,Singapore,2020-03-03,110,0,78,1.2833,103.8333
32,NaN,Singapore,2020-03-04,110,0,78,1.2833,103.8333
32,NaN,Singapore,2020-03-05,117,0,78,1.2833,103.8333
33,NaN,Singapore,2020-03-06,130,0,78,1.2833,103.8333
35,NaN,Singapore,2020-03-07,138,0,78,1.2833,103.8333
34,NaN,Singapore,2020-03-08,150,0,78,1.2833,103.8333
34,NaN,Singapore,2020-03-09,150,0,78,1.2833,103.8333
38,NaN,Singapore,2020-03-10,160,0,78,1.2833,103.8333
38,NaN,Singapore,2020-03-11,178,0,96,1.2833,103.8333
39,NaN,Singapore,2020-03-12,178,0,96,1.2833,103.8333
105,NaN,Singapore,2020-03-13,200,0,97,1.3521,103.8198
41,NaN,Singapore,2020-03-14,212,0,105,1.3521,103.8198
43,NaN,Singapore,2020-03-15,226,0,105,1.3521,103.8198
45,NaN,Singapore,2020-03-16,243,0,109,1.3521,103.8198
45,NaN,Singapore,2020-03-17,266,0,114,1.3521,103.8198
43,NaN,Singapore,2020-03-18,313,0,114,1.3521,103.8198
48,NaN,Singapore,2020-03-19,345,0,114,1.3521,103.8198
54,NaN,Singapore,2020-03-20,385,0,124,1.3521,103.8198
58,NaN,Singapore,2020-03-21,432,2,140,1.3521,103.8198

In [44]:
df.loc[df.Country_Region == 'Singapore', "Latitude"] = 1.3521
df.loc[df.Country_Region == 'Singapore', "Longitude"] = 103.8198
df.loc[df.Country_Region == 'Singapore', "Province_State"] = 'Singapore'
df[df['Country_Region']=='Singapore']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
31,Singapore,Singapore,2020-03-01,106,0,72,1.3521,103.8198
32,Singapore,Singapore,2020-03-02,108,0,78,1.3521,103.8198
32,Singapore,Singapore,2020-03-03,110,0,78,1.3521,103.8198
32,Singapore,Singapore,2020-03-04,110,0,78,1.3521,103.8198
32,Singapore,Singapore,2020-03-05,117,0,78,1.3521,103.8198
33,Singapore,Singapore,2020-03-06,130,0,78,1.3521,103.8198
35,Singapore,Singapore,2020-03-07,138,0,78,1.3521,103.8198
34,Singapore,Singapore,2020-03-08,150,0,78,1.3521,103.8198
34,Singapore,Singapore,2020-03-09,150,0,78,1.3521,103.8198
38,Singapore,Singapore,2020-03-10,160,0,78,1.3521,103.8198
38,Singapore,Singapore,2020-03-11,178,0,96,1.3521,103.8198
39,Singapore,Singapore,2020-03-12,178,0,96,1.3521,103.8198
105,Singapore,Singapore,2020-03-13,200,0,97,1.3521,103.8198
41,Singapore,Singapore,2020-03-14,212,0,105,1.3521,103.8198
43,Singapore,Singapore,2020-03-15,226,0,105,1.3521,103.8198
45,Singapore,Singapore,2020-03-16,243,0,109,1.3521,103.8198
45,Singapore,Singapore,2020-03-17,266,0,114,1.3521,103.8198
43,Singapore,Singapore,2020-03-18,313,0,114,1.3521,103.8198
48,Singapore,Singapore,2020-03-19,345,0,114,1.3521,103.8198
54,Singapore,Singapore,2020-03-20,385,0,124,1.3521,103.8198
58,Singapore,Singapore,2020-03-21,432,2,140,1.3521,103.8198

In [32]:
df[df['Country_Region']=='Philippines']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
78,NaN,Philippines,2020-03-01,3,1,1,13.0000,122.000
84,NaN,Philippines,2020-03-02,3,1,1,13.0000,122.000
85,NaN,Philippines,2020-03-03,3,1,1,13.0000,122.000
94,NaN,Philippines,2020-03-04,3,1,1,13.0000,122.000
102,NaN,Philippines,2020-03-05,3,1,1,13.0000,122.000
96,NaN,Philippines,2020-03-06,5,1,1,13.0000,122.000
99,NaN,Philippines,2020-03-07,6,1,1,13.0000,122.000
98,NaN,Philippines,2020-03-08,10,1,1,13.0000,122.000
78,NaN,Philippines,2020-03-09,20,1,1,13.0000,122.000
72,NaN,Philippines,2020-03-10,33,1,2,12.8797,121.774
70,NaN,Philippines,2020-03-11,49,1,2,12.8797,121.774
71,NaN,Philippines,2020-03-12,52,2,2,12.8797,121.774
44,NaN,Philippines,2020-03-13,64,5,2,12.8797,121.774
62,NaN,Philippines,2020-03-14,111,8,2,12.8797,121.774
53,NaN,Philippines,2020-03-15,140,11,2,12.8797,121.774
66,NaN,Philippines,2020-03-16,142,12,2,12.8797,121.774
60,NaN,Philippines,2020-03-17,187,12,5,12.8797,121.774
64,NaN,Philippines,2020-03-18,202,19,5,12.8797,121.774
73,NaN,Philippines,2020-03-19,217,17,8,12.8797,121.774
80,NaN,Philippines,2020-03-20,230,18,8,12.8797,121.774
72,NaN,Philippines,2020-03-21,307,19,13,12.8797,121.774

In [43]:
df.loc[df.Country_Region == 'Philippines', "Latitude"] = 12.8797
df.loc[df.Country_Region == 'Philippines', "Longitude"] = 121.774
df.loc[df.Country_Region == 'Philippines', "Province_State"] = 'Philippines'
df[df['Country_Region']=='Philippines']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
78,Philippines,Philippines,2020-03-01,3,1,1,12.8797,121.774
84,Philippines,Philippines,2020-03-02,3,1,1,12.8797,121.774
85,Philippines,Philippines,2020-03-03,3,1,1,12.8797,121.774
94,Philippines,Philippines,2020-03-04,3,1,1,12.8797,121.774
102,Philippines,Philippines,2020-03-05,3,1,1,12.8797,121.774
96,Philippines,Philippines,2020-03-06,5,1,1,12.8797,121.774
99,Philippines,Philippines,2020-03-07,6,1,1,12.8797,121.774
98,Philippines,Philippines,2020-03-08,10,1,1,12.8797,121.774
78,Philippines,Philippines,2020-03-09,20,1,1,12.8797,121.774
72,Philippines,Philippines,2020-03-10,33,1,2,12.8797,121.774
70,Philippines,Philippines,2020-03-11,49,1,2,12.8797,121.774
71,Philippines,Philippines,2020-03-12,52,2,2,12.8797,121.774
44,Philippines,Philippines,2020-03-13,64,5,2,12.8797,121.774
62,Philippines,Philippines,2020-03-14,111,8,2,12.8797,121.774
53,Philippines,Philippines,2020-03-15,140,11,2,12.8797,121.774
66,Philippines,Philippines,2020-03-16,142,12,2,12.8797,121.774
60,Philippines,Philippines,2020-03-17,187,12,5,12.8797,121.774
64,Philippines,Philippines,2020-03-18,202,19,5,12.8797,121.774
73,Philippines,Philippines,2020-03-19,217,17,8,12.8797,121.774
80,Philippines,Philippines,2020-03-20,230,18,8,12.8797,121.774
72,Philippines,Philippines,2020-03-21,307,19,13,12.8797,121.774

In [34]:
df[df['Country_Region']=='Vietnam']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
51,NaN,Vietnam,2020-03-01,16,0,16,16.0000,108.0000
54,NaN,Vietnam,2020-03-02,16,0,16,16.0000,108.0000
56,NaN,Vietnam,2020-03-03,16,0,16,16.0000,108.0000
61,NaN,Vietnam,2020-03-04,16,0,16,16.0000,108.0000
68,NaN,Vietnam,2020-03-05,16,0,16,16.0000,108.0000
75,NaN,Vietnam,2020-03-06,16,0,16,16.0000,108.0000
74,NaN,Vietnam,2020-03-07,18,0,16,16.0000,108.0000
69,NaN,Vietnam,2020-03-08,30,0,16,16.0000,108.0000
72,NaN,Vietnam,2020-03-09,30,0,16,16.0000,108.0000
78,NaN,Vietnam,2020-03-11,38,0,16,16.0000,108.0000
81,NaN,Vietnam,2020-03-12,39,0,16,16.0000,108.0000
222,NaN,Vietnam,2020-03-13,47,0,16,14.0583,108.2772
90,NaN,Vietnam,2020-03-14,53,0,16,14.0583,108.2772
93,NaN,Vietnam,2020-03-15,56,0,16,14.0583,108.2772
98,NaN,Vietnam,2020-03-16,61,0,16,14.0583,108.2772
110,NaN,Vietnam,2020-03-17,66,0,16,14.0583,108.2772
117,NaN,Vietnam,2020-03-18,75,0,16,14.0583,108.2772
120,NaN,Vietnam,2020-03-19,85,0,16,14.0583,108.2772
122,NaN,Vietnam,2020-03-20,91,0,16,14.0583,108.2772
131,NaN,Vietnam,2020-03-21,94,0,17,14.0583,108.2772

In [42]:
df.loc[df.Country_Region == 'Vietnam', "Latitude"] = 14.0583
df.loc[df.Country_Region == 'Vietnam', "Longitude"] = 108.2772
df.loc[df.Country_Region == 'Vietnam', "Province_State"] = 'Vietnam'
df[df['Country_Region']=='Vietnam']

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
51,Vietnam,Vietnam,2020-03-01,16,0,16,14.0583,108.2772
54,Vietnam,Vietnam,2020-03-02,16,0,16,14.0583,108.2772
56,Vietnam,Vietnam,2020-03-03,16,0,16,14.0583,108.2772
61,Vietnam,Vietnam,2020-03-04,16,0,16,14.0583,108.2772
68,Vietnam,Vietnam,2020-03-05,16,0,16,14.0583,108.2772
75,Vietnam,Vietnam,2020-03-06,16,0,16,14.0583,108.2772
74,Vietnam,Vietnam,2020-03-07,18,0,16,14.0583,108.2772
69,Vietnam,Vietnam,2020-03-08,30,0,16,14.0583,108.2772
72,Vietnam,Vietnam,2020-03-09,30,0,16,14.0583,108.2772
78,Vietnam,Vietnam,2020-03-11,38,0,16,14.0583,108.2772
81,Vietnam,Vietnam,2020-03-12,39,0,16,14.0583,108.2772
222,Vietnam,Vietnam,2020-03-13,47,0,16,14.0583,108.2772
90,Vietnam,Vietnam,2020-03-14,53,0,16,14.0583,108.2772
93,Vietnam,Vietnam,2020-03-15,56,0,16,14.0583,108.2772
98,Vietnam,Vietnam,2020-03-16,61,0,16,14.0583,108.2772
110,Vietnam,Vietnam,2020-03-17,66,0,16,14.0583,108.2772
117,Vietnam,Vietnam,2020-03-18,75,0,16,14.0583,108.2772
120,Vietnam,Vietnam,2020-03-19,85,0,16,14.0583,108.2772
122,Vietnam,Vietnam,2020-03-20,91,0,16,14.0583,108.2772
131,Vietnam,Vietnam,2020-03-21,94,0,17,14.0583,108.2772

In [41]:
df[df['Country_Region']=='France'].head(20)

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
28,NaN,France,2020-03-01,130,2,12,47.0000,2.0000
23,NaN,France,2020-03-02,191,3,12,47.0000,2.0000
23,NaN,France,2020-03-03,204,4,12,47.0000,2.0000
21,NaN,France,2020-03-04,285,4,12,47.0000,2.0000
18,NaN,France,2020-03-05,377,6,12,47.0000,2.0000
13,NaN,France,2020-03-06,653,9,12,47.0000,2.0000
9,NaN,France,2020-03-07,949,11,12,47.0000,2.0000
7,NaN,France,2020-03-08,1126,19,12,47.0000,2.0000
7,NaN,France,2020-03-09,1209,19,12,47.0000,2.0000
4,NaN,France,2020-03-10,1784,33,12,47.0000,2.0000
4,France,France,2020-03-11,2281,48,12,46.2276,2.2137
170,St Martin,France,2020-03-11,2,0,0,18.0708,-63.0501
186,Saint Barthelemy,France,2020-03-11,1,0,0,17.9000,-62.8333
4,France,France,2020-03-12,2281,48,12,46.2276,2.2137
173,St Martin,France,2020-03-12,2,0,0,18.0708,-63.0501
191,Saint Barthelemy,France,2020-03-12,1,0,0,17.9000,-62.8333
79,France,France,2020-03-13,3661,79,12,46.2276,2.2137
99,French Polynesia,France,2020-03-13,3,0,0,-17.6797,149.4068
132,Saint Barthelemy,France,2020-03-13,1,0,0,17.9000,-62.8333
133,St Martin,France,2020-03-13,2,0,0,18.0708,-63.0501

In [40]:
df.loc[df.Country_Region == 'France', "Province_State"] = 46.2276

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [ ]:
df.loc[df.Country_Region == 'France', "Latitude"] = 46.2276
df.loc[df.Country_Region == 'France', "Longitude"] = 2.2137
df[df['Country_Region']=='France']

In [ ]:
df.loc[df.Country_Region == 'Philippines', "Latitude"] = 12.8797
df.loc[df.Country_Region == 'Philippines', "Longitude"] = 121.774
df[df['Country_Region']=='Philippines']

In [ ]:
df.loc[df.Country_Region == 'Philippines', "Latitude"] = 12.8797
df.loc[df.Country_Region == 'Philippines', "Longitude"] = 121.774
df[df['Country_Region']=='Philippines']

In [ ]:
#export to csv
mar.to_csv( "../combined2.csv", index=False, encoding='utf-8-sig')

In [ ]:
#values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
#df.fillna(value=values)