In [1]:
import os
import glob
import pandas as pd
os.chdir("resources/3")

In [2]:
df = pd.read_csv('03-22-2020.csv')
df.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,36061.0,New York City,New York,US,3/22/20 23:45,40.767273,-73.971526,9654,63,0,0,"New York City, New York, US"
1,36059.0,Nassau,New York,US,3/22/20 23:45,40.740665,-73.589419,1900,4,0,0,"Nassau, New York, US"
2,36119.0,Westchester,New York,US,3/22/20 23:45,41.162784,-73.757417,1873,0,0,0,"Westchester, New York, US"
3,36103.0,Suffolk,New York,US,3/22/20 23:45,40.883201,-72.801217,1034,9,0,0,"Suffolk, New York, US"
4,36087.0,Rockland,New York,US,3/22/20 23:45,41.150279,-74.025605,455,1,0,0,"Rockland, New York, US"

In [10]:
df1 = pd.read_csv('03-22-2020.csv')
df2 = pd.read_csv('03-23-2020.csv')
df3 = pd.read_csv('03-24-2020.csv')
df4 = pd.read_csv('03-25-2020.csv')
df5 = pd.read_csv('03-26-2020.csv')
df6 = pd.read_csv('03-27-2020.csv')
df1.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,36061.0,New York City,New York,US,3/22/20 23:45,40.767273,-73.971526,9654,63,0,0,"New York City, New York, US"
1,36059.0,Nassau,New York,US,3/22/20 23:45,40.740665,-73.589419,1900,4,0,0,"Nassau, New York, US"
2,36119.0,Westchester,New York,US,3/22/20 23:45,41.162784,-73.757417,1873,0,0,0,"Westchester, New York, US"
3,36103.0,Suffolk,New York,US,3/22/20 23:45,40.883201,-72.801217,1034,9,0,0,"Suffolk, New York, US"
4,36087.0,Rockland,New York,US,3/22/20 23:45,41.150279,-74.025605,455,1,0,0,"Rockland, New York, US"

In [3]:
#Use glob to match the pattern ‘csv’
#extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format('csv'))]

In [4]:
#Combine all files in the list
data3= pd.concat([pd.read_csv(f) for f in all_filenames ])

In [5]:
data3.head(2)

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,36061.0,New York City,New York,US,3/22/20 23:45,40.767273,-73.971526,9654,63,0,0,"New York City, New York, US"
1,36059.0,Nassau,New York,US,3/22/20 23:45,40.740665,-73.589419,1900,4,0,0,"Nassau, New York, US"

In [7]:
data = data3.drop(['Active', 'Admin2','Combined_Key', 'FIPS'], axis = 1)
data.columns

Index(['Province_State', 'Country_Region', 'Last_Update', 'Lat', 'Long_',
       'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

In [11]:
data.columns = ['Province/State', 'Country/Region', 'Last_Update', 'Latitude', 'Longitude',
       'Confirmed', 'Deaths', 'Recovered']
data.columns

Index(['Province/State', 'Country/Region', 'Last_Update', 'Latitude',
       'Longitude', 'Confirmed', 'Deaths', 'Recovered'],
      dtype='object')

In [12]:
data.head(2)

,Province/State,Country/Region,Last_Update,Latitude,Longitude,Confirmed,Deaths,Recovered
0,New York,US,3/22/20 23:45,40.767273,-73.971526,9654,63,0
1,New York,US,3/22/20 23:45,40.740665,-73.589419,1900,4,0

In [13]:
#export to csv
data.to_csv( "../combined3.csv", index=False, encoding='utf-8-sig')