In [1]:
import os
import glob
import pandas as pd
os.chdir("resources/2")

In [2]:
df = pd.read_csv('03-01-2020.csv')
df.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140

In [3]:
#Use glob to match the pattern ‘csv’
#extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format('csv'))]

In [4]:
#Combine all files in the list
mar = pd.concat([pd.read_csv(f) for f in all_filenames ])

In [5]:
mar.rename(columns={'Last Update':'Last_Update'}, inplace=True) 
mar.head(2)

,Province/State,Country/Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000

In [6]:
#export to csv
mar.to_csv( "../marchcombined.csv", index=False, encoding='utf-8-sig')

In [ ]:
#values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
#df.fillna(value=values)