In [1]:
import os
import glob
import pandas as pd
import numpy as np
os.chdir("resources/2")

In [2]:
df1 = pd.read_csv('03-01-2020.csv')
df2 = pd.read_csv('03-21-2020.csv')
df1.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140

In [24]:
df1.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140

In [22]:
values = {'Province/State': 0,'Recovered': 0, 'Confirmed': 0, 'Deaths':0}
df1.fillna(value=values)
df1

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
120,"Tempe, AZ",US,2020-02-25T21:23:03,1,0,1,33.4255,-111.9400
121,From Diamond Princess,Australia,2020-02-29T02:03:10,0,0,0,35.4437,139.6380
122,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,29.3829,-98.6134
123,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,41.2545,-95.9758
124,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,38.2721,-121.9399

In [9]:
df1['Country/Region'][13]

'Mainland China'

In [10]:
len(df1)

125

In [30]:
for i in range(len(df1)):
    if df1['Province/State'][i]=='Guangdong':
        print(df1['Province/State'][i])

Guangdong

In [26]:
provincelist = []
for i in range(len(df1)):
    if df1['Province/State'][i]=='NaN':
        print(df1['Province/State'][i])
        df1['Province/State'][i]=df1['Country/Region'][i]
        provincelist.append( df1['Province/State'][i])

In [27]:
provincelist

[]

In [16]:
df1

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01T23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01T14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01T14:13:18,1272,22,1198,33.8820,113.6140
...,...,...,...,...,...,...,...,...
120,"Tempe, AZ",US,2020-02-25T21:23:03,1,0,1,33.4255,-111.9400
121,From Diamond Princess,Australia,2020-02-29T02:03:10,0,0,0,35.4437,139.6380
122,"Lackland, TX (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,29.3829,-98.6134
123,"Omaha, NE (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,41.2545,-95.9758
124,"Travis, CA (From Diamond Princess)",US,2020-02-24T23:33:02,0,0,0,38.2721,-121.9399

In [14]:
for i in range(len(df1)):
    print(df1['Province/State'][i])

Hubei
nan
nan
Guangdong
Henan
Zhejiang
Hunan
Anhui
nan
Jiangxi
Shandong
Diamond Princess cruise ship
Jiangsu
Chongqing
Sichuan
Heilongjiang
Beijing
Shanghai
Hebei
Fujian
nan
Guangxi
Shaanxi
Yunnan
Hainan
Guizhou
Tianjin
Shanxi
nan
nan
Liaoning
nan
Hong Kong
Jilin
Gansu
nan
Xinjiang
Inner Mongolia
Ningxia
nan
nan
Unassigned Location (From Diamond Princess)
nan
Taiwan
nan
nan
nan
nan
nan
nan
Qinghai
nan
nan
Toronto, ON
nan
nan
nan
Macau
nan
Queensland
Seattle, WA
British Columbia
Victoria
nan
nan
New South Wales
nan
nan
nan
nan
nan
nan
South Australia
nan
nan
nan
nan
nan
nan
nan
nan
Chicago, IL
Santa Clara, CA
Western Australia
nan
nan
nan
nan
Sacramento County, CA
San Benito, CA
San Diego County, CA
Snohomish County, WA
nan
nan
nan
nan
nan
 Montreal, QC
London, ON
nan
nan
nan
nan
nan
Tibet
nan
nan
nan
nan
nan
nan
nan
Boston, MA
Humboldt County, CA
Los Angeles, CA
Madison, WI
Orange, CA
Portland, OR
Providence, RI
San Antonio, TX
Tempe, AZ
From Diamond Princess
Lackland, TX (From Diamond Princess)
Omaha, NE (From Diamond Princess)
Travis, CA (From Diamond Princess)

In [ ]:
df3=df1[df1['Province/State'].notna()]
df4=df2[df2['Province/State'].notna()]

print (f"df3 {len(df3)}, df4:{len(df4)}")

In [ ]:
df5 = df3.drop(['Last Update','Confirmed','Deaths','Recovered','Country/Region'], axis =1)
df6 = df4.drop(columns =['Last Update','Confirmed','Deaths','Recovered','Country/Region'] )
df6.head()

In [ ]:
df5.to_csv( "../Pcoordinators1.csv", index=False, encoding='utf-8-sig')
df6.to_csv( "../Pcoordinators2.csv", index=False, encoding='utf-8-sig')

In [ ]:
#Use glob to match the pattern ‘csv’
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format('csv'))]
#Combine all files in the list
df = pd.concat([pd.read_csv(f) for f in all_filenames ])

In [ ]:
df.rename(columns={'Last Update':'Last_Update','Province/State':'Province_State','Country/Region':'Country_Region'}, inplace=True) 
df.head(2)

In [ ]:
#mar['Row_Num'] = np.arange(len(mar))
len(df)

In [ ]:
df5 = pd.concat([df3, df4])
df5.head(3)

In [ ]:
#export to csv
df.to_csv( "../combined2.csv", index=False, encoding='utf-8-sig')