In [1]:
import os
import glob
import pandas as pd
os.chdir("resources/1")

In [2]:
df1 = pd.read_csv('02-01-2020.csv')
df1.head()

  Province/State  Country/Region     Last Update  Confirmed  Deaths  Recovered
0          Hubei  Mainland China  2/1/2020 11:53       7153     249        168
1       Zhejiang  Mainland China  2/1/2020 10:53        599       0         21
2      Guangdong  Mainland China  2/1/2020 14:23        535       0         14
3          Henan  Mainland China   2/1/2020 1:52        422       2          3
4          Hunan  Mainland China  2/1/2020 11:03        389       0          8

In [3]:
#Use glob to match the pattern ‘csv’
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format('csv'))]
#Combine all files in the list
data1= pd.concat([pd.read_csv(f) for f in all_filenames ])

In [4]:
len(data1)

2848

In [5]:
df2 = pd.read_csv('../../resources/china Province coordinates.csv')
df2.head(2)

  Province/State  Latitude  Longitude
0          Anhui   30.6007   117.9249
1        Beijing   40.2374   116.2305

In [6]:
data = pd.merge(data1,
                df2[['Province/State', 'Latitude', 'Longitude']],
                how='left',
                on='Province/State')
data.head()

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN,30.6007,117.9249
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN,40.2374,116.2305
2,Chongqing,Mainland China,1/22/2020 17:00,6.0,NaN,NaN,29.4316,106.9123
3,Fujian,Mainland China,1/22/2020 17:00,1.0,NaN,NaN,26.4837,117.9249
4,Gansu,Mainland China,1/22/2020 17:00,NaN,NaN,NaN,35.7518,104.2861

In [7]:
len(data)

2848

In [8]:
data.rename(columns={'Last Update':'Last_Update','Province/State':'Province_State','Country/Region':'Country_Region'}, inplace=True) 
data.head(2)

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Anhui,Mainland China,1/22/2020 17:00,1.0,NaN,NaN,30.6007,117.9249
1,Beijing,Mainland China,1/22/2020 17:00,14.0,NaN,NaN,40.2374,116.2305

In [12]:
#export to csv
data.to_csv( "../combined1.csv", index=False, encoding='utf-8-sig')