In [1]:
%matplotlib notebook
import matplotlib.pyplot as plt
import pandas as pd

In [6]:
data1 = pd.read_csv("resources/combined1.csv")
data2 = pd.read_csv("resources/combined2.csv")
data3 = pd.read_csv("resources/combined3.csv")

In [7]:
data1.head(2)

,Confirmed,Country/Region,Deaths,Last_Update,Province/State,Recovered
0,1.0,Mainland China,NaN,1/22/2020 17:00,Anhui,NaN
1,14.0,Mainland China,NaN,1/22/2020 17:00,Beijing,NaN

In [8]:
data2.head(2)

,Province/State,Country/Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000

In [9]:
data3.head(2)

,Province/State,Country/Region,Last_Update,Latitude,Longitude,Confirmed,Deaths,Recovered
0,New York,US,3/22/20 23:45,40.767273,-73.971526,9654,63,0
1,New York,US,3/22/20 23:45,40.740665,-73.589419,1900,4,0

In [10]:
result = pd.merge(data1,
                 data2[['Province/State', 'Latitude', 'Longitude']],
                 on='Province/State')