In [21]:
import pandas as pd
from datetime import datetime

In [22]:
data1 = pd.read_csv("resources/combined1.csv")
data2 = pd.read_csv("resources/combined2.csv")
data3 = pd.read_csv("resources/combined3.csv")

In [23]:
data1.head(2)

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Anhui,China,1/22/2020 17:00,1.0,0.0,0.0,30.6007,117.9249
1,Beijing,China,1/22/2020 17:00,14.0,0.0,0.0,40.2374,116.2305

In [24]:
data2.head(2)

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01T10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01T23:43:03,3736,17,30,36.0000,128.0000

In [25]:
data3.head(2)

,Province_State,Country_Region,Last_Update,Latitude,Longitude,Confirmed,Deaths,Recovered
0,New York,US,3/22/20 23:45,40.767273,-73.971526,9654,63,0
1,New York,US,3/22/20 23:45,40.740665,-73.589419,1900,4,0

In [33]:
data3.dtypes

Province_State     object
Country_Region     object
Last_Update        object
Latitude          float64
Longitude         float64
Confirmed           int64
Deaths              int64
Recovered           int64
dtype: object

In [34]:
data3['Last_Update']= pd.to_datetime(data3['Last_Update'], "%m/%d/%Y")
data3.head()

AssertionError:

In [29]:
data2['Last_Update']= pd.to_datetime(data2['Last_Update'], "%d-%m-%Y")
data2.head()

,Province_State,Country_Region,Last_Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,Mainland China,2020-03-01 10:13:19,66907,2761,31536,30.9756,112.2707
1,NaN,South Korea,2020-03-01 23:43:03,3736,17,30,36.0000,128.0000
2,NaN,Italy,2020-03-01 23:23:02,1694,34,83,43.0000,12.0000
3,Guangdong,Mainland China,2020-03-01 14:13:18,1349,7,1016,23.3417,113.4244
4,Henan,Mainland China,2020-03-01 14:13:18,1272,22,1198,33.8820,113.6140

In [30]:
data2.dtypes

Province_State            object
Country_Region            object
Last_Update       datetime64[ns]
Confirmed                  int64
Deaths                     int64
Recovered                  int64
Latitude                 float64
Longitude                float64
dtype: object

In [7]:
data = pd.concat([data1,data2,data3])
data.head()

C:\Users\super\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,Confirmed,Country_Region,Deaths,Last_Update,Latitude,Longitude,Province_State,Recovered
0,1.0,China,0.0,1/22/2020 17:00,30.6007,117.9249,Anhui,0.0
1,14.0,China,0.0,1/22/2020 17:00,40.2374,116.2305,Beijing,0.0
2,6.0,China,0.0,1/22/2020 17:00,29.4316,106.9123,Chongqing,0.0
3,1.0,China,0.0,1/22/2020 17:00,26.4837,117.9249,Fujian,0.0
4,0.0,China,0.0,1/22/2020 17:00,35.7518,104.2861,Gansu,0.0

In [8]:
print(f" data1: {len(data1)}, data2: {len(data2)}, data3: {len(data3)}, data: {len(data)}")

 data1: 2848, data2: 4799, data3: 75778, data: 83425

In [13]:
data.to_csv("resources/finaldata.csv", index=False, encoding='utf-8-sig')